<section class="pageStepView">
  <div class="row pd15">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h4>To what degree does the following practice describes you?</h4>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
      <div class="mb25"><i>Slide the ruler to the most appropriate response.</i></div>
      <div class="nstSlider" data-range_min="<%= 1 %>" data-range_max="<%= 7 %>" data-cur_min="<%= 4 %>" data-cur_max="<%= 4 %>">
        <div class="bar"></div>
        <div class="leftGrip"></div>
      </div>
      <div class="leftLabel" />
    </div>
    <br>
    <div>
      <% temp_stops = ["Very unlike me", "Unlike me", "Somewhat unlike me", "Neutral", "Somewhat like me", "Like me", "Very much like me"] %>
      <% temp_stops.each do |stop| %>
        <div class="sliderLabel" style="width: <%= 100/(temp_stops.length.to_f) %>%">
          <%= stop %>
        </div>
      <% end %>
      
    </div>
    
    <div>
      <%= text_area_tag "", "", placeholder: "Why did you choose your response?" %>
    </div>
    
    <div class="text-center mt15">
      <%= link_to "Got it!", "javascript:void(0)", class: 'btn flat-drk filled slideNext' %>
    </div>
  
  </div>
</section>
