<% questions.each do |que| %>
  <section class="pageStepView">
    <div class="row pd15">
       <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
         <a class="btn btn-1 pull-right marL10 marT20 goHome" href="<%= @redirect_back_to %>">EXIT</a>
       </div> 
    </div>  
    <div class="row pd15">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">     
        <h4 class="mb25"><%= que.intro_text %></h4>
        <h4><%= que.question_text.html_safe %></h4>
        <% stops = que.stops.order('score ASC') %>
        <div class="mb25"><i>Slide the ruler to the most appropriate response.</i></div>
        <div class="relative">
          <div class="nstSlider" 
              data-range_min="<%= stops.first.score %>"
              data-range_max="<%= stops.last.score %>"
              data-cur_min="<%= session[:assessment_params]["question_#{que.id}"].present? ? session[:assessment_params]["question_#{que.id}"]["value"] : stops[(stops.length / 2)].score %>"         
              data-cur_max="<%= stops[(stops.length / 2)].score %>">
            <div class="bar"></div>
            <div class="leftGrip"></div>
          </div>
          <div class="leftLabel" />
        </div>
      </div>
      
      <br>
      
      <div>
        <% stops.each do |stop| %>
          <div class="sliderLabel" style="width: <%= 100/(stops.length.to_f) %>%">
            <%= stop.text %>
          </div>
        <% end %>
        <%= hidden_field_tag "answers[question_#{que.id}][value]", session[:assessment_params]["question_#{que.id}"] ? session[:assessment_params]["question_#{que.id}"]["value"] : nil, id: "question_#{que.id}" %>
      </div>
      
      <div>
        <%= text_area_tag "answers[question_#{que.id}][comment]", session[:assessment_params]["question_#{que.id}"] ? session[:assessment_params]["question_#{que.id}"]["comment"] : nil, placeholder: "Why did you choose your response?" %>
      </div>
      
      <div class="text-center mt15">
        <%= submit_tag "Next", name: "commit", value: "#{questions.length == questions.index(que)+1 ? 'get results' : 'next'}", class: 'btn flat-drk filled' %>
      </div>
      
    </div>
  </section>
<% end %>