<div class="row pd15">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <a class="btn btn-1 pull-right marL10 marT20 goHome" href="<%= @redirect_back_to %>">EXIT</a>
  </div>
</div>
<div id="expand-cap-page-header" class="row mb35">
  <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h4>
      Based on your responses, we have customized the following approach to help you expand your skills.
    </h4>
  </div>
</div>

<% if score_range %>

  <div class="text-center">
    <div class="inline-block text-left">
      <% score_range.capabilities.reverse.each do |capability| %>

          <div id="anchor_assessment" class="assessment-section Light">
            <div class="assessment-section-top">
              <img class="img-responsive" src="<%= capability.background_photo.url %>">
              <div class="assessment-data">
                <h3 class="assessment-title no-margin"><%= capability.type=="GatherFeedback" ? "Gather Feedback" : capability.type %></h3>
              </div>
            </div>


            <div class="assessment-description">
              <div class="assessment-discription-content">
                <div class="sub-title"><%= capability.sub_title %></div>
                <div class="main-text"><%= decrypt_delimeters_and_return_html(capability.main_text).html_safe %></div>
              </div>
              <div class="action-buttons assessment-footer">
                <hr>
                <div class="row">
                  <div class="col-xs-6">
                    <a href="#"><i class="fa fa-share ml15"></i></a>
                  </div>
                  <div class="col-xs-6 text-right">
                    <a href="#" class="btn expandScoreCard">View</a>
                    <a href="#" class="btn collapseScoreCard">Got it!</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

      <% end %>
    </div>
  </div>
<% end %>