<div class="row">
  <div class="row pd15">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <a class="btn btn-1 pull-right marL10 marT20 goHome" href="<%= @redirect_back_to %>">EXIT</a>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h4 class="mb25">You have just completed <%= @assessment.title %></h4>
    <h4 class="mb25">To develop your skills in this leader behavior, click below to access your personalized recommendations based off of assessment results.</h4>
    <h4 class="mb25">You can also continue to evaluate your capabilities in another leader behavior or return to the main content.</h4>
    
    <div class="row ">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <a href="javascript:void(0)" class="mb15 btn solid-gold btn-block slideNext" >Explore ways to expand my capabilities</a>
        <a href="<%= @redirect_back_to %>"  class="mb15 btn flat-drk filled btn-block" >Return to main content</a>
      </div>
    </div>
  </div>
</div>