if("<%= @score_range.present? %>" == "true"){
  $("#show_results").html("<%= j( render partial: 'results' ) %>");
  $("#expand_capabilities").html("<%= j( render partial: 'expand_capabilities', locals: {score_range: @score_range} ) %>");
  window.nextStep();
}else{
  window.nextStep();
}