<div id="assessment-page">
  <%= form_tag assessment_save_path(@assessment), remote: true do %>
    <section class="pageStepView introHeader active">
      <div class="row pd15">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <a class="btn btn-1 pull-right marL10 marT20 goHome" href="<%= @redirect_back_to %>">EXIT</a>
        </div>
      </div>
      <div class="row pd15">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h2 class="no-margin"><%= @assessment.title %></h2>
          <h3 class="mt10"><%= @assessment.sub_title %></h3>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> <%= @assessment.time %> minutes
            </div>
            <div class="col-md-6 text-right tag-list">
               <%= @assessment.tag_list %>
            </div>

          </div>
        
          <div><%= @assessment.description.html_safe %></div>
        
          <div class="text-center mt35">
            <%= link_to "Begin", "javascript:void(0)", class: "btn solid-gold slideNext" %>
          </div>
        </div>
      </div>
    </section>

    <%#= render "assessment_question_sample" %>
  
    <%= render "assessment_question", assessment: @assessment, questions: @questions %>
    
    <section id="show_results" class="pageStepView"></section>
    <section id="expand_capabilities" class="pageStepView text-left"></section>
  <% end %>
</div>


<script type="text/javascript">
$('.nstSlider').nstSlider({
    "left_grip_selector": ".leftGrip",
    "value_bar_selector": ".bar",
    "value_changed_callback": function(cause, leftValue, rightValue) {
      var $container = $(this).closest('.pageStepView');
      $container.find('.leftLabel').text(" ");
      $container.find('input[type="hidden"]').val(leftValue);
    }
});

</script>