<div class="main-container"ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=2" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Identify how you will employ role models by leadership position and area of expertise.</h2>
        </div>
        <employ-role-models examples="page.ways"></employ-role-models>
        <p class="text-center"> <a href="javascript:void(0)" ng-click="save_complete()"  class="btn btn-2">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leverage Role Models template."></span>
      </div>
    </div>
  </div>
</div>
