<div class="main-container" ng-show="template_data.current_page=='preview'" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=3" class="btn btn-1 " ng-hide="is_review_template">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose" ng-hide="is_review_template">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Leverage Role Models template.
            <br/>
            Review your responses below</h2>
        </div>
        <table class="table table-no-border questionaire-table">
          <thead>
          <th width="30%">Name</th>
          <th width="35%">Ways to Leverage RM</th>
          <th width="35%">Support to Provide RM</th>
          </thead>
          <tbody>
          <tr ng-repeat="example in template_data.pages[2].ways">

            <td><input readonly="readonly" ng-model="example.mentee.title" id="template-tags_1" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>
            <td><textarea readonly="readonly" ng-model="example.to_Leverage" name="leverage_rm_1" placeholder="Click to type"></textarea></td>
            <td><textarea readonly="readonly" ng-model="example.to_provide" name="provide_rm_1" placeholder="Click to type"></textarea></td>
          </tr>
          </tbody>
        </table>

        <p class="text-center" ng-hide="is_review_template"> 
           <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
           &nbsp;&nbsp;&nbsp;
           <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leverage Role Models template."></span>
      </div>
    </div>
  </div>
</div>
