<% unique_id = 'reply_' + content_block_post.id.to_s %>


  <%= form_for [content_block_post, Reply.new], remote: true, class: "new_post" do |f| %>
      <div class="community-dropdown">
        <%= image_tag "community_white.png", class: "contacts-img" %>
        POST TO: <%= select_tag :community_id, options_from_collection_for_select(@contacts_and_communities[:communities], :id, :name), id: "community_id_#{content_block_post.id}" %>
      </div>
      <div class="post-text-fields">
        <%= f.text_area :content, id: "reply_content-#{content_block_post.id}",placeholder: "Add a reply here", class: "post-content reply-input reply_content-#{unique_id}" %>
        <p id="processing-video_<%= unique_id %>"></p>
        <button type="button" class="btn btn-primary vid-button" data-toggle="modal" data-target="#myVideoModal" id="reply-video-link_<%= unique_id %>" onclick="setRecorderReplyOptions($(this));" style="display: none;">Open video recorder</button>
        <%= hidden_field_tag :reply_video_link, '', id: "reply_video_content-#{content_block_post.id}" %>
      </div>
      <div class="item-footer" id="reply-controls">
        <div class="row">
          <div class="col-xs-6 share-buttons">
            <%= link_to "<i class='fa fa-quote-left white'></i>".html_safe, "javascript:void(0);", id: "share-text-reply_#{unique_id}" %>
            <%= link_to "<i class='fa fa-video-camera'></i>".html_safe, "javascript:void(0);", id: "share-video-reply_#{unique_id}" %>
          </div>
          <div class="col-xs-6 text-right">
            <a href="javascript:void(0)" onclick="$(this).parents('form').submit();">SHARE</a>
          </div>
        </div>

      </div>

  <% end %>
<script>


  function setRecorderReplyOptions(current){
    $("input#video_title").hide();
    $("p.processing-video-reply").html("");
    $("p").removeClass('processing-video-reply');
    $(current).prev().addClass('processing-video-reply');
    $(current).prev().prev().addClass('new_reply_video_field');
    $.ajax({
      url: "<%= modify_video_params_content_blocks_path %>",
      type: "POST",
      data: "type=reply&content_block_post=<%= content_block_post.id %>"
    });
  }

  $(function(){

      $("#share-video-reply_<%= unique_id %>").click(function(){
          $("button#reply-video-link_<%= unique_id %> ").show();
          $("#reply_content-<%= content_block_post.id %>").hide();

          var reply_video_val = $("#reply_content-<%= content_block_post.id %>").val();
          if(reply_video_val && reply_video_val.match(/reply_[0-9]/)){
              $("input#reply_video_content-<%= content_block_post.id %>").val( reply_video_val );
              $("div.collapse div.reply-area div.reply-input .new_reply_video_field").val( '' );
          }

      });

      $("#share-text-reply_<%= unique_id %>").click(function(){
          $("#reply_content-<%= content_block_post.id %>").show();
          $("button#reply-video-link_<%= unique_id %>").hide();
          $("p#processing-video_<%= unique_id %>").empty();
      });
      $("#community_id_<%=content_block_post.id%>").multiselect();
  });
</script>