<div class="comment-reply" id="reply-<%= reply.id %>">
  <div class="comment-header row">
    <div class="small shared-by col-md-8">
      <%= image_tag reply.user.image.url(:thumb) %>Reply from <%= reply.user.rank_last_name %>
    </div>
    <div class="col-md-4">
      <div class="delete-link pull-right">
        <% if reply.user_id == current_user.id %>
            <%= link_to "javascript:void(0)",onclick: "$(this).hide().siblings('.confirm-delete').show();", class: "init-delete" do %>
                <i class="fa fa-remove"></i>
            <% end %>
            <%= link_to reply_path(reply), method: "delete", remote: true, class: "confirm-delete", style: "display:none;" do  %>
                <span>Delete?</span>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-content">
    <% if reply.video.present? %>
      <%= video_tag reply.video.url, class: 'pd15 bg-level3 on-pic', style:'width: 100%', preload: 'metadata', controls: true %>
    <% else %>
      <%= reply.content %>
    <% end %>
  </div>


  </div>

</div>