<% if @reply.valid? %>
    $("p.processing-video-reply").html("");
    $("#reply-container-<%= @content_block_post.id %>").append("<%= j(render partial: "reply", locals: {reply: @reply}) %>");
    $("#reply_content-<%= @content_block_post.id %>").val("");
    $("#reply-count-<%= @content_block_post.id %>").html("<%= @content_block_post.replies.count %> replies")
<% end %>