$("#reply-form-holder").html("<%= j(render partial: "replies/form", locals: {content_block_post: @content_block_post, contacts_and_communities: @contacts_and_communities}) %>");
$(".text-collapse").collapse("show");
$("#reply-form-holder").show();
$("#post-forms").hide();