rowan.resourceTemplate.service("communityDataService",[function(){
    return {
        getCommunitiesData: function() {
            return  "<%= j raw(@communities_data) %>";
        },
        getUserContacts: function() {
            return "<%= j raw(@user_contacts) %>";
        },
        getCountryData: function(){
        	return "<%= j raw(@country_data) %>";
        },
        getRankData: function(){
            return "<%= j raw(@rank) %>";
        },
        currentUser: function(){
            return "<%= j raw(@user) %>";
        },
        getRedirectBackTo: function(){
            return '<%= @redirect_back_to %>'
        }
    };
}]);


