<%= javascript_include_tag 'user_communities' %>

<script type="text/javascript">
  <%= render "community_data_service.js.erb" %>
</script>

<div id="quick_navigation" style="background-image: url('assets/createbig.jpeg');" ng-app="resourceTemplate" ng-controller="UserCommunityCtrl" ng-init="init()">
  <div>
  <div class="navigation-menu" ng-show="show_contacts">
    <h3 class="heading">Your Contacts</h3>
      <input type="text" class="search" placeholder="Search"  ng-model="search_contact"/>

    <ul class="chat-list contacts-box">
     <draggable-contact ng-repeat="contact in user_contacts | filter:search_contact" contact-data="contact"></draggable-contact>
    </ul>
    <button class="connect orange" ng-click="show_contacts=false">
    <i class="fa fa-plus"></i>Add a Contact</button>  
  </div>
  <div class="navigation-menu" ng-hide="show_contacts">
    <h3 class="heading">Add a Contact
     <span ng-click="show_contacts=true" ><i class="fa fa-mail-reply pull-right"></i></span></h3>
    <input type="text" class="search" placeholder="Search" ng-change="searchContacts()" ng-model="search_contact_keyword" />
    <div id="menuList">
      <ul>
        <li class="accordian-heading"><a class="htext" href="#"><span>Country</span></a>
          <ul>
            <li ng-repeat="country in countries" ng-class="{'selected-li' : country.id==selected_country.id}">
              <a href="javascript:void(0);" ng-click = "setCountry(country)" >
            {{country.name}}</a>
            </li>
          </ul>
        </li>
        <li class="accordian-heading"><a class="htext" href="#"><span>State</span></a>
          <ul class="accordian-ul-scroll">
            <li ng-repeat="state in selected_country.states" ng-class="{'selected-li' : state.id==selected_state.id}">
              <a href="javascript:void(0);" ng-click = "setState(state)" >
                {{state.name}}
              </a>
            </li>
          </ul>
        </li>
        <li class="accordian-heading"><a class="htext" href="#"><span>Base</span></a>
          <ul>
            <li ng-repeat="base in selected_state.bases" ng-class="{'selected-li' : base.id==selected_base.id}">
              <a href="javascript:void(0);" ng-click = "setBase(base)">
               {{base.name}}
              </a>
            </li>
          </ul>
        </li>
        <li class="accordian-heading"><a class="htext" href="#"><span>Rank</span></a>
          <ul class="accordian-ul-scroll">
            <li ng-repeat="rank in ranks" ng-class="{'selected-li' : rank.id==selected_rank.id}">
              <a href="javascript:void(0);" ng-click = "setRank(rank)">
               {{rank.name}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <ul class="chat-list searched-users-box">
      <li ng-repeat="user in searchedUser">
        <div class="chat-img"><img ng-src="{{user.image_url}}" class="no-border"></div>
        <div class="info"><span>{{user.rank_name}} {{user.first_name}} {{user.last_name}}</span>
        <span>USA, {{user.state_name}}, {{user.base_name}}</span></div>
        <div class="active-icon">
          <input type="checkbox" id="check_{{user.id}}" ng-model="user.selected"/>
          <label for="check_{{user.id}}"></label>
        </div>
      </li>
    </ul>
    <label class="status">You have {{searchedUser.length}} matching results</label>
        <button class="connect" ng-click="addContacts()"><i class="fa fa-plus"></i>Connect</button> 
  </div>
</div>
  <div class="community-main-content">
    <div class="main-container">
      <button class="pull-right save" ng-click="save_allCommunity()">SAVE</button>
      <h2>Your Communities</h2>
      <p class="community_shortdesc">
        Click 'Create a new Community' to begin. Click on Settings to edit once your
        Community has been created. You may only edit communities that you are the Community Leader of.
      </p>
      <div class="one-third com-box" ng-repeat="community in user_communities">
        <h4>{{community.name}}</h4>
        <droppable-community></droppable-community>
      </div>

      <div class="one-third com-box">
        <div class="communities-list" ng-style="{'border-color': new_community.color}">
          <form>
            <ul class="inner-form" ng-show="new_community.show_setting">
              <li>
                <label>Community Name</label>
                <input type="text" ng-model="new_community.name"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete color-code">                  
                  <li class="blue-color" ng-click="new_community.color='#3cc6f4'"></li>
                  <li class="green-color" ng-click="new_community.color='#3bb54b'"></li>
                  <li class="yellow-color" ng-click="new_community.color='#faa726'"></li>
                  <li class="purple-color" ng-click="new_community.color='#b17fb8'"></li>
                  <li class="red-color" ng-click="new_community.color='#b80000'"></li>
                  <li class="pink-color" ng-click="new_community.color='#ef4c7a'"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                 <angucomplete-alt id="members"
                    placeholder="Search User"
                    pause="400"
                    selected-object="new_community.owner"
                    remote-url="/search_all_users.json?query="
                    title-field="first_name,last_name"
                    search-fields="first_name, last_name"
                    input-class="form-control input-field-transparent"></angucomplete-alt>
              </li>
              <li style="visibility:hidden">
                <label>Community Status</label>
                <input type="text"/>
              </li>
              <li>
                <button type="submit" ng-click="save_community(new_community)">SAVE</button>
              </li>
            </ul>
          </form>
          <button class="clone" ng-click="new_community.show_setting=true"><i class="fa fa-plus"></i><br/>Create a new Community</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.color-pallete li').click(function(event) {
    var Col = $(this).attr('data-color');
    $(this).closest('.communities-list').css('border-color', ''+Col+'');
  }); 
});


$('#menuList > ul > .accordian-heading > .htext').click(function(event) {

  event.preventDefault();
  var checkElement = $(this).next();
  $('#menuList li').removeClass('active');
  $(this).closest('li').addClass('active'); 

  if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
    $(this).closest('li').removeClass('active');
    checkElement.slideUp('normal');
  }

  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
    $('#menuList ul ul:visible').slideUp('normal');
    checkElement.slideDown('normal');
  }
  
  if (checkElement.is('ul')) {
    return false;
  } else {
    return true;  
  }
});
</script>