<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Crop Image</h4>
  </div>
  <div class="modal-body">
    <%= image_tag @user.image.url(:original), :id => "cropbox" %>

    <div style="width:100px; height:100px; overflow:hidden">
      <%= image_tag @user.image.url(:original), :id => "preview" %>
    </div>


  </div>
  <div class="modal-footer">

    <%= form_for @user, url: upload_profile_pic_path(@user), remote: true,  :html => { :multipart => true, id: "image-form"  } do |f| %>
        <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
            <%= f.hidden_field attribute, :id => attribute %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Crop", class: "btn btn-primary" %>
    <% end %>
  </div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script type="text/javascript" charset="utf-8">
    $(function() {
        $('#cropbox').Jcrop({
            onChange: update_crop,
            onSelect: update_crop,
            setSelect: [0, 0, 500, 500],
            boxWidth: 500,
            boxHeight: 500,
            trueSize: [<%= @user.image_geometry(:original).width %>, <%= @user.image_geometry(:original).height %>],
            aspectRatio: 1
        });
    });

    function update_crop(coords) {
        var rx = 100/coords.w;
        var ry = 100/coords.h;
        $('#preview').css({
            width: Math.round(rx * <%= @user.image_geometry(:original).width %>) + 'px',
            height: Math.round(ry * <%= @user.image_geometry(:original).height %>) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
        var ratio = 1;
        $("#crop_x").val(Math.round(coords.x * ratio));
        $("#crop_y").val(Math.round(coords.y * ratio));
        $("#crop_w").val(Math.round(coords.w * ratio));
        $("#crop_h").val(Math.round(coords.h * ratio));
    }
</script>
