<div class="modal-dialog">
<div class="modal-content clearfix">
<div class="modal-header-dark">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/assets/x_circle_white_sm.png"></button>
  <div class="modal-title text-center">
    Settings
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),remote: true, html: { method: :put, class: "existing_user" }) do |f| %>
  <div class="settings_personal_data">
    <div class="row mb15">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_first_name">First name</label><br />
          <%= f.text_field :first_name, class: "form-control only-border",placeholder: "Click to type", data: {errorkey: "first_name"} %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_last_name">Last name</label><br />
          <%= f.text_field :last_name, class: "form-control only-border",placeholder: "Click to type", data: {errorkey: "last_name"} %>
        </div>
      </div>
    </div>


    <div class="row mb15">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_rank">Rank</label><br />
          <%= f.collection_select :rank_id, @ranks, :id, :name, {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'rank_id'}}%>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_country">Country</label><br />
          <%= f.select :country_id, options_for_select(@countries.collect { |country| [country.name.titleize, country.id] } ), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'country_id'}} %>
        </div>
      </div>
    </div>

    <div class="row mb15">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_state">State</label>
          <br />
          <%= f.select :state_id, options_for_select(@states.collect { |state| [state.name.titleize, state.id] }), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'state_id'}}  %>

        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_base">Base</label>
          <br />
          <%= f.select :base_location_id, options_for_select(@bases.collect { |base| [base.name.titleize, base.id] }), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'base_location_id'}}  %>
        </div>
      </div>
    </div>
    <div class="row mb15">
      <div class="col-xs-12">
        <div class="form-group">

          <label for="user_email">Primary Email Address*</label><br />
          <!--<input class="form-control only-border" data-errorkey="email" placeholder="Click to type" type="email" value="" name="user_email" id="user_email" />-->
          <%= f.email_field :email, class: "form-control only-border", data: {errorkey: "email"}, placeholder: "Click to type"  %>
          <p class="help-block">*This address will be used for login and account notifications.</p>

        </div>
      </div>
    </div>

    <div class="row mb15">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_password">Current Password</label>
          <br />
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control only-border',data: {errorkey: 'current_password'}, placeholder: "Click to type" %>

        </div>
      </div>
    </div>

    <div class="row mb15">
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_password">Change Password</label>
          <br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control only-border', data: {errorkey: 'password'}, placeholder: "Click to type" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label for="user_password_confirmation">Confirm New Password</label>
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control only-border',data: {errorkey: 'password_confirmation'}, placeholder: "Click to type" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <div class="settings_social_data">
    <div class="row mb15 v-min-h">
      <div class="col-xs-12">
        <div class="form-group text-right">
          <div class="col-xs-12">
            <div class="row mt35">
              <div class="col-xs-12">
                <div class="image-uploader" data-base-width="250" data-base-height="250">
                  <div class="image-sm image-holder settings">
                    <%= image_tag resource.image("thumb"), class: 'user-image-round' %>
                  </div>
                </div>


                <%= form_for resource, url: upload_profile_pic_path(resource), remote: true,  :html => { :multipart => true, id: "image-form"  } do |f| %>
                    <a class="btn flat-drk filled-sm mb25 active-browse-btn" href="javascript:void(0)"><i class="fa fa-desktop mr10"></i>Import from computer</a>
                    <%= f.file_field :image, onchange: "$('#image-form').submit()", class: "hide-browse-btn-settings"   %>
                <% end %>

                <a class="btn flat-drk filled-sm mb25 hide-ui-elements" href="javascript:void(0)">
                  <i class="fa fa-facebook-square mr10"></i>
                  Import from facebook
                </a>
                <a class="btn flat-drk filled-sm mb25 hide-ui-elements" href="javascript:void(0)">
                  <i class="fa fa-twitter-square mr10"></i>
                  Import from twitter
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb15">
      <div class="col-xs-12">
        <div class="form-group text-right">
          <input type="submit" name="save" value="Save" onclick="$('#edit_user').submit();" class="btn solid-gold" />
        </div>
      </div>
    </div>
  </div>

</div>
</div>

