<section class="pageStepView" style="padding-top:0px;">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>  
    
    <div id="registrationForm" class="row pd15 text-center">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
        <h4 class="section-title text-center">Great! Please fill out the form below.</h4>
        
        <div class="row mb15">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, class: 'form-control only-border', data: {errorkey: 'first_name'}, placeholder: "Click to type" %>
            </div>
          </div>
          
          <%= f.hidden_field :miltary_email, id: 'miltary_email' %>
          
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, class: 'form-control only-border', data: {errorkey: 'last_name'}, placeholder: "Click to type" %>
            </div>
          </div>
        </div>
        <div class="row mb15">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :rank %><br />
              <%= f.collection_select :rank_id, @ranks, :id, :name, {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'rank_id'}} %>
            </div>
          </div>
          <% @countries = Country.all %>
          <% @states = []%>
          <% @bases = [] %>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :country %><br />
              <%= f.select :country_id, options_for_select(@countries.collect { |country| [country.name.titleize, country.id] } ), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'country_id'}} %>
            </div>
          </div>
        </div>

        <div class="row mb15">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :state %><br />
              <%= f.select :state_id, options_for_select(@states.collect { |state| [state.name.titleize, state.id] }), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'state_id'}, :disabled => true}  %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :base %><br />
              <%= f.select :base_location_id, options_for_select(@bases.collect { |base| [base.name.titleize, base.id] }), {prompt: "Select"}, {class: 'form-control', data: {errorkey: 'base_location_id'}, :disabled => true}  %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, "Primary Email Address*" %><br />
          <%= f.email_field :email, class: 'form-control only-border', data: {errorkey: 'email'}, placeholder: "Click to type" %>
          <p class="help-block">*This address will be used for login and account notifications.</p>
        </div>
        
        <div class="row mb15">
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control only-border', data: {errorkey: 'password'}, placeholder: "Click to type" %>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm Password" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control only-border',data: {errorkey: 'password_confirmation'}, placeholder: "Click to type" %>
            </div>
          </div>
        </div>
        
        <div class="form-group text-center">
          <%= f.submit "Next", class: 'btn solid-gold' %>
        </div>
      </div>
    </div>    
  <% end %>
</section>
