<strong></strong><%= form_tag("save_image", :multipart => true ) do %>
  <% if @user.errors.any? %>
  <div id="error_explanation" class="error-box">
    <h2><%= pluralize(@user.errors.count, "error") %>prohibited image to sanve</h2>

    <ul>
    <% @user.errors.messages.each do |message| %>
      <li><b><%= message[0] %></b>: <%= message[1][0]%></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field-row">
    <%= label_tag :image %><br>
    <%= file_field_tag :image ,required: true%><br>
  </div>
  <div class="div-block">
    <%= button_tag :save %>
  </div>
<%end%>