<% if resource.errors.present? %>
  App.ErrorHandler.add_errors("#registrationForm", "<%= j(raw(resource.errors.to_json)) %>");
<% else %>
  $("#add_photo_container").html("<%= j(render partial: 'users/add_photo', locals: {user: resource}) %>")
  window.nextStep();
<% end %>