<% if @cropped %>
    $("#image-modal").modal('hide');
    $(".image-holder img").replaceWith("<%= j(image_tag @user.image(:thumb), class: 'user-image-round') %>")
<% else %>
    $("#image-modal").html("<%= j(render partial: "crop_image_modal") %>");
    $("#image-modal").modal();
<% end %>
