$('#user_state_id').prop('disabled', false);
$('#user_state_id').html("<%= escape_javascript(options_for_select(@states.collect { |state| [state.name.titleize, state.id] })) %>");
$('#user_state_id').prepend("<option value='' selected='selected'>Select State</option>")