$('#user_base_location_id').prop('disabled', false);
$('#user_base_location_id').html("<%= escape_javascript(options_for_select(@bases.collect { |base| [base.name.titleize, base.id] })) %>");
$('#user_base_location_id').prepend("<option value='' selected='selected'>Select Base</option>")