<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Study Tool</h2>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> 6 minutes
            </div>
            <div class="col-md-6 text-right tag-list">
              Life Long Learning, Develops Others, Competence
            </div>
          </div>
          <p>A command reading program is one way to foster self-study. Yet recent survey results indi- cate commanders must make the reading relevant, provide a purpose, and follow up. Use the following study tool to relate readings specifically to leadership and leader development. The study tool format can be used to present a short lesson on leadership to other members of the command.</p>
        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span>
      </div>
    </div>
  </div>
</div>