<div class="main-container" ng-show="template_data.current_page==5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=4" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please fill out the following details in regards to your reading.</h2>
        </div>
        <div class="text-container no-top-mg">
          <div ng-repeat="question in page.questions">
            <label>{{ question.text }}</label>
            <textarea ng-model="question.answer" data-autoresize placeholder="Click to type" style="resize: none;"></textarea>
          </div>
        </div>
        <p class="text-center"> <a href="javascript:void(0)" ng-click="save_complete()" class="btn btn-1">complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span>
      </div>
    </div>
  </div>
</div>