<!-- Page #3 start -->
<div class="main-container" ng-show="template_data.current_page==3">
  <div class="load-bar load-bar-5"> <span></span> </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=2"   class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">Evaluate your current progress in the Provides area as a mentor.</h2>
        </div>
        <!--table-->
         <yes-no-questions questions-data="page.questions"></yes-no-questions>
        <!--/table-->
        
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()"class="btn btn-1">Next</a> </p>
      </div>
    </div>
  </div>
</div>
<!-- Page #3 end -->