<!-- Page #7 start -->
<div class="main-container" ng-show="template_data.current_page==7">
  <div class="load-bar load-bar-100"> <span></span> </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=6"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">What is your planned action for becoming a mentor or maintaining a mentoring relationship?</h2>
        </div>

       <div class=" clearifx text-center"> <textarea name="turn_around" rows="5" cols="80" placeholder="Click to type" class="txtregion" ng-model="page.questions[0].answer"></textarea></div>
       <div class=" clearifx text-center v-hr-loose"><a href="javascript:void(0);" ng-click="save_complete()" class="btn btn-1">Complete</a></div>
      </div>
    </div>
  </div>
</div>
<!-- Page #7 end -->