<div class="main-container preview" ng-show="template_data.current_page=='preview'" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=7"  class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">You’ve successfully filled out Be a Mentor template.<br/>
            Review your responses below</h2>
        </div>
        <table class="table table-no-border yesNotable">
          <thead>
          <tr>
            <th>Key Roles and Responsibilities</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="question in collectQuestions(template_data.pages, 3)" >
            <td>{{question.text}}</td>
            <td class="yesNo" >
              <div ng-if="question.hasOwnProperty('status')">
                <span class="table-btn" ng-hide="question.status==2" ng-class="{'green-font': question.status==1}" data-type="yes">Yes</span>
                <span class="table-btn" ng-hide="question.status==1" ng-class="{'red-font': question.status==2}" data-type="no">No</span>
              </div>

              <textarea readonly="true" ng-if="question.hasOwnProperty('answer')" ng-model="question.answer" name="turn_around" rows="2" cols="20" placeholder="I'll complete a training session" class="txtregion"></textarea>
            </td>
          </tr>

          <tr ng-hide="is_review_template">
              <td colspan="4" align="center">
                   <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
                   <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
              </td>
          </tr>
          </tbody>
        </table>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Be a Mentor Template."></span>
      </div>
    </div>
  </div>
</div>