<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="1-assignment_demands_assessment_2"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Please fill out the below in accordance to the readiness of the leader for this
            assignment's key demands.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Assignment Demands</th>
              <th>Part of this Job</th>
              <th>Is Leader Ready for this Demand</th>
              <th>Support Leader Needs to Succeed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Turn around:</strong> Unit/team has suffered a set-back and is poerforming poorly.</td>
              <td><input type="checkbox" class="style-radio" id="turnaround"/><label class="radio-label" for="turnaround"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="turn_around" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>High Performance Culture:</strong> Expectations of leaders are high.</td>
              <td><input type="checkbox" class="style-radio" id="performance"/><label class="radio-label" for="performance"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="high_performance" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Innovation:</strong> Highly skilled team responsible for new ideas.</td>
              <td><input type="checkbox" class="style-radio" id="innovation"/><label class="radio-label" for="innovation"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="innovation" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Task Force/Matrix:</strong> Leaders must influence people over whom they have no authority.</td>
             <td><input type="checkbox" class="style-radio" id="force"/><label class="radio-label" for="force"></label> </td>
             <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="task_force" placeholder="Click to type"></textarea></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
        <p class="text-center"> <a href="1-assignment_demands_assessment_4" class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>