<!--main container-->
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="1-assignment_demands_assessment_5"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"> <img src="/assets/profile-pic2.png" > <span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out the Assignment Demands Assessment template.<br/>
            Review your responses below</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Assignment Demands</th>
              <th>Part of this Job</th>
              <th>Is Leader Ready for this Demand</th>
              <th>Support Leader Needs to Succeed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Turn around: Unit/team has suffered a set-back and is poerforming poorly.</td>
              <td><input type="checkbox" class="style-radio" id="turnaround" /><label class="radio-label" for="turnaround"></label> </td>
              <td><span class="table-btn green-font" data-type="yes">Yes</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>High Performance Culture: Expectations of leaders are high.</td>
              <td><input type="checkbox" class="style-radio" id="performance"/><label class="radio-label" for="performance"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Innovation: Highly skilled team responsible for new ideas.</td>
              <td><input type="checkbox" class="style-radio" id="innovation" /><label class="radio-label" for="innovation"></label> </td>
              <td><span class="table-btn green-font" data-type="yes">Yes</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Task Force/Matrix: Leaders must influence people over  whom they have no authority.</td>
              <td><input type="checkbox" class="style-radio" id="force" /><label class="radio-label" for="force"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Cross-Cultural Situation: Differing cultures must be influenced to achieve mission success.</td>
              <td><input type="checkbox" class="style-radio" id="situation" /><label class="radio-label" for="situation"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Staff Assignment - Direct: Executes systems, procedures, and policies in support of unit.</td>
              <td><input type="checkbox" class="style-radio" id="direct" checked/><label class="radio-label" for="direct"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Staff Assignment - Operational/Strategic: Designs and executes systems, procedures, and policies.</td>
              <td><input type="checkbox" class="style-radio" id="operational" checked/><label class="radio-label" for="operational"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td>Confront Poor Performance: Need to improve or replace subordinates.</td>
              <td><input type="checkbox" class="style-radio" id="confront" checked/><label class="radio-label" for="confront"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td><strong>Achieve Results:</strong> Definable, demanding performance measures</td>
              <td><input type="checkbox" class="style-radio" id="results" checked/><label class="radio-label" for="results"></label> </td>
              <td><span class="table-btn red-font" data-type="no">No</span></td>
              <td></td>
            </tr>
            <tr>
              <td><strong>Additional Assignment Demands:</strong> Technical Experience</td>
              <td><input type="checkbox" class="style-radio" id="assignment" checked/><label class="radio-label" for="assignment"></label> </td>
              <td><span class="table-btn green-font" data-type="yes">Yes</span></td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris .</td>
            </tr>
            <tr>
              <td colspan="4" align="center"><a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a></td>
            </tr>
          </tbody>
        </table>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>
<!--/main container-->