<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="1-assignment_demands_assessment_4"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"> <img src="/assets/profile-pic2.png" > <span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Please fill out the below in accordance to the readiness of the leader for this
            assignment's key demands.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Assignment Demands</th>
              <th>Part of this Job</th>
              <th>Is Leader Ready for this Demand</th>
              <th>Support Leader Needs to Succeed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Confront Poor Performance:</strong> Need to improve or replace subordinates.</td>
              <td><input type="checkbox" class="style-radio" id="confront"/><label class="radio-label" for="confront"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="poor_performance" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Achieve Results:</strong> Definable, demanding performance measures.</td>
              <td><input type="checkbox" class="style-radio" id="results"/><label class="radio-label" for="results"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="achieve_results" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Additional Assignment Demands:</strong><br/>
                <textarea data-autoresize name="additional_assignment" placeholder="Click to add your own" style="resize: none; height:35px;"></textarea>
              </td>
              <td><input type="checkbox" class="style-radio" id="assignment"/><label class="radio-label" for="assignment"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="additional_assignment" placeholder="Click to type"></textarea></td>
            </tr>

          </tbody>
        </table>
        <!--/table-->
        <button type="button" class="add-btn"><span class="glyphicon glyphicon-plus"></span>Add Additional Assignment Demands</button>
        <p class="text-center"> <a href="1-assignment_demands_assessment_summary" class="btn btn-1">COMPLETE</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.add-btn').click(function () {
  $('.yesNotable tbody').append('<tr>' +'<td><textarea data-autoresize name="additional_assignment" placeholder="Click to add your own" style="resize: none;"></textarea></td>'+'<td><input type="checkbox" class="style-radio" id="new_assignment"/><label class="radio-label" for="new_assignment"></label> </td>'+'<td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>'+'<td><textarea placeholder="Click to type"></textarea></td>'+'</tr>');
})
$('textarea[data-autoresize]').each(function(){
  var offset = this.offsetHeight - this.clientHeight;
  var resizeTextarea = function(el) {
      $(el).css('height', 'auto').css('height', el.scrollHeight + offset);
  };
  $(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});
</script>