<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="1-assignment_demands_assessment_3"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Please fill out the below in accordance to the readiness of the leader for this
            assignment's key demands.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Assignment Demands</th>
              <th>Part of this Job</th>
              <th>Is Leader Ready for this Demand</th>
              <th>Support Leader Needs to Succeed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Cross-Cultural Situation:</strong> Differing cultures must be influenced to achieve mission success.</td>
             <td><input type="checkbox" class="style-radio" id="situation"/><label class="radio-label" for="situation"></label> </td>
             <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="cross_culture" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Staff Assignment - Direct:</strong> Executes systems, procedures, and policies in  support of unit.</td>
              <td><input type="checkbox" class="style-radio" id="direct"/><label class="radio-label" for="direct"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="staff_assignment_1" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td><strong>Staff Assignment - Operational/Strategic:</strong> Designs and executes systems, procedures, and policies.</td>
              <td><input type="checkbox" class="style-radio" id="operational"/><label class="radio-label" for="operational"></label> </td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
              <td><textarea name="staff_assignment_2" placeholder="Click to type"></textarea></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
        <p class="text-center"> <a href="1-assignment_demands_assessment_5" class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>