<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="10-training_and_professional_development_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Identify purposes and methods by which you will implement the<br>OPD/NCOPD program.</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
            <th width="30%">Application</th>
            <th width="35%">Purpose</th>
            <th width="35%">Method</th>
          </thead>
          <tbody>
          <tr>
            <td>Issue Command Guidance</td>
            <td><textarea name="command_purpose" placeholder="Click to type"></textarea></td>
            <td><textarea name="command_method" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Leader Career Path Education</td>
            <td><textarea name="education_purpose" placeholder="Click to type"></textarea></td>
            <td><textarea name="education_method" placeholder="Click to type"></textarea></td>
          </tr>
          </tbody>
        </table>

        <p class="text-center"> <a href="10-training_and_professional_development_summary" class="btn btn-2">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently Purpose and Method for Training and Professional Development template."></span>
      </div>
    </div>
  </div>
</div>
