<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="11-soar_observation_source_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Reflect on the below to give leader's more accurate and action-oriented feedback.</h2>
        </div>
        <div class="text-container no-top-mg">
          <label><strong>Situation</strong>: Describe the situation/conditions of the assessment.</label>
          <textarea name="situation" placeholder="Click to type"></textarea>
          
          <label><strong>Observation</strong>: Describe behavior and impact on mission and/or Soldiers.</label>
          <textarea name="observation" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center"> <a href="11-soar_observation_source_4" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing SOAR Observation &amp; Assessment Tool template."></span> 
      </div>
    </div>
  </div>
</div>