<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: SOAR Observation &amp; Assessment Tool</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Use SOAR to remind you what information to capture while observing a leader. By doing so, your feedback to the leader will be more accurate and actoun-oriented. Maintaining and reviewing SOAR cards are also a great way to prepare for a counseling session.</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="11-soar_observation_source_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing SOAR Observation &amp; Assessment Tool template."></span>
      </div>
    </div>
  </div>
</div>