<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="11-soar_observation_source_4" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out SOAR Observation &amp; Assessment Tool template.
          <br/>
          Review your responses below</h2>
        </div>

        <div class="text-big-container no-top-mg">
          <label><strong>Situation</strong>: Describe the situation/conditions of the assessment.</label>
          <textarea name="situation" placeholder="Click to type">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ante vel nulla maximus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque dui mauris, dignissim eu sollicitudin et, rutrum id urna. Aenean scelerisque ornare magna vel interdum. Phasellus sit amet finibus neque. Nullam scelerisque velit eu neque euismod, at porttitor diam egestas.</textarea>
          
          <label><strong>Observation</strong>: Describe behavior and impact on mission and/or Soldiers.</label>
          <textarea name="observation" placeholder="Click to type">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ante vel nulla maximus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque dui mauris, dignissim eu sollicitudin et, rutrum id urna. Aenean scelerisque ornare magna vel interdum. Phasellus sit amet finibus neque. Nullam scelerisque velit eu neque euismod, at porttitor diam egestas.</textarea>
          
          <label><strong>Associate &amp; Assess</strong>: Identify FM 6-22 competency (see page 19); assess proficiency.</label>
          <textarea name="associate_assess" placeholder="Click to type">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ante vel nulla maximus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque dui mauris, dignissim eu sollicitudin et, rutrum id urna. Aenean scelerisque ornare magna vel interdum. Phasellus sit amet finibus neque. Nullam scelerisque velit eu neque euismod, at porttitor diam egestas.</textarea>
          
          <label><strong>Reinforce &amp; Recommend</strong>: Note appropriate feedback, praise, or correction. Recommended action to sustain/improve leader behavior.</label>
          <textarea name="reinforce_recommend" placeholder="Click to type">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at ante vel nulla maximus tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque dui mauris, dignissim eu sollicitudin et, rutrum id urna. Aenean scelerisque ornare magna vel interdum. Phasellus sit amet finibus neque. Nullam scelerisque velit eu neque euismod, at porttitor diam egestas.</textarea>
        </div>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing SOAR Observation &amp; Assessment Tool template."></span> 
      </div>
    </div>
  </div>
</div>