<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Study Tool</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>A command reading program is one way to foster self-study. Yet recent survey results indi- cate commanders must make the reading relevant, provide a purpose, and follow up. Use the following study tool to relate readings specifically to leadership and leader development. The study tool format can be used to present a short lesson on leadership to other members of the command.</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="12-study_tool_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span>
      </div>
    </div>
  </div>
</div>