<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="12-study_tool_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please fill out the following details in regards to your reading.</h2>
        </div>
        <div class="text-container no-top-mg">
          <label>Describe the leader’s environment/situation.</label>
          <textarea name="situation" placeholder="Click to type"></textarea>
          
          <label>Who was the leader leading?</label>
          <textarea name="leader" placeholder="Click to type"></textarea>
          
          <label>How did the leader attempt to influence the situation/ people? (Use FM 6-22 Leadership Re- quirements Model language)</label>
          <textarea name="leader_attempt" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center"> <a href="12-study_tool_5" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span> 
      </div>
    </div>
  </div>
</div>