<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="12-study_tool_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please fill out the following details in regards to your reading.</h2>
        </div>
        <div class="text-date-box">
          <div class="text-container-tool">
            <label>Book/Article/Reference</label>
            <textarea name="books" data-autoresize placeholder="Click to type" style="resize: none;"></textarea>
            <label>Name of Leader</label>
            <textarea name="leader" data-autoresize placeholder="Click to type" style="resize: none;"></textarea>
            <label>Position</label>
            <textarea name="position" data-autoresize placeholder="Click to type" style="resize: none;"></textarea>
          </div>
        </div>
        <p class="text-center"> <a href="12-study_tool_4" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('textarea[data-autoresize]').each(function(){
  var offset = this.offsetHeight - this.clientHeight;
  var resizeTextarea = function(el) {
      $(el).css('height', 'auto').css('height', el.scrollHeight + offset);
  };
  $(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});
</script>