<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="12-study_tool_5" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Study Tool template.
          <br/>
          Review your responses below</h2>
        </div>
        <div class="text-container no-top-mg">
          <label>Book/Article/Reference</label>
          <textarea name="books" data-autoresize placeholder="Click to type" style="resize: none;">Lorem ipsum dolor</textarea>
          
          <label>Name of Leader</label>
          <textarea name="leader" data-autoresize placeholder="Click to type" style="resize: none;">Lorem ipsum dolor</textarea>
          
          <label>Position</label>
          <textarea name="position" data-autoresize placeholder="Click to type" style="resize: none;">Lorem ipsum dolor</textarea>
          <label>Describe the leader’s environment/situation.</label>
          <textarea name="situation" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Who was the leader leading?</label>
          <textarea name="leader" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>How did the leader attempt to influence the situation/ people? (Use FM 6-22 Leadership Re- quirements Model language)</label>
          <textarea name="leader_attempt" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>What were the positive and negative outcomes?</label>
          <textarea name="outcomes" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>What were the leader’s strengths and development needs?</label>
          <textarea name="needs" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>What lessons from this leader’s experience can we apply immediately and/or down the road?</label>
          <textarea name="lessons" placeholder="Click to type">Lorem ipsum dolor</textarea>
        </div>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span> 
      </div>
    </div>
  </div>
</div>