<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="12-study_tool_4" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please fill out the following details in regards to your reading.</h2>
        </div>
        <div class="text-container no-top-mg">
          <label>What were the positive and negative outcomes?</label>
          <textarea name="outcomes" placeholder="Click to type"></textarea>
          
          <label>What were the leader’s strengths and development needs?</label>
          <textarea name="needs" placeholder="Click to type"></textarea>
          
          <label>What lessons from this leader’s experience can we apply immediately and/or down the road?</label>
          <textarea name="lessons" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center"> <a href="12-study_tool_summary" class="btn btn-1">complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Study Tool template."></span> 
      </div>
    </div>
  </div>
</div>