<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="13-tiger_team_implementation_tool_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Implement and assess the below actions to promote learning while generating innovative solutions.</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
            <th width="35%">Actions</th>
            <th width="65%">Notes/Guidance</th>
          </thead>
          <tbody>
          <tr>
            <td>ID problem/opportunity with critical mission/ Soldier impact</td>
            <td><textarea name="impact" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Brief chain of command on Tiger Team authority and process</td>
            <td><textarea name="process" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Select cross-functional team based on expertise, innovative thinking, and self-motivation</td>
            <td><textarea name="team" placeholder="Click to type"></textarea></td>
          </tr>
          </tbody>
        </table>
        <p class="text-center"> <a href="13-tiger_team_implementation_tool_4" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span> 
      </div>
    </div>
  </div>
</div>