<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="13-tiger_team_implementation_tool_6" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Tiger Team Implementation Tool template.
          <br/>
          Review your responses below</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
            <th width="35%">Actions</th>
            <th width="65%">Notes/Guidance</th>
          </thead>
          <tbody>
          <tr>
            <td>ID problem/opportunity with critical mission/ Soldier impact</td>
            <td><textarea name="impact" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Brief chain of command on Tiger Team authority and process</td>
            <td><textarea name="process" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Select cross-functional team based on expertise, innovative thinking, and self-motivation</td>
            <td><textarea name="team" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>  
          <tr>
            <td>Identify Tiger Team facilitator(s); clarify their roles/responsibilities</td>
            <td><textarea name="roles" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Isolate/protect Team from operational responsibilities</td>
            <td><textarea name="responsibilities" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Provide Team with reachback capability/ access to knowledge</td>
            <td><textarea name="knowledge" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>  
          <tr>
            <td>Authorize direct coordination with higher/adjacent experts</td>
            <td><textarea name="coordination" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Establish quick deadlines for results</td>
            <td><textarea name="deadlines" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Report directly to commander with solution</td>
            <td><textarea name="solution" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>  
          <tr>
            <td>Facilitate solution implementation</td>
            <td><textarea name="implementation" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>AAR Tiger Team process</td>
            <td><textarea name="team_process" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Announce solutions, recognize Tiger Team members and supporting personnel. Officially disband.</td>
            <td><textarea name="solutions" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          </tbody>
        </table>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span> 
      </div>
    </div>
  </div>
</div>