<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Tiger Team Implementation Tool</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Use the Tiger Team Implementation tool to promote learning while generating innovative solutions to critical problems or opportunities. By rotating different leaders through the Tiger Team experience, you create agents of innovation and learning throughout your command. The unit commander’s role is critical to the Tiger Team’s success. You must be willing to let a free-roaming team work autonomously around stovepiped functions and the unit chain of command. And you must be comfortable with the risk that comes with imple- menting Tiger Team recommendations on the spot. If you are, the Tiger Team concept will encourage a climate of learning, development, and innovation across your command.</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="13-tiger_team_implementation_tool_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span>
      </div>
    </div>
  </div>
</div>