<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="13-tiger_team_implementation_tool_1" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        </div>
        <div class="text-container">
          <label>Template Name:</label>
          <input type="text" name="template_name" placeholder="Click to type"  class="form-control tempname" />
        </div>
        <p class="text-center"> <a href="13-tiger_team_implementation_tool_3" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span> 
      </div>
    </div>
  </div>
</div>