<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="14-unit_leader_development_roles_and_responsibilities_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Fill out the below with notes on the responsibilities for leader development in your command.</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
            <th width="35%">Position</th>
            <th width="65%">Roles &amp; Responsibilities</th>
          </thead>
          <tbody>
          <tr>
            <td><textarea placeholder="Click to type"></textarea></td>
            <td><textarea placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td><textarea placeholder="Click to type"></textarea></td>
            <td><textarea placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td><textarea placeholder="Click to type"></textarea></td>
            <td><textarea placeholder="Click to type"></textarea></td>
          </tr>
          </tbody>
        </table>
        
        <button type="button" class="add-position-btn"><span class="glyphicon glyphicon-plus"></span>Add a Position</button>
        <p class="text-center"> <a href="14-unit_leader_development_roles_and_responsibilities_summary" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Unit Leader Development Roles and Responsibilities template."></span> 
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.add-position-btn').click(function () {
  $('.temp-table tbody').append('<tr>' +'<td><textarea placeholder="Click to type"></textarea>'+'<td><textarea placeholder="Click to type"></textarea></td>'+'</tr>');
});
</script>