<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="14-unit_leader_development_roles_and_responsibilities_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Unit Leader Development Roles and Responsibilities template.
          <br/>
          Review your responses below</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
            <th width="35%">Position</th>
            <th width="65%">Roles &amp; Responsibilities</th>
          </thead>
          <tbody>
          <tr>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          </tbody>
        </table>
        
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Unit Leader Development Roles and Responsibilities template."></span> 
      </div>
    </div>
  </div>
</div>
