<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Unit Leader Development Roles and Responsibilities</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Efficient implementation of unit leader development depends on a clear delineation of responsibilities across leaders and staff both within and outside of your command. Use the Unit Leader Development Roles and Responsibilities Worksheet to write out your notes on the responsibilities for leader development in your command.</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="14-unit_leader_development_roles_and_responsibilities_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Unit Leader Development Roles and Responsibilities template."></span>
      </div>
    </div>
  </div>
</div>