<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="2-be_a_mentor_5"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Evaluate your current progress in the Serves area as a mentor.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Key Roles and Responsibilities</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>As a confidant, counselor, guide, and adviser</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>As a sounding board for career development ideas/ opportunities</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>As a resource for enhancing personal and professional attributes</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
        <p class="text-center"> <a href="2-be_a_mentor_7" class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Be a Mentor Template."></span>
      </div>
    </div>
  </div>
</div>