<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="2-be_a_mentor_6"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">What is your planned action for becoming a mentor or maintaining a mentoring relationship?</h2>
        </div>

       <div class=" clearifx text-center"> <textarea name="turn_around" rows="5" cols="80" placeholder="Click to type" class="txtregion"></textarea></div>
       <div class=" clearifx text-center v-hr-loose"><a href="2-be_a_mentor_summary" class="btn btn-1">Complete</a></div>
       <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Be a Mentor Template."></span>
      </div>
    </div>
  </div>
</div>