<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid">
          <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a>
          <a href="2-be_a_mentor_1"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header-empty"></div>
          <h2 class="text-center">Please designate a potential mentee.</h2>
        </div>
        <div class="text-date-box">
          <div class="ui-widget">
            <input id="template-tags" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts">
            
          </div>
          <div class="text-container">
            <label>Template Name:</label>
            <input type="text" name="template_name" placeholder="Click to type"  class="form-control tempname" />

            <label>Current Position:</label>
            <input name="current_position" class="form-control tempname" type="text" placeholder="Click to type" />
          </div>
        </div>
        <p class="text-center"> <a href="2-be_a_mentor_3" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Be a Mentor Template."></span>
      </div>
    </div>
  </div>
</div>