<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="2-be_a_mentor_7"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out Be a Mentor template.<br/>
            Review your responses below</h2>
        </div>
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Key Roles and Responsibilities</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Candid feedback about perceived strengths and developmental needs</td>
              <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>Encouragement and motivation</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span</td>
            </tr>
            <tr>
              <td>Advice on dealing with roadblocks</td>
              <td class="yesNo"><span class="table-btn red-font" data-type="no">No</span></td>
            </tr>
            <tr>
             <td>Guidance on setting goals and periodically reviews progress</td>
             <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>Experiences that contributed to his/her own success</td>
              <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>A understanding of the Army, it’s mission, and formal and informal operating processes</td>
              <td class="yesNo"><span class="table-btn red-font" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>More efficient and productive performance</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>Appropriate training and developmental opportunities</td>
              <td class="yesNo"><span class="table-btn red-font" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>Sense of self-awareness, self-confidence, and adaptability</td>
              <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>As a confidant, counselor, guide, and adviser</td>
              <td class="yesNo"><span class="table-btn" data-type="yes">Yes</span> <span class="table-btn" data-type="no">No</span></td>
            </tr>
            <tr>
              <td>As a sounding board for career development ideas/ opportunities</td>
              <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>As a resource for enhancing personal and professional attributes</td>
              <td class="yesNo"><span class="table-btn green-font" data-type="yes">Yes</span></td>
            </tr>
            <tr>
              <td>What is your planned action for becoming a mentor or maintaining a mentoring relationship?</td>
              <td class="yesNo"><textarea name="turn_around" rows="2" cols="20" placeholder="I'll complete a training session" class="txtregion"></textarea></td>
            </tr>
            <tr>
              <td colspan="2" align="center"><a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a></td>
            </tr>
          </tbody>
        </table>       
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Be a Mentor Template."></span>
      </div>
    </div>
  </div>
</div>