<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="3-command_unit_leader_development_scorecard_4"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Evaluate current leader development within your Command.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th width=58%>Indicators of the Health of Unit Leader Development</th>
              <th>Status</th>
              <th>Action Needed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Last leader with option to leave the Army was retained</td>
              <td>
                <input type="radio" class="style-radio" name="option_status" id="option_green" /><label  class="radio-circle green-circle" for="option_green"></label>
                <input type="radio" class="style-radio" name="option_status" id="option_orange"/><label class="radio-circle orange-circle" for="option_orange"></label>
                <input type="radio" class="style-radio" name="option_status" id="option_red"/><label class="radio-circle red-circle" for="option_red"></label>
              </td>
              <td><textarea name="leave_option" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Unit leader changes have little or no detrimental effect on unit performance</td>
              <td>
                <input type="radio" class="style-radio" name="performance_status" id="performance_green" /><label  class="radio-circle green-circle" for="performance_green"></label>
                <input type="radio" class="style-radio" name="performance_status" id="performance_orange"/><label class="radio-circle orange-circle" for="performance_orange"></label>
                <input type="radio" class="style-radio" name="performance_status" id="performance_red"/><label class="radio-circle red-circle" for="performance_red"></label>
              </td>
             <td><textarea name="title" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Initial performance of new leaders is high</td>
              <td>
                <input type="radio" class="style-radio" name="initial_status" id="initial_green" /><label  class="radio-circle green-circle" for="initial_green"></label>
                <input type="radio" class="style-radio" name="initial_status" id="initial_orange"/><label class="radio-circle orange-circle" for="initial_orange"></label>
                <input type="radio" class="style-radio" name="initial_status" id="initial_red"/><label class="radio-circle red-circle" for="initial_red"></label>
              </td>
              <td><textarea name="initial_performance" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Overall unit performance is high; no sub-unit is a consistent low performer</td>
              <td>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_green" /><label  class="radio-circle green-circle" for="unitperf_green"></label>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_orange"/><label class="radio-circle orange-circle" for="unitperf_orange"></label>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_red"/><label class="radio-circle red-circle" for="unitperf_red"></label>
              </td>
              <td><textarea name="unit_performance" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leaders and their units demonstrate lessons learned; few repeat mistakes</td>
              <td>
                <input type="radio" class="style-radio" name="mistake_status" id="mistake_green" /><label  class="radio-circle green-circle" for="mistake_green"></label>
                <input type="radio" class="style-radio" name="mistake_status" id="mistake_orange"/><label class="radio-circle orange-circle" for="mistake_orange"></label>
                <input type="radio" class="style-radio" name="mistake_status" id="mistake_red"/><label class="radio-circle red-circle" for="mistake_red"></label>
              </td>
              <td><textarea name="mistakes" placeholder="Click to type"></textarea></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
         <div class=" clearifx text-center v-hr-loose"><a href="3-command_unit_leader_development_scorecard_summary" class="btn btn-1">Complete</a></div>
         <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span> 
      </div>
    </div>
  </div>
</div>