<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="3-command_unit_leader_development_scorecard_5"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out Command Unit Leader Development Scorecard template.<br/>
            Review your responses below</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th width=58%>Indicators of the Health of Unit Leader Development</th>
              <th>Status</th>
              <th>Action Needed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A subordinate leader shared a challenge they are experiencing with you</td>
              <td>
                <input type="radio" class="style-radio" name="challenge_status" id="challenge_green" checked="checked" /><label  class="radio-circle green-circle" for="challenge_green"></label>
               
              </td>
              <td><textarea name="leader_challenge" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leader(s) expressed interest in joining your unit</td>
              <td>
                <input type="radio" class="style-radio" name="joining_status" id="joining_orange" checked="checked"/><label class="radio-circle orange-circle" for="joining_orange"></label>
              </td>
             <td><textarea name="leader_joining" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leader(s) expressed a desire to stay in your unit</td>
              <td>
                <input type="radio" class="style-radio" name="stay_status" id="stay_red"  checked="checked"/><label class="radio-circle red-circle" for="stay_red"></label>
              </td>
              <td><textarea name="leader_staying" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Other units requested a leader from your unit</td>
              <td>
                <input type="radio" class="style-radio" name="unit_status" id="unit_orange" checked="checked"/><label class="radio-circle orange-circle" for="unit_orange"></label>
              </td>
              <td><textarea name="requested_leader" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Unsolicited Soldier comments about their leaders</td>
              <td>
                <input type="radio" class="style-radio" name="comments_status" id="comments_orange"/><label class="radio-circle orange-circle" for="comments_orange" checked="checked"></label>
              </td>
              <td><textarea name="unsolicited_soldier" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>A new idea/innovation was implemented in your command</td>
              <td>
                <input type="radio" class="style-radio" name="idea_status" id="idea_green" /><label  class="radio-circle green-circle" for="idea_green"></label>
                <input type="radio" class="style-radio" name="idea_status" id="idea_orange"/><label class="radio-circle orange-circle" for="idea_orange"></label>
                <input type="radio" class="style-radio" name="idea_status" id="idea_red"/><label class="radio-circle red-circle" for="idea_red"></label>
              </td>
             <td><textarea name="new_innovation" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>All key leader positions are filled/occupied</td>
              <td>
                <input type="radio" class="style-radio" name="position_status" id="position_green" checked="checked" /><label  class="radio-circle green-circle" for="position_green"></label>
              </td>
              <td><textarea name="position_occupied" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Multiple qualified candidates competed for last leadership position vacancy</td>
              <td>
                <input type="radio" class="style-radio" name="vacancy_status" id="vacancy_green" checked="checked" /><label  class="radio-circle green-circle" for="vacancy_green"></label>
              </td>
              <td><textarea name="vacancy" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Last leader with option to leave the Army was retained</td>
              <td>
                <input type="radio" class="style-radio" name="option_status" id="option_green" /><label  class="radio-circle green-circle" for="option_green"></label>
                <input type="radio" class="style-radio" name="option_status" id="option_orange"/><label class="radio-circle orange-circle" for="option_orange"></label>
                <input type="radio" class="style-radio" name="option_status" id="option_red"/><label class="radio-circle red-circle" for="option_red"></label>
              </td>
              <td><textarea name="leave_option" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Unit leader changes have little or no detrimental effect on unit performance</td>
              <td>
                <input type="radio" class="style-radio" name="performance_status" id="performance_red" checked="checked"/><label class="radio-circle red-circle" for="performance_red"></label>
              </td>
             <td><textarea name="title" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Initial performance of new leaders is high</td>
              <td>
                <input type="radio" class="style-radio" name="initial_status" id="initial_red"/><label class="radio-circle red-circle" for="initial_red" checked="checked"></label>
              </td>
              <td><textarea name="initial_performance" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Overall unit performance is high; no sub-unit is a consistent low performer</td>
              <td>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_green" /><label  class="radio-circle green-circle" for="unitperf_green"></label>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_orange"/><label class="radio-circle orange-circle" for="unitperf_orange"></label>
                <input type="radio" class="style-radio" name="unitperf_status" id="unitperf_red"/><label class="radio-circle red-circle" for="unitperf_red"></label>
              </td>
              <td><textarea name="unit_performance" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leaders and their units demonstrate lessons learned; few repeat mistakes</td>
              <td>
                <input type="radio" class="style-radio" name="mistake_status" id="mistake_orange" checked="checked"/><label class="radio-circle orange-circle" for="mistake_orange"></label>
              </td>
              <td><textarea name="mistakes" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td colspan="3" align="center"><a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
         <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span> 
      </div>
    </div>
  </div>
</div>