<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="3-command_unit_leader_development_scorecard_3"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Evaluate current leader development within your Command.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th width=58%>Indicators of the Health of Unit Leader Development</th>
              <th>Status</th>
              <th>Action Needed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unsolicited Soldier comments about their leaders</td>
              <td>
                <input type="radio" class="style-radio" name="comments_status" id="comments_green" /><label  class="radio-circle green-circle" for="comments_green"></label>
                <input type="radio" class="style-radio" name="comments_status" id="comments_orange"/><label class="radio-circle orange-circle" for="comments_orange"></label>
                <input type="radio" class="style-radio" name="comments_status" id="comments_red"/><label class="radio-circle red-circle" for="comments_red"></label>
              </td>
              <td><textarea name="unsolicited_soldier" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>A new idea/innovation was implemented in your command</td>
              <td>
                <input type="radio" class="style-radio" name="idea_status" id="idea_green" /><label  class="radio-circle green-circle" for="idea_green"></label>
                <input type="radio" class="style-radio" name="idea_status" id="idea_orange"/><label class="radio-circle orange-circle" for="idea_orange"></label>
                <input type="radio" class="style-radio" name="idea_status" id="idea_red"/><label class="radio-circle red-circle" for="idea_red"></label>
              </td>
             <td><textarea name="new_innovation" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>All key leader positions are filled/occupied</td>
              <td>
                <input type="radio" class="style-radio" name="position_status" id="position_green" /><label  class="radio-circle green-circle" for="position_green"></label>
                <input type="radio" class="style-radio" name="position_status" id="position_orange"/><label class="radio-circle orange-circle" for="position_orange"></label>
                <input type="radio" class="style-radio" name="position_status" id="position_red"/><label class="radio-circle red-circle" for="position_red"></label>
              </td>
              <td><textarea name="position_occupied" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Multiple qualified candidates competed for last leadership position vacancy</td>
              <td>
                <input type="radio" class="style-radio" name="vacancy_status" id="vacancy_green" /><label  class="radio-circle green-circle" for="vacancy_green"></label>
                <input type="radio" class="style-radio" name="vacancy_status" id="vacancy_orange"/><label class="radio-circle orange-circle" for="vacancy_orange"></label>
                <input type="radio" class="style-radio" name="vacancy_status" id="vacancy_red"/><label class="radio-circle red-circle" for="vacancy_red"></label>
              </td>
              <td><textarea name="vacancy" placeholder="Click to type"></textarea></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
        <p class="text-center"> <a href="3-command_unit_leader_development_scorecard_5" class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span> 
      </div>
    </div>
  </div>
</div>