<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="3-command_unit_leader_development_scorecard_2"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Evaluate current leader development within your Command.</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th width=58%>Indicators of the Health of Unit Leader Development</th>
              <th>Status</th>
              <th>Action Needed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A subordinate leader shared a challenge they are experiencing with you</td>
              <td>
                <input type="radio" class="style-radio" name="challenge_status" id="challenge_green" /><label  class="radio-circle green-circle" for="challenge_green"></label>
                <input type="radio" class="style-radio" name="challenge_status" id="challenge_orange"/><label class="radio-circle orange-circle" for="challenge_orange"></label>
                <input type="radio" class="style-radio" name="challenge_status" id="challenge_red"/><label class="radio-circle red-circle" for="challenge_red"></label>
              </td>
              <td><textarea name="leader_challenge" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leader(s) expressed interest in joining your unit</td>
              <td>
                <input type="radio" class="style-radio" name="joining_status" id="joining_green" /><label  class="radio-circle green-circle" for="joining_green"></label>
                <input type="radio" class="style-radio" name="joining_status" id="joining_orange"/><label class="radio-circle orange-circle" for="joining_orange"></label>
                <input type="radio" class="style-radio" name="joining_status" id="joining_red"/><label class="radio-circle red-circle" for="joining_red"></label>
              </td>
             <td><textarea name="leader_joining" placeholder="Click to type"></textarea></td>
            </tr>
            <tr>
              <td>Leader(s) expressed a desire to stay in your unit</td>
              <td>
                <input type="radio" class="style-radio" name="stay_status" id="stay_green" /><label  class="radio-circle green-circle" for="stay_green"></label>
                <input type="radio" class="style-radio" name="stay_status" id="stay_orange"/><label class="radio-circle orange-circle" for="stay_orange"></label>
                <input type="radio" class="style-radio" name="stay_status" id="stay_red"/><label class="radio-circle red-circle" for="stay_red"></label>
              </td>
              <td><textarea name="leader_staying" placeholder="Click to type"></textarea></td>
            </tr>
            
            <tr>
              <td>Other units requested a leader from your unit</td>
              <td>
                <input type="radio" class="style-radio" name="unit_status" id="unit_green" /><label  class="radio-circle green-circle" for="unit_green"></label>
                <input type="radio" class="style-radio" name="unit_status" id="unit_orange"/><label class="radio-circle orange-circle" for="unit_orange"></label>
                <input type="radio" class="style-radio" name="unit_status" id="unit_red"/><label class="radio-circle red-circle" for="unit_red"></label>
              </td>
              <td><textarea name="requested_leader" placeholder="Click to type"></textarea></td>
            </tr>
          </tbody>
        </table>
        <!--/table-->
        
        <p class="text-center"> <a href="3-command_unit_leader_development_scorecard_4" class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span> 
      </div>
    </div>
  </div>
</div>