<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="4-daily_leader_observation_planner_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">You’ve successfully filled out Daily Leader Observation Planner template.<br/>
            Review your responses below</h2>
        </div>
        
        <table class="table table-no-border timing-table">
          <thead>
            <th>Date</th>
            <th>Observation Window</th>
            <th>Name of Leader</th>
            <th>Situation to Observe</th>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">02/25/2015</td>
              <td class="text-center">22:05</td>
              <td class="text-center">Lorem Ipsum1</td>
              <td class="text-center">Testing 1</td>
            </tr>
            <tr>
              <td class="text-center">03/01/2015</td>
              <td class="text-center">04:25</td>
              <td class="text-center">Lorem Ipsumt2</td>
              <td class="text-center">Testing 2</td>
            </tr>
            <tr>
              <td colspan="4" align="center"><a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a></td>
            </tr>
          </tbody>
        </table>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>
