<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Daily Leader Observation Planner</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Use the Daily Leader Observation Planner, along with a unit training schedule, to identify the most productive times to observe how a leader acts and responds (behavior).</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="4-daily_leader_observation_planner_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>