<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="4-daily_leader_observation_planner_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">Identify the most productive times in the day to observe how a leader acts and responds.</h2>
        </div>
        
        <table class="table table-no-border timing-table">
          <thead>
            <th>Date</th>
            <th>Observation Window</th>
            <th>Name of Leader</th>
            <th>Situation to Observe</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" placeholder="MM/DD/YYYY" class="datepicker" /></td>
              <td><input type="text" placeholder="HH:MM" class="timepicker" /></td>
              <td><input type="text" placeholder="Search Contacts" class="searchBox" /></td>
              <td><textarea data-autoresize placeholder="Click to type" style="resize: none;"></textarea></td>
            </tr>
            <tr>
              <td><input type="text" placeholder="MM/DD/YYYY" class="datepicker" /></td>
              <td><input type="text" placeholder="HH:MM" class="timepicker" /></td>
              <td><input type="text" placeholder="Search Contacts" class="searchBox" /></td>
              <td><textarea data-autoresize placeholder="Click to type" style="resize: none;"></textarea></td>
            </tr>
            <tr>
              <td><input type="text" placeholder="MM/DD/YYYY" class="datepicker" /></td>
              <td><input type="text" placeholder="HH:MM" class="timepicker" /></td>
              <td><input type="text" placeholder="Search Contacts" class="searchBox" /></td>
              <td><textarea data-autoresize placeholder="Click to type" style="resize: none;"></textarea></td>
            </tr>
            <tr>
              <td><input type="text" placeholder="MM/DD/YYYY" class="datepicker" /></td>
              <td><input type="text" placeholder="HH:MM" class="timepicker" /></td>
              <td><input type="text" placeholder="Search Contacts" class="searchBox" /></td>
              <td><textarea data-autoresize placeholder="Click to type" style="resize: none;"></textarea></td>
            </tr>
          </tbody>
        </table>
        
        <button type="button" class="add-timing-btn"><span class="glyphicon glyphicon-plus"></span>Add Additional Observation Windows</button>
        <p class="text-center"> <a href="4-daily_leader_observation_planner_summary" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.add-timing-btn').click(function () {
  $('.timing-table tbody').append('<tr>' +'<td><input type="text" placeholder="MM/DD/YYYY" class="datepicker" /></td>'+'<td><input type="text" placeholder="HH:MM" class="timepicker" /></td>'+'<td><input type="text" placeholder="Search Contacts" class="searchBox"/></td>'+'<td><textarea data-autoresize placeholder="Click to type" style="resize: none;"></textarea></td>'+'</tr>');
})
$('textarea[data-autoresize]').each(function(){
  var offset = this.offsetHeight - this.clientHeight;
  var resizeTextarea = function(el) {
      $(el).css('height', 'auto').css('height', el.scrollHeight + offset);
  };
  $(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});
</script>