<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"><a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="5-getting_to_know_tool_7"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out Getting to Know Tool template.<br/>
            Review your responses below</h2>
        </div>
        <div class="text-container">
          <label>Professional goals and priorities:</label>
          <textarea name="goals">Testing 1</textarea>
          
          <label>Key challenges in current assignment:</label>
          <textarea name="challenges">Testing 2</textarea>
          
          <label>Personal leadership strengths and development needs:</label>
          <textarea name="needs">Testing 3</textarea>
          
          <label>Satisfaction with work and the Army profession:</label>
          <textarea name="satisfactioin">Testing 4</textarea>
          
          <label>Relationship with peers and subordinates:</label>
          <textarea name="relationship">Testing 5</textarea>
          
          <label>Feelings about supervisors and our various work relationships:</label>
          <textarea name="feelings">Testing 6</textarea>
          
          <label>Previous assignments and career experiences:</label>
          <textarea name="experiences">Testing 7</textarea>
          
          <label>Important family members:</label>
          <textarea name="family">Testing 8</textarea>
          
          <label>Housing location and transportation to work:</label>
          <textarea name="location">Testing 9</textarea>
          
          <label>Unique skills (beyond military):</label>
          <textarea name="skills">Testing 10</textarea>
          
          <label>Main interests outside of work:</label>
          <textarea name="interests">Testing 11</textarea>
          
          <label>Personal stressors:</label>
          <textarea name="stressors">Testing 12</textarea>
          
          <label>Additional comments or thoughts:</label>
          <textarea name="comments" class="height-400">Lorem ipsum dolor sit amet, mei nonumes adolescens interpretaris eu, mei prompta denique nominati ne. Illud graecis voluptatibus cum te, eum ne simul assueverit. Per ea sint zril, omnis dissentias efficiantur mei ad. Vim tation tincidunt in, debitis habemus philosophia nec no.</textarea>  
          
        </div>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>

        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>