<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a href="#" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Getting to Know Tool</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Use the Getting To Know tool to write down key information on each subordinate leader. For leaders with a number of blank entries, take action to get to know them better. Use this note card to begin to get to know the subordinate leaders in your command.</p>
          <p>
Use the blank space to take notes on items as you learn them. The notes will serve as convenient reminders. For items you do not know, consider learning them to better
get to know this leader.</p>
        </div>
        <div class="text-date-box">
          <input type="text" id="readonly-datepicker" class="input-field-transparent" value="" readonly="true" />
          <span>
          <input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" readonly="true" />
          </span>
        </div>
        <p class="text-center"> <a href="5-getting_to_know_tool_2" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>