<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="5-getting_to_know_tool_2"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Fill out the below to your best ability in regards to your subordinate leader.</h2>
        </div>
        <div class="text-container">
          <label>Professional goals and priorities:</label>
          <textarea name="goals" placeholder="Click to type"></textarea>
          
          <label>Key challenges in current assignment:</label>
          <textarea name="challenges" placeholder="Click to type"></textarea>
          
          <label>Personal leadership strengths and development needs:</label>
          <textarea name="needs" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center"> <a href="5-getting_to_know_tool_4" class="btn btn-1">NEXT</a> </p>

        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>