<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"> <a href="#" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="5-getting_to_know_tool_1"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
        <div class="profile-header-empty"></div>
        <div class="container-fluid">
          <h2 class="text-center">Who is this Getting to Know Tool template for?</h2>
        </div>
        <div class="text-date-box">
          <div class="ui-widget">
            <input id="template-tags" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts">
          </div>
          <div class="text-container">
            <label>Template Name:</label>
            <input type="text" name="template_name" placeholder="Click to type"  class="form-control tempname" />
          </div>
        </div>
        <p class="text-center"> <a href="5-getting_to_know_tool_3" class="btn btn-1">NEXT</a> </p>

        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>