<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="6-individual_plans_for_advancement_6" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out Individual Plans for Advancement template.
            <br/>
            Review your responses below</h2>
        </div>
        <h3>Key Roles/Responsibilities</h3>
        <table class="table table-no-border">
          <thead>
            <th>Responsibilities of this level/position</th>
            <th>Readiness</th>
          </thead>
          <tbody>
          <tr>
            <td width=85%><input type="text" placeholder="Click to type" class="form-control tempname" value="Lorem ipsum dolor sit amet, justo libris nec in, vis ea elitr animal fabellas." /></td>
            <td><div class="template_selectbox"><select><option>1</option><option selected>2</option></select></div></td>
          </tr>
          <tr>
            <td width=85%><input type="text" placeholder="Click to type" class="form-control tempname" value="Lorem ipsum dolor sit amet, justo libris nec in, vis ea elitr animal fabellas." /></td>
            <td><div class="template_selectbox"><select><option selected>1</option><option>2</option></select></div></td>
          </tr>
          </tbody>
        </table>
        <div class="text-big-container">
          <label>Leader with Intellectual Capacity</label>
          <input name="intellectual_capacity" class="form-control tempname" type="text" value="Lorem ipsum dolor" />
          <label>Plans/Actions to Address Development Areas:</label>
          <textarea name="plans">Lorem ipsum dolor sit amet, justo libris nec in, vis ea elitr animal fabellas. Summo utroque referrentur duo an, no vis quaeque commune reformidans, et gubergren elaboraret vim. Detracto voluptaria delicatissimi et sea. Ut ludus dicam interesset has, quo id viderer epicuri. No duo wisi nostro detraxit, sed sumo everti ei.</textarea>
          <label>Next or Potential Position</label>
          <input name="potential_position" class="form-control tempname" type="text" value="Lorem ipsum dolor" />
        </div>
        <h3>Additional (New) Responsibilities</h3>
        <table class="table table-no-border">
          <thead>
            <th width=85%>Responsibilities added at this level/position</th>
            <th>Readiness</th>
          </thead>
          <tbody>
          <tr>
            <td width=85%><input type="text" placeholder="Click to type" class="form-control tempname" value="Lorem ipsum dolor sit amet, justo libris nec in, vis ea elitr animal fabellas." /></td>
            <td><div class="template_selectbox"><select><option>1</option><option selected>2</option></select></div></td>
          </tr>
          </tbody>
        </table>
        <div class="text-big-container">
          <label>Plans/Actions to Prepare Leader for This Positio</label>
          <textarea name="actions">Lorem ipsum dolor sit amet, justo libris nec in, vis ea elitr animal fabellas. Summo utroque referrentur duo an, no vis quaeque commune reformidans, et gubergren elaboraret vim. Detracto voluptaria delicatissimi et sea. Ut ludus dicam interesset has, quo id viderer epicuri. No duo wisi nostro detraxit, sed sumo everti ei.</textarea>
          <label>Next or Potential Position</label>
          <input name="potential_position" class="form-control tempname" type="text" value="Lorem ipsum dolor" />
        </div>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>
