<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="6-individual_plans_for_advancement_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">Identify key qualifications in selecting leaders for key positions within your command.</h2>
        </div>
        <div class="text-big-container">
          <label>Plans/Actions to Address Development Areas:</label>
          <textarea name="plans" placeholder="Click to type"></textarea>
          <label>Next or Potential Position</label>
          <input name="potential_position" class="form-control tempname" type="text" placeholder="Click to type" />
        </div>

        <p class="text-center"> <a href="6-individual_plans_for_advancement_5" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>
