<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="6-individual_plans_for_advancement_4" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">Identify key qualifications in selecting leaders for key positions within your command.</h2>
        </div>
        <h1 class="text-center">Additional (New) Responsibilities</h1>
        <table class="table table-no-border res-table">
          <thead>
            <th width=85%>Responsibilities added at this level/position</th>
            <th>Readiness</th>
          </thead>
          <tbody>
          <tr>
            <td width=85%><input type="text" placeholder="Click to type" class="form-control" /></td>
            <td><div class="template_selectbox"><select><option>1</option><option>2</option></select></div></td>
          </tr>
          <tr>
           <td><input type="text" placeholder="Click to type" class="form-control" /></td>
           <td><div class="template_selectbox"><select><option>1</option><option>2</option></select></div></td>
          </tr>                  
          <tr>
            <td><input type="text" placeholder="Click to type" class="form-control" /></td>
            <td><div class="template_selectbox"><select><option>1</option><option>2</option></select></div></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="add-res-btn"><span class="glyphicon glyphicon-plus"></span>Add Additional Responsibility</button>
        <p class="text-center"> <a href="6-individual_plans_for_advancement_6" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.add-res-btn').click(function () {
    $('.res-table tbody').append('<tr>' +'<td><input type="text" placeholder="Click to type" class="form-control" /></td>'+'<td><div class="template_selectbox"><select><option>1</option><option>2</option></select></td>'+'</tr>');    
})

</script>