<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="6-individual_plans_for_advancement_1" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please select a leader and designate their current position.</h2>
        </div>
        <div class="text-date-box">
          <div class="ui-widget">
            <input id="template-tags" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts">
            
          </div>
          <div class="text-container">
            <label>Template Name:</label>
            <input type="text" name="template_name" placeholder="Click to type"  class="form-control tempname" />

            <label>Current Position:</label>
            <input name="current_position" class="form-control tempname" type="text" placeholder="Click to type" />
          </div>
        </div>
        <p class="text-center"> <a href="6-individual_plans_for_advancement_3" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>