<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="7-leadership_selection_guidance_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please fill out the following details regarding the position.</h2>
        </div>
        <div class="text-date-box">
          <div class="text-container">
            <label>Position to be filled:</label>
            <input type="text" name="position_name" placeholder="Click to type"  class="form-control tempname" />
            <div class="text-container-left mg-bottom-30">
              <label>Fill by (Date):</label>
              <input type="text" name="fillby" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" />
            </div>
            <div class="text-container-right mg-bottom-30">
              <label>Stays in the job through (Date):</label>
              <input type="text" name="staysinjob" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" />
            </div>
          </div>
        </div>
        <p class="text-center mg-top-30"> <a href="7-leadership_selection_guidance_4" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>