<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="7-leadership_selection_guidance_8" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">You’ve successfully filled out Leadership Selection Guidance template.
          <br/>
          Review your responses below</h2>
        </div>

        <div class="text-date-box">
          <div class="text-container">
            <label>Position to be filled:</label>
            <input type="text" name="position_name" placeholder="Click to type"  class="form-control tempname" value="2LT"/>
            <div class="text-container-left mg-bottom-30">
              <label>Fill by (Date):</label>
              <input type="text" name="fillby" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" value="11/26/2013"/>
            </div>
            <div class="text-container-right mg-bottom-30">
              <label>Stays in the job through (Date):</label>
              <input type="text" name="staysinjob" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" value="11/26/2013"/>
            </div>
          </div>
        </div>
        
        <div class="label-check">
          <input type="checkbox" id="leader_requirement" checked="checked" />
          <label for="leader_requirement" class="h3tag">Leader Requirements (write in guidance as to what is important for this leadership position)</label>
        </div>
        <label class="h3tag">Requirements Model Attributes (refer to FM 6-22)</label>
        <div class="text-container narrow-top-mg">
          <label>Leader of Character:</label>
          <textarea name="character" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Leader of Presence:</label>
          <textarea name="presence" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Leader with Intellectual Capacity:</label>
          <textarea name="intellectual_capacity" placeholder="Click to type">Lorem ipsum dolor</textarea>
        </div>
        
        <label class="h3tag-summmary">Leadership Requiements Model Core Competencies</label>
        <div class="text-container narrow-top-mg">
          <label>Leads:</label>
          <textarea name="leads" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Develops:</label>
          <textarea name="develops" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Achieves:</label>
          <textarea name="achieves" placeholder="Click to type">Lorem ipsum dolor</textarea>
        </div>
        
        <div class="label-check loose-top-mg">
          <input type="checkbox" id="previous_leadership" checked="checked" />
          <label for="previous_leadership" class="h3tag">Previous Leadership Experience/Training/Education (from Officer Record Brief ORB/DA Form 2-1)</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Work Experience:</label>
          <textarea name="experience" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Training/Certifications:</label>
          <textarea name="training" placeholder="Click to type">Lorem ipsum dolor</textarea>
          
          <label>Education:</label>
          <textarea name="education" placeholder="Click to type">Lorem ipsum dolor</textarea>
        </div>
        
        <div class="label-check loose-top-mg">
          <input type="checkbox" id="performance_assessment" checked="checked" />
          <label for="performance_assessment" class="h3tag">Performance Assessment &amp; Reference Check</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Previous OER/NCOER performance needed for success in this position:</label>
          <textarea name="previous_performance" placeholder="Click to type">Lorem ipsum dolor</textarea>

          <label>Previous Supervisor Recommendation:</label>
          <textarea name="previous_recommendation" placeholder="Click to type">Lorem ipsum dolor</textarea>

          <label>Previous Senior Rater Recommendation:</label>
          <textarea name="rater_recommendation" placeholder="Click to type">Lorem ipsum dolor</textarea>
        </div>
        
        <div class="label-check loose-top-mg">
          <input type="checkbox" id="sample_jobs" checked="checked" />
          <label for="sample_jobs" class="h3tag">Sample Job Capabilities</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Task to Assess:</label>
          <textarea name="task" placeholder="Click to type">Lorem ipsum dolor</textarea>
          <label>Proficiency level needed:</label>
          <textarea name="proficiency" placeholder="Click to type">Lorem ipsum dolor</textarea>     
        </div>
        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>