<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="7-leadership_selection_guidance_5" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input type="checkbox" id="previous_leadership" />
          <label for="previous_leadership" class="h3tag">Previous Leadership Experience/Training/Education (from Officer Record Brief ORB/DA Form 2-1)</label>
        </div>
        <div class="text-container">
          <label>Work Experience:</label>
          <textarea name="experience" placeholder="Click to type"></textarea>
          
          <label>Training/Certifications:</label>
          <textarea name="training" placeholder="Click to type"></textarea>
          
          <label>Education:</label>
          <textarea name="education" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center mg-top-30"> <a href="7-leadership_selection_guidance_7" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>3