<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="7-leadership_selection_guidance_7" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <div class="profile-header"><img src="/assets/profile-pic2.png" ><span>Lorem ipsum dolor.</span> </div>
          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input type="checkbox" id="sample_jobs" />
          <label for="sample_jobs" class="h3tag">Sample Job Capabilities</label>
        </div>
        <div class="text-container">
          <label>Task to Assess:</label>
          <textarea name="task" placeholder="Click to type"></textarea>
          
          <label>Proficiency level needed:</label>
          <textarea name="proficiency" placeholder="Click to type"></textarea>
          
        </div>
        <p class="text-center mg-top-30"> <a href="7-leadership_selection_guidance_summary" class="btn btn-1">Complete</a>  </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>