<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="8-learning_principles_questionaire_a_6" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of
            <br/>
            Provide Experience.</h2>
        </div>
        <table class="table table-no-border">
          <thead>
            <th width="35%">Provide Experience</th>
            <th>Assessment/How to improve learning</th>
          </thead>
          <tbody>
          <tr>
            <td>Do leaders learn from feedback and reflection?</td>
            <td><textarea name="opportunities" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Does the learning draw on the study of previous leaders/historical examples?</td>
            <td><textarea name="challenges" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Does the learning include a test of the leader’s level of learning?</td>
            <td><textarea name="improve" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>   
          <tr>
            <td>Does the test employed fully and accurately assess leader learning?</td>
            <td><textarea name="improve" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>       
          </tbody>
        </table>

        <p class="text-center"> <a href="8-learning_principles_questionaire_a_summary" class="btn btn-2">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (A) template."></span>
      </div>
    </div>
  </div>
</div>
