<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="8-learning_principles_questionaire_a_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of
            <br/>
            Shape Motivation.</h2>
        </div>
        <table class="table table-no-border">
          <thead>
            <th width="35%">Shape Motivation</th>
            <th>Assessment/How to improve learning</th>
          </thead>
          <tbody>
          <tr>
            <td>Is the learning highly relevant/will it have an impact on unit performance? On improving leaders for the larger Army?</td>
            <td><textarea name="learning" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Are the experiences of leaders at the learning objective drawn upon?</td>
            <td><textarea name="objective" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Are leaders encouraged to bring up their experiences during the learning? Are these experiences integrated into the learning?</td>
            <td><textarea name="experiences" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>          
          </tbody>
        </table>

        <p class="text-center"> <a href="8-learning_principles_questionaire_a_5" class="btn btn-2">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (A) template."></span>
      </div>
    </div>
  </div>
</div>
