<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">  
          <p class="marT20 text-right"><a href="8-learning_principles_questionaire_a_7" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Learning Principles Questionaire (A) template.
          <br/>
          Review your responses below</h2>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of</h2>
        </div>
        <table class="table table-no-border">
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Stimulate Intellect</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Stimulate Intellect</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr>
            <td>Is the tempo of learning maintaining learner attention?</td>
            <td><textarea name="learning" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are the physical conditions (temperature, lighting) sufficient to maintain learner attention?</td>
            <td><textarea name="conditions" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are the learning media (role play, rehearse/practice, simulation, discussion, lecture) appropriate for the task to be learned?</td>
            <td><textarea name="task" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Do the content and standard for learning challenge/stretch learners beyond their current level of skill and experience?</td>
            <td><textarea name="skills" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Shape Motivation</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Shape Motivation</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr>
            <td>Is the learning highly relevant/will it have an impact on unit performance? On improving leaders for the larger Army?</td>
            <td><textarea name="learning" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are the experiences of leaders at the learning objective drawn upon?</td>
            <td><textarea name="objective" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are leaders encouraged to bring up their experiences during the learning? Are these experiences integrated into the learning?</td>
            <td><textarea name="experiences" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Do leaders look forward to learning opportunities?</td>
            <td><textarea name="opportunities" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>In spite of challenges/limitations, do leaders seek to make the best of a learning opportunity?</td>
            <td><textarea name="challenges" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are leaders dissatisfied with their present level of learning and always looking to improve and learn?</td>
            <td><textarea name="improve" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Provide Experience</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Provide Experience</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr>
            <td>Does learning include sufficient repetition and practice?</td>
            <td><textarea name="practice" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Are the conditions/situations of practice varied?</td>
            <td><textarea name="situations" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Do the learning conditions replicate on-the-job conditions?</td>
            <td><textarea name="conditions" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>   
          <tr>
            <td>Are experts at the task (role models, mentors) employed to enhance learning?</td>
            <td><textarea name="task" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Do leaders learn from feedback and reflection?</td>
            <td><textarea name="opportunities" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Does the learning draw on the study of previous leaders/historical examples?</td>
            <td><textarea name="challenges" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td>Does the learning include a test of the leader’s level of learning?</td>
            <td><textarea name="improve" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>   
          <tr>
            <td>Does the test employed fully and accurately assess leader learning?</td>
            <td><textarea name="improve" class="md-content" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
        </table>

        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (A) template."></span>
      </div>
    </div>
  </div>
</div>
