<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="8-learning_principles_questionaire_a_5" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of
            <br/>
            Provide Experience.</h2>
        </div>
        <table class="table table-no-border">
          <thead>
            <th width="35%">Provide Experience</th>
            <th>Assessment/How to improve learning</th>
          </thead>
          <tbody>
          <tr>
            <td>Does learning include sufficient repetition and practice?</td>
            <td><textarea name="practice" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Are the conditions/situations of practice varied?</td>
            <td><textarea name="situations" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Do the learning conditions replicate on-the-job conditions?</td>
            <td><textarea name="conditions" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>   
          <tr>
            <td>Are experts at the task (role models, mentors) employed to enhance learning?</td>
            <td><textarea name="task" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>       
          </tbody>
        </table>

        <p class="text-center"> <a href="8-learning_principles_questionaire_a_7" class="btn btn-2">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (A) template."></span>
      </div>
    </div>
  </div>
</div>
