<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="8-learning_principles_questionaire_a_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of<br />
            Stimulate Intellect.</h2>
        </div>
        <table class="table table-no-border">
          <thead>
            <th width="35%">Stimulate Intellect</th>
            <th>Assessment/How to improve learning</th>
          </thead>
          <tbody>
          <tr>
            <td>Is the tempo of learning maintaining learner attention?</td>
            <td><textarea name="learning" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Are the physical conditions (temperature, lighting) sufficient to maintain learner attention?</td>
            <td><textarea name="conditions" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Are the learning media (role play, rehearse/practice, simulation, discussion, lecture) appropriate for the task to be learned?</td>
            <td><textarea name="task" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr>
            <td>Do the content and standard for learning challenge/stretch learners beyond their current level of skill and experience?</td>
            <td><textarea name="skills" class="md-content" placeholder="Click to type"></textarea></td>
          </tr>          
          </tbody>
        </table>

        <p class="text-center"> <a href="8-learning_principles_questionaire_a_4" class="btn btn-2">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (A) template."></span>
      </div>
    </div>
  </div>
</div>
