<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="9-learning_principles_questionaire_b_3" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Learning Principles Questionaire (B) template.
          <br/>
          Review your responses below</h2>
        </div>
        <table class="table table-no-border questionaire-table">
          <thead>
            <th width="30%">Name</th>
            <th width="35%">Ways to Leverage RM</th>
            <th width="35%">Support to Provide RM</th>
          </thead>
          <tbody>
          <tr>
            <td><input id="template-tags_1" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>
            <td><textarea name="leverage_rm_1" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea name="provide_rm_1" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td><input id="template-tags_2" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>
            <td><textarea name="leverage_rm_2" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea name="provide_rm_2" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td><input id="template-tags_3" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>
            <td><textarea name="leverage_rm_3" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea name="provide_rm_3" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr>
            <td><input id="template-tags_4" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>
            <td><textarea name="leverage_rm_4" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
            <td><textarea name="provide_rm_4" placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>       
          </tbody>
        </table>

        <p class="text-center"> <a href="#" class="btn btn-1">Send</a>&nbsp;&nbsp;<a href="#" class="btn btn-1">Save and Exit</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Learning Principles Questionaire (B) template."></span>
      </div>
    </div>
  </div>
</div>
