rowan.resourceTemplate.service('templateDataService',[function(){
    return {
        getTemplateType: function() {
            return '<%= @template_type %>';
        },
        getTemplateData: function() {
            return  '<%= j raw(@template_data) %>'
        },
        getUserTemplateId: function() {
            return '<%= @user_template_id %>'
        },
        getRedirectBackTo: function(){
            return '<%= @redirect_back_to %>'
        },
        get_review_template_flag : function(){
            return <%= @is_review_template %>
        }
    };
}]);