<div ng-controller="TemplateCtrl" ng-init="init()">
	<div ng-repeat="page in template_data.pages">
		<page ng-model="page"></page>
	</div>
	<preview></preview>
	<div class="modal fade" id="sendTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel" style="padding-left:20px">Would you like to send template?</h4>
      </div>
      <div class="modal-body">
  <ui-select multiple="true" ng-model="multiselect.selectedContacts" theme="bootstrap" >
    <ui-select-match placeholder="Please select contacts" >
      {{$item.first_name}} {{$item.last_name}}
    </ui-select-match>
    <ui-select-choices repeat="contact.id as contact in userContacts"
         refresh="refreshContacts($select.search)"
         refresh-delay="500">
         <div class="user-info" style="min-height:40px">
          <img class="profile-pic-small" ng-src="{{contact.image}}" alt="Missing user">
          <div>{{contact.first_name}} {{contact.last_name}}</div>
         </div>
    </ui-select-choices>
  </ui-select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendTemplateLink();">Send</button>
      </div>
    </div>
  </div>
</div>
</div>
