<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Daily Leader Observation Planner</h2>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> 6 minutes
            </div>
            <div class="col-md-6 text-right tag-list">
              Leads Others, Develops Others, Coach, Mentor
            </div>
          </div>
          <p>Use the Daily Leader Observation Planner, along with a unit training schedule, to identify the most productive times to observe how a leader acts and responds (behavior).</p>
        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>