<div class="main-container" ng-show="template_data.current_page==2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="javascript:void(0)" ng-click="template_data.current_page=1" class="btn btn-1">BACK</a><a ng-href="{{redirectBackTo}}"  class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="text-container">
          <label>Template Name:</label>
          <input type="text" name="template_name" ng-model="template_data.title" placeholder="Click to type"  class="form-control tempname" />
        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>
