<div class="main-container"  ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=2"  class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">Identify the most productive times in the day to observe how a leader acts and responds.</h2>
        </div>

        <productive-time-entries productive-times="page.most_productive_times"></productive-time-entries>


        <p class="text-center"> <a href="javascript:void(0)"  ng-click="save_complete()" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>


<!-- <div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="4-daily_leader_observation_planner_2" class="btn btn-1 ">BACK</a><a href="#" class="btn btn-1 btn-mg-loose">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">Identify the most productive times in the day to observe how a leader acts and responds.</h2>
        </div>

        <productive-time-entries productive-times="page.most_productive_times"></productive-time-entries>
        <p class="text-center"> <a href="4-daily_leader_observation_planner_summary" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div> -->

