<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=3"  class="btn btn-1" ng-hide="is_review_template">BACK</a><a ng-href="{{redirectBackTo}}"class="btn btn-1 btn-mg-loose" ng-hide="is_review_template">EXIT</a></p>
        <div class="container-fluid">
          <h2 class="text-center">You’ve successfully filled out Daily Leader Observation Planner template.<br/>
            Review your responses below</h2>
        </div>

        <table class="table table-no-border timing-table">
          <thead>
          <th>Date</th>
          <th>Observation Window</th>
          <th>Name of Leader</th>
          <th>Situation to Observe</th>
          </thead>
          <tbody>
          <tr ng-repeat="productive_time in template_data.pages[2].most_productive_times">
            <td class="text-center">{{productive_time.date}}</td>
            <td class="text-center">{{productive_time.observation_window}}</td>
            <td class="text-center">{{productive_time.leader.title}}</td>
            <td class="text-center">{{productive_time.situation_to_observe}}</td>
          </tr>

          <tr ng-hide="is_review_template">
              <td colspan="4" align="center">
                   <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Save and Send</button>
                   &nbsp;&nbsp;&nbsp;
                   <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
              </td>
          </tr>
          </tbody>
        </table>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Daily Leader Observation Planner Template."></span>
      </div>
    </div>
  </div>
</div>
