<script type="text/javascript"> 
 var main_menu_tabs = escape('<%= @main_menu_tabs.to_json.html_safe %>');
 $(document).ready(function(){
 	tabjson = $.parseJSON(unescape(main_menu_tabs));
 	submenu_obj = $("#main_menu ul");
 	$.each(tabjson,function(tab){
      submenu_obj.prepend('<li id="'+tabjson[tab].title+'"><a href="/admin/tabs/'+tabjson[tab].id+'">'+tabjson[tab].title+'</a></li>');
 	});
    
 })
</script>