<%= form_tag email_content_block_path(params[:content_block_id] || params[:id]), id: "email-form", remote: true, required: true do %>
    <%= hidden_field_tag :current_tab_url %>
    <div class="community-dropdown email-community">
      <%= image_tag "email_white.png", class: "contacts-img" %>
      <select id="contacts" name="contacts[]" multiple="multiple">
        <%
           index=1
           @contacts_and_communities.each do |key, values|
        %>
            <optgroup label="<%= key %>">
              <% values.each do |value| %>

                  <option value="<%= "#{key}-#{value.id}" %>"><%= value.name %></option>

              <% end %>
            </optgroup>
        <%
           index += index
           end
        %>

      </select>
    </div>

    <div>
        <%= text_area_tag "email[body]","", placeholder: "Email body", class: "post-content" %>
    </div>

<% end %>
<script>
    $(function(){
        $("#contacts").multiselect();
        // $("#current_page_url") is in /tabs/show.html.erb
        $("#current_tab_url").val($("#current_page_url").val());
    });
</script>

