<%= form_for(@content_block_post, :url => content_block_posts_path) do |f| %>
  <%= select_tag "type", options_for_select(ContentBlockPost::Types) %>
  <div class="field">
    <%= label_tag :content %><br>
    <%= text_area_tag :content %>
  </div>
  <%#= community to be selected%>
  <%= text_field_tag :community_id %>
  <%= render partial: 'link'%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>