<div class="comment-box" id="post-<%= content_block_post.id %>" style = "<%= comments_border_color(content_block_post.user_community) %>">
  <div class="comment-header row">
    <div class="small shared-by col-md-8">
      <%= image_tag content_block_post.user.image.url(:thumb) %>Shared by <%= content_block_post.user.rank_last_name %>
    </div>
    <div class="col-md-4">
      <div class="delete-link pull-right">
        <% if content_block_post.user_id == current_user.id %>

            <%= link_to "javascript:void(0)",onclick: "$(this).hide().siblings('.confirm-delete').show();", class: "init-delete" do %>
                <i class="fa fa-remove"></i>
            <% end %>
            <%= link_to content_block_post_path(content_block_post), method: "delete", remote: true, class: "confirm-delete", style: "display:none;" do  %>
                <span>Delete?</span>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-content-wrapper">
    <i class="fa fa-link"></i>
    <%= link_to truncate(post_link.description, length: 32) ,  post_link.url, target: '_blank', class: "post-link", title: post_link.description %>
  </div>
  <div class="comment-footer">
    <div class="row">
      <div class="col-xs-4 reply-count">
        <span class="small" id="reply-count-<%= content_block_post.id %>"><%= content_block_post.replies.count %> replies</span>
      </div>

      <div class="col-xs-7 "></div>

      <div class="col-xs-1 text-right">
        <a href="javascript:void(0)" class="chevron" data-toggle="collapse" data-target="#comment_<%= content_block_post.id %>"><i class="fa fa-chevron-down"></i></a>
      </div>
    </div>
  </div>
  <div id="comment_<%= content_block_post.id %>" class="comment-replies collapse">
    <%= render partial: "replies/replies", locals: {content_block_post: content_block_post} %>
    <%= link_to new_content_block_post_reply_path(content_block_post), remote: true,
                id: "show-reply-form-at-top-#{content_block_post.id}",
                class: "btn btn-block solid-gold" do
    %>
        <i class="fa fa-plus"></i>
    <% end %>
  </div>

</div>