<%= form_tag(email_content_block_path) do%>
  <%= label_tag :communities %><br>
  <% @contacts_and_communities[:communities].each do |com|%>
    <div class="field">
      <%= check_box_tag 'communities[]', com.id %>
      <%= com.name%>
    </div>
  <%end%>
  <%= label_tag :contacts %><br>
  <% @contacts_and_communities[:contacts].each do |contact|%>
    <div class="field">
      <%= check_box_tag 'contacts[]', contact.id %>
      <%= contact.name%>
    </div>
  <%end%>
  <div class="field">
    <%= label_tag :content %><br>
    <%= text_area_tag :content %>
  </div>
  <%=submit_tag 'SendEmail'%>
<%end%>