<% if @postable.valid? %>
    $(".post-content").val("");
    var postContainer = $("#post-container-<%= params[:content_block_id] %>");
    $("p.processing-video-reply").html("");
    <% if @postable.is_a?(PostText) %>
        postContainer.prepend("<%= j(render partial: "post_text", locals: {post_text: @postable, content_block_post: @post}) %>");
    <% elsif @postable.is_a?(PostLink) %>
        postContainer.prepend("<%= j(render partial: "post_link", locals: {post_link: @postable, content_block_post: @post}) %>");
    <% elsif @postable.is_a?(PostVideo) %>
        postContainer.prepend("<%= j(render partial: "post_video", locals: {post_link: @postable, content_block_post: @post}) %>");
    <% end %>
<% end %>
