<% if params[:filter_present].present? %>
    $("#post-container-<%= @content_block.id %>").html("<%= j(render partial: "tabs/posts" )%>");
<% else %>
    $("#right-drawer-body").html("<%= j(render partial: "tabs/right_drawer_body") %>");
<% end %>