<% if @errors.any? %>
  <div id="error_explanation" class="error-box">
    <h2><%= pluralize(@errors.count, "error") %> prohibited this content_block from being saved:</h2>

    <ul>
    <% @errors.each do |message| %>
      <li><b><%= message[0] %></b>: <%= message[1][0]%></li>
    <% end %>
    </ul>
  </div>
<% end %>
<input type="hidden" value="<%=@parent_anchor%>" id="tab_anchor" />
<div style="float:left" class="common-block">
  <%= hidden_field_tag :type, @value %>
  <div class="field">
    <div class="left">
      <%= label_tag :title %>
      <%= text_field_tag :title, @content_block["title"] %>
    </div>
    <div class="right" >
      <%= label_tag :anchor_name %>
      <%= text_field_tag :anchor_name, @content_block["anchor_name"],class:"anchor_box" ,onkeyup:"update_url(this,'url_value')"%>
    </div>
  </div>
  <div class="field">
    <div class="right">
      <%= label_tag :url %>
      <%= label_tag "",nil, class:"url_value",style:"width:auto;font-weight:normal" %>
    </div>
  </div>
  <div class="field">
    <div class="left">
      <%= label_tag :bottom_spacing %>
      <%= number_field_tag :spacing, @content_block["spacing"], min: 0 %>
    </div>
    <div class="right">
      <%= label_tag :quick_navigation_title %>
      <%= text_field_tag :quick_navigation_title, @content_block["quick_navigation_title"] %>
    </div>
  </div>
  <%if !["2", "3", "7"].include? @value.to_s %> 
    <div class="field">
      <div class="left">
        <%= label_tag :tag %>
        <%= text_field_tag :tag_list, @content_block.try(:tag_list).to_s %>
      </div>
    </div>
  <%end%>
</div>
