<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
 <div class="content_block">
   <div class="div-block">
     <div class="field-row">
        <%= label_tag :audio %><br>
        <%= file_field_tag :audio %><br>
        <%= @block["audio_file_name"] %>
     </div>
       <div class="text_area">
        <%= label_tag :TTP_text %><br>
        <%= text_area_tag :text, @block["text"] %>
       </div>
   </div>
  <div class="div-block">
    <%= button_tag :save %>
  </div>
 </div>  



<% end %>