<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
     <div class="div-block">
        <h3><b>Text</b></h3>
        <div class="field-row">
          <div class="number">
            <%= label_tag :width %><br>
            <%= number_field_tag :width, @block["width"], min: 0 %>%
          </div>
          <div class="number">
            <%= label_tag :alpha %><br>
            <%= number_field_tag :alpha, @block["alpha"], min: 0 %>%
          </div>
          <div>
           <div>
            <%= radio_button_tag :place_text, "Right",
            (@block["place_text"] == "Right") %> Place text Below of Video
          </div>
          <div>
            <%= radio_button_tag :place_text, "Left", 
            (@block["place_text"] == "Left")%>Place text Above of Video
          </div>
          <div>
            <%= check_box_tag :hide_text, :true, @block["hide_text"] %>
            <%= label_tag :hide_text %>
          </div>
          </div>
        </div>
         <div class="text_area">
         <%= label_tag :text_box_text %><br>
         <%= text_area_tag :text, @block["text"] %>
         </div>
     </div>
      <div class="div-block">
        <div class="directUpload">
        <h3><b>Video</b></h3>
        <div class="field-row">
          <div class="number">
           <%= label_tag :width %><br>
           <%= number_field_tag :video_width, @block["video_width"], min: 0 %>%
          </div>
          <div class="number">
          <%= label_tag :video_file %><br>
          <%= file_field_tag :video %><br>
          <%= @block["video_url"] %>
        </div>
      </div>
      </div>

      </div>  
        <div class="div-block">
        <%= button_tag :save %>
       </div>
  </div>   
<% end %>
<% if @block["video_url"].present?%>
  <% url = @block["video_url"].split("/")%>
  <% @s3_direct_post = S3_BUCKET.presigned_post(key: "uploads/video_vertical/#{url[4]}/${filename}", 
        success_action_status: '201'
      ) %>
<%end%>
