<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
   <div class="div-block">
    <div class="field-row">
      <div class="number">
          <%= label_tag :width %><br>
          <%= number_field_tag :width, @block["width"], min: 0 %>%
      </div>
      <div class="number">
          <%= label_tag :alpha %><br>
          <%= number_field_tag :alpha, @block["alpha"], min: 0 %>%
      </div>
    </div>

   <div class="text_area">
     <%= label_tag :text_box_text %><br>
     <%= text_area_tag :text, @block["text"] %>
   </div>
   <div class="actions">
    <%= button_tag :save %>
   </div>
   </div>
</div>
<% end %>
