<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
    <div class="div-block">
      <div class="field-row">
        <div class="number">
          <div>
            <%= radio_button_tag :design, "Light",
              (@block["design"] == "Light") %> Light Design
          </div>
          <div>
            <%= radio_button_tag :design, "Right", 
              (@block["design"] == "Right")%>Right Design
          </div>
        </div>
        <div class="bigtext">
          <%= label_tag :subject %><br>
            <%= text_field_tag :subject, @block["subject"] %>
        </div>
        <div class="bigtext">
          <%= label_tag :subtitle %><br>
          <%= text_field_tag :subtitle, @block["subtitle"] %>
        </div>
      </div>
      <div class="field-row">
        <div class="file-field" style="padding-left:100px">
          <%= label_tag :background_image %><br>
          <%= file_field_tag :image, :hint => @block["image_file_name"] %><br>
          <%= @block["image_file_name"] %>
        </div>
        <div class="bigtext">
          <%= label_tag :time %><br>
          <%= text_field_tag :time, @block["time"] %>
        </div>
      </div>
      <div class="field-row">
        <div class="bigtext">
          <%= label_tag :lpd_anchor_name %><br>
          <%= text_field_tag :lpd_anchor_name, @block["lpd_anchor_name"] %>
        </div>
      </div>
      <div class="text_area">
        <%= label_tag :description %><br>
        <%= text_area_tag :description, @block["description"] %>
      </div>
      <div class="bigtext">
        <%= label_tag :select_lpd %><br>
        <%=  select_tag "lpd", options_from_collection_for_select(@lpds, "id", "title", @block["leader_professional_development_id"]) %>
      </div>
    </div>
    <div class="div-block">
      <%= button_tag :save %>
    </div>
  </div>   
<% end %>