<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
    <div class="div-block">
      <div class="field-row">
        <div class="number">
          <%= label_tag :width %><br>
          <%= number_field_tag :width, @block["width"], min: 0 %>%
        </div>
        <div class="number">
         <%= label_tag :justification %><br>
         <%= select_tag :justification, options_for_select(AdminData::Justification::Types, @block["justification"])%>
        </div>
        <div class="number">
          <%= label_tag :animation %><br>
          <%= select_tag "animation", 
          options_for_select(AdminData::Animation::Types, @block["animation"]) 
          %>
        </div>
      </div>
      <div class="text_area">
       <%= label_tag :title_text %><br>
       <%= text_area_tag :text, @block["text"] %>
      </div>
      <div class="actions">
       <%= submit_tag %>
      </div>
    </div>
  </div>
  <% end %>
