<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
    <div class="div-block">
      <div class="float-element">
      <div class="left">
      <div class="field-row">
        <div class="number">
          <%= label_tag :width %><br>
          <%= number_field_tag :width, @block["width"], min: 0 %>%
        </div>
        <div class="number">
          <%= label_tag :alpha %><br>
          <%= number_field_tag :alpha, @block["alpha"], min: 0 %>%
        </div>
      </div>
      <div class="field-row">
        <%= label_tag :resource_image %><br>
        <%= file_field_tag :image, :hint => @block["image_file_name"] %><br>
        <%= @block["image_file_name"] %>
      </div>
      </div>
      <div class="right">
         <div class="text_area_template">
          <%= label_tag :text %><br>
          <%= text_area_tag :text, @block["text"] %>
         </div>
          <div class="bigtext">
            <%= label_tag :select_template_type %><br>
            <%=  select_tag "template_type", options_from_collection_for_select(MasterTemplate.exclude_templates, "id", "name", @block["master_template_id"]) %>
          </div>
      </div>
      </div>
      <div style="text-align:center">
        <div class="actions">
         <%= button_tag :save %>
        </div>
      </div>
      </div>    
  </div>




<% end %>
