<%= form_tag(admin_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="field">
    <%= label_tag :image %><br>
    <%= file_field_tag :image, :hint => @block.image_file_name %><br>
  </div>
  <div class="actions">
    <%= button_tag :save %>
  </div>
<% end %>
