<%= form_tag(admin_tab_section_content_blocks_path) do |f| %>
  <%= render(:partial => 'form_content_block_common')%>
  <div class="content_block">
    <div class="field">
      <div class="left">
        <%= label_tag :upper_spacing %>
        <%= number_field_tag :space_upper, @block["space_upper"], min: 0 %>
      </div>
    </div>
  <div class="div-block">
    <h3><b>Title</b></h3>
    <div class="field-row">
      <div class="number">
          <%= label_tag :width %><br>
          <%= number_field_tag :width, @block["width"], min: 0 %>%
      </div>
      <div class="number">
          <%= label_tag :alpha %><br>
          <%= number_field_tag :alpha, @block["alpha"], min: 0 %>%
      </div>
      <div class="text-field">
          <%= label_tag :bg_color %><br>
          <%= text_field_tag :bg_color, @block["bg_color"] %>
      </div>
      <div class="number">
          <%= label_tag :position %><br>
          <%= number_field_tag :position, @block["position"], min: 0 %>%
      </div>
    </div>
     <div class="text_area">
       <%= label_tag :text %><br>
       <%= text_area_tag :text, @block["text"]%>
     </div>
  </div>

 <div class="div-block">
   <h3><b>Body</b></h3>
   <div class="field-row">
      <div class="number">
          <%= label_tag :width %><br>
          <%= number_field_tag :body_width, @block["body_width"], min: 0 %>%
      </div>
      <div class="number">
          <%= label_tag :alpha %><br>
          <%= number_field_tag :body_alpha, @block["body_alpha"], min: 0 %>%
      </div>
   </div>   
   <div class="text_area">
    <%= label_tag :body_text %><br>
    <%= text_area_tag :body_text, @block["body_text"]%>
   </div>

  <div class="actions">
    <%= button_tag :save %>
  </div>
 </div> 
<% end %>
</div>