<%= render partial: 'load_form_script' %>
<%#= javascript_include_tag "application" %>
<% if params[:id].nil?%>
  <%if @type.blank?%>
    <%= select_tag "type", options_for_select(AdminData::Block::Types), 
      {:onchange => "load_form(this.options[this.selectedIndex].value);", 
      prompt: 'Select Type'} %>
  <%else%>
    <%= select_tag "type", options_for_select(AdminData::Block::Types, AdminData::Block::Types[@type.to_i - 1]), 
      {:onchange => "load_form(this.options[this.selectedIndex].value)", 
      prompt: 'Select Type'} %>
    <div>   
      <script>
        load_form("<%= @type%>");
      </script>
    </div>
  <%end%>
<%else%>
  <div id="edit_form"> 
    <script>
      load_edit_form();       
    </script>
  </div>
<%end%>

<div id="form"></div>
