<script>
  function load_form(value)
  {
    $.ajax({
    url: "get_form_partial",
    cache: false,
    data: {type: value, errors: '<%= @errors.to_json.html_safe%>', cb: '<%= @cb.to_json.html_safe%>', type_data: '<%= @type_data.to_json.html_safe%>'}
   });
  }
  function load_edit_form()
    {
      $.ajax({
       url: "get_edit_form_partial",
       cache: false,
       data: {id: '<%= params[:id]%>', errors: '<%= @errors.to_json.html_safe%>', cb: '<%= @cb.to_json.html_safe%>', type_data: '<%= @type_data.to_json.html_safe%>'}
      });
    }
</script>