$("#form").html("<%= escape_javascript(render partial: @partial ) %>")
<% if (@partial =='form_video_horizontal') || (@partial =='form_video_vertical')%>
$( document ).ajaxComplete(function( event,request, settings ) {
    $(function() {
  <%= render :partial => 'admin/file_upload'%>
  file_upload();
  });
});
<%end%>