//$("#edit_form").html("<div class= "panel" style="width:100px"> <h3> <%= @type[0] %></h3></div>")
$("#form").html("<%= escape_javascript(render partial: @partial ) %>")
<% if ((@partial =='form_video_horizontal') || (@partial =='form_video_vertical'))%>
$( document ).ajaxComplete(function( event,request, settings ) {
    $(function() {
  <%= render :partial => 'admin/file_upload'%>
  file_upload();
});
});
<%end%>