<div class="panel">
<h3> General Feedback</h3>	
	<% if @gb_errors.any? %>
  <div id="error_explanation" class="error-box">
    <h2><%= pluralize(@gb_errors.count, "error") %> prohibited this gb from being saved:</h2>

    <ul>
    <% @gb_errors.each do |message| %>
      <li><b><%= message[0] %></b>: <%= message[1][0]%></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<div class="text">
	  <%= label_tag :sub_title %><br>
	  <%= text_field_tag :gb_sub_title, @gb["sub_title"]%>
	</div>
	<%= hidden_field_tag :gb, @gb["id"] %>
  <div class="file-field" >
    <%= label_tag :background_photo %><br>
    <%= file_field_tag :gb_image %><br>
    <%= @gb["background_photo_file_name"] %>
  </div>
  <div class="text_area">
    <%= label_tag :main_text %><br>
    <%= text_area_tag :gb_main_text, @gb["main_text"] %>
  </div>
</div>