<%=form_tag(save_capability_admin_assessment_score_range_path, :multipart => true ) do |f| %>
	<%=render partial: 'form_gather_feedback'%>
	<%=render partial: 'form_study'%>
	<%=render partial: 'form_practice'%>
	<div class="div-block">
		  <%= button_tag :save %>
		</div>
<%end%>