<div class="panel">
<h3> Study </h3>	

	<% if @study_errors.any? %>
  <div id="error_explanation" class="error-box">
    <h2><%= pluralize(@study_errors.count, "error") %> prohibited this study from being saved:</h2>

    <ul>
    <% @study_errors.each do |message| %>
      <li><b><%= message[0] %></b>: <%= message[1][0]%></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<div class="text">
	  <%= label_tag :sub_title %><br>
	  <%= text_field_tag :study_sub_title, @study["sub_title"]%>
	</div>
	<%= hidden_field_tag :study, @study["id"] %>
  <div class="file-field" >
    <%= label_tag :background_photo %><br>
    <%= file_field_tag :study_image %><br>
    <%= @study["background_photo_file_name"] %>
  </div>
  <div class="text_area">
    <%= label_tag :main_text %><br>
    <%= text_area_tag :study_main_text, @study["main_text"] %>
  </div>
</div>	
