<div class="panel">
<h3> Practice</h3>	
	<% if @practice_errors.any? %>
  <div id="error_explanation" class="error-box">
    <h2><%= pluralize(@practice_errors.count, "error") %> prohibited this practice from being saved:</h2>

    <ul>
    <% @practice_errors.each do |message| %>
      <li><b><%= message[0] %></b>: <%= message[1][0]%></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<div class="text">
	  <%= label_tag :sub_title %><br>
	  <%= text_field_tag :practice_sub_title, @practice["sub_title"]%>
	</div>
	<%= hidden_field_tag :practice, @practice["id"] %>
  <div class="file-field" >
    <%= label_tag :background_photo %><br>
    <%= file_field_tag :practice_image %><br>
    <%= @practice["background_photo_file_name"] %>
  </div>
  <div class="text_area">
    <%= label_tag :main_text %><br>
    <%= text_area_tag :practice_main_text, @practice["main_text"] %>
  </div>
</div>