<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Command Unit Leader Development Scorecard</h2>
          <h5><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;6 minutes</h5>
          <p>Use the Command Unit Leader Development Scorecard to evaluate leader development in your Command.</p>
        </div>
        <!--<div class="text-date-box">-->
          <!--<p class="savedver">You have 2 saved versions.</p>-->
          <!--<input type="text" id="datepicker" class="input-field-transparent" placeholder="Choose Date">-->
          <!--<span>-->
          <!---->
          <!--<input type="text" name="template_name" placeholder="Type"  class="form-control input-field-transparent text-field" ng-model="template_data.title">-->
          <!--</span>-->
          <!--<div class="clearfix">-->
            <!--Example: Command Unit Leader Development Scorecard-->
          <!--</div>-->
        <!--</div>-->
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span>
      </div>
    </div>
  </div>
</div>