<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=2"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">Evaluate current leader development within your Command.</h2>
        </div>
        <!--table-->
            <status-text-combo-questions questions-data="page.questions" page-number="page.number" ></status-text-combo-questions>
        <!--/table-->

        <p class="text-center"> <a href="javascript:void(0)" class="btn btn-1" ng-click="save_template()">Next</a> </p>
      </div>
    </div>
  </div>
</div>