<div class="main-container" ng-show="template_data.current_page==5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=4"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">Evaluate current leader development within your Command.</h2>
        </div>
        <!--table-->
        <status-text-combo-questions questions-data="page.questions" page-number="page.number"></status-text-combo-questions>
        <!--/table-->


        <div class=" clearifx text-center v-hr-loose"><a href="#" ng-click="save_complete()" class="btn btn-1">Complete</a></div>
      </div>
    </div>
  </div>
</div>