<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> 
          <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">
            EXIT
          </a>
          <a href="javascript:void(0);" ng-click="template_data.current_page=5"   class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">
            BACK
          </a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">You’ve successfully filled out Command Unit Leader Development Scorecard template.<br/>
            Review your responses below</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
          <tr>
            <th width=58%>Indicators of the Health of Unit Leader Development</th>
            <th>Status</th>
            <th>Action Needed</th>
          </tr>
          </thead>
          <tbody>

          <tr ng-repeat="question in collectQuestions(template_data.pages, 3)">
            <td>{{question.text}}</td>
            <td class="preview-check-box">
              <input type="radio" class="style-radio" disabled="disabled"   name="unitperf_status-{{$index}}" id="unitperf_green-{{$index}}" ng-model="question.status" value="1" /><label  class="radio-circle green-circle" for="unitperf_green-{{$index}}"></label>
              <input type="radio" class="style-radio" disabled="disabled" name="unitperf_status-{{$index}}" id="unitperf_orange-{{$index}}" ng-model="question.status" value="2"/><label class="radio-circle orange-circle" for="unitperf_orange-{{$index}}"></label>
              <input type="radio" class="style-radio" disabled="disabled" name="unitperf_status-{{$index}}" id="unitperf_red-{{$index}}" ng-model="question.status" value="3"/><label class="radio-circle red-circle" for="unitperf_red-{{$index}}"></label>
            </td>
            <td><textarea name="unit_performance" readonly="readonly"  ng-model="question.answer"></textarea></td>
          </tr>
          <tr ng-hide="is_review_template">
              <td colspan="4" align="center">
                   <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
                   <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
              </td>
          </tr>
          </tbody>
        </table>

        <!--/table-->
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Command Unit Leader Development Scorecard Template."></span>
      </div>
    </div>
  </div>
</div>