<div class="main-container" ng-show="template_data.current_page==2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=1" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Please select a leader and designate their current position.</h2>
        </div>
        <div class="text-date-box">
          <div class="ui-widget">
            <angucomplete-alt id="members"
                              placeholder="Search contacts"
                              pause="400"
                              selected-object="template_data.mentee"
                              remote-url="/users/contacts.json?query="
                              remote-url-data-field="results"
                              title-field="first_name,last_name"
                              search-fields="first_name, last_name"
                              image-field="image"
                              input-class="form-control input-field-transparent "></angucomplete-alt>

          </div>
          <div class="text-container">
            <label>Template Name:</label>
            <input type="text" ng-model="template_data.title" name="template_name" placeholder="Click to type"  class="form-control tempname" />

            <label>Current Position:</label>
            <input name="current_position" ng-model="page.current_position" class="form-control tempname" type="text" placeholder="Click to type" />
          </div>
        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>