<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0)" ng-click="template_data.current_page=2" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}"class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <div class="container-fluid">
            <h2 class="text-center">Identify key qualifications in selecting leaders for key positions within your command.</h2>
          </div>
          <h1 class="text-center">Key Roles/Responsibilities</h1>
          <responsibilities responsibilities="page.responsibilities"></responsibilities>

          <div class="text-container">
            <label>Leader with Intellectual Capacity</label>
            <input name="intellectual_capacity" ng-model="page.questions[0].answer" class="form-control tempname" type="text" placeholder="Click to type" />
          </div>
          <p class="text-center"> <a ng-click="save_template()" href="javascript:void(0)" class="btn btn-1">NEXT</a> </p>
          <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
        </div>
      </div>
    </div>
  </div>
</div>