<div class="main-container" ng-show="template_data.current_page==6">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0)" ng-click="template_data.current_page=5" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <div class="container-fluid">
            <h2 class="text-center">Identify key qualifications in selecting leaders for key positions within your command.</h2>
          </div>
          <div class="text-big-container">
            <label>Plans/Actions to Prepare Leader for This Position</label>
            <textarea ng-model="page.questions[0].answer" name="actions" placeholder="Click to type"></textarea>
          </div>

          <p class="text-center"> <a href="javascript:void(0)" ng-click="save_complete()"  class="btn btn-1">Complete</a> </p>
          <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
        </div>
      </div>
    </div>
  </div>
</div>