<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0)" ng-click="template_data.current_page=6" class="btn btn-1 " ng-hide="is_review_template">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose" ng-hide="is_review_template">EXIT</a></p>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">You’ve successfully filled out Individual Plans for Advancement template.
            <br/>
            Review your responses below</h2>
        </div>
        <h3>Key Roles/Responsibilities</h3>
        <table class="table table-no-border">
          <thead>
          <th>Responsibilities of this level/position</th>
          <th>Readiness</th>
          </thead>
          <tbody>
          <tr ng-repeat="responsibility in template_data.pages[2].responsibilities">
            <td width=85%><input type="text"  placeholder="Click to type" class="form-control tempname" ng-model="responsibility.text" /></td>
            <td><div class="template_selectbox"><select ng-model="responsibility.readiness"><option>1</option><option selected>2</option></select></div></td>
          </tr>
          </tbody>
        </table>
        <div class="text-big-container">
          <label>Leader with Intellectual Capacity</label>
          <input name="intellectual_capacity" ng-model="template_data.pages[2].questions[0].answer" class="form-control tempname" type="text" value="Lorem ipsum dolor" />
          <label>Plans/Actions to Address Development Areas:</label>
          <textarea name="plans" ng-model="template_data.pages[3].questions[0].answer"></textarea>
          <label>Next or Potential Position</label>
          <input name="potential_position" ng-model="template_data.pages[3].questions[1].answer" class="form-control tempname" type="text" value="Lorem ipsum dolor" />
        </div>
        <h3>Additional (New) Responsibilities</h3>
        <table class="table table-no-border">
          <thead>
          <th width=85%>Responsibilities added at this level/position</th>
          <th>Readiness</th>
          </thead>
          <tbody>
          <tr ng-repeat="responsibility in template_data.pages[4].responsibilities">
            <td width=85%><input type="text"  placeholder="Click to type" class="form-control tempname" ng-model="responsibility.text" /></td>
            <td><div class="template_selectbox"><select ng-model="responsibility.readiness"><option>1</option><option selected>2</option></select></div></td>
          </tr>
          </tbody>
        </table>
        <div class="text-big-container">
          <label>Plans/Actions to Prepare Leader for This Position</label>
          <textarea name="actions" ng-model="template_data.pages[5].questions[0].answer"></textarea>
        </div>
        <p class="text-center" ng-hide="is_review_template"> 
          <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
          <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Individual Plans for Advancement template."></span>
      </div>
    </div>
  </div>
</div>
