<div class="row pd15 text-center white">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h3>Add a profile picture.</h3>
    <div class="row mt35">
      <div class="col-xs-12 col-sm-6 text-right">
        <div class="image-uploader" data-base-height="250" data-base-width="250">
          <div class="image image-holder onboarding">
              <img />
          </div>
        <input id="uploader" type="file" />
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= form_for user, url: upload_profile_pic_path(user), remote: true,  :html => { :multipart => true, id: "image-form"  } do |f| %>
            <a href="javascript:void(0)" class="btn flat-drk filled mb25 active-browse-btn">
              <%= f.file_field :image, onchange: "$('#image-form').submit()", class: "hide-browse-btn"   %>
              <i class="fa fa-desktop mr10"></i>Import from computer</a>
        <% end %>
        <a href="javascript:void(0)" class="btn flat-drk filled mb25 hide-ui-elements"><i class="fa fa-facebook-square mr10"></i>Import from facebook</a>
        <a href="javascript:void(0)" class="btn flat-drk filled mb25 hide-ui-elements"><i class="fa fa-twitter-square mr10"></i>Import from twitter</a>
      </div>
    </div>
    <div class="mt35">
      <%= link_to "Next", "/users/#{user.id}/add_contacts",class: 'btn solid-gold', remote: true %>
    </div>
    <div class="mt15">
      <%= link_to "Skip", add_contacts_user_path(user), class: 'btn btn-link', remote: true %>
    </div>
  </div>
</div>

<script>
  $(function(){
      $("#file").on("change", function(){

      });
  });
</script>