<div class="row pd15 text-center">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h3>Congratulations, <%= @user.first_name.capitalize %>! You’ve successfully created a profile.</h3>
    <h3 class="white">Connect with people you know. Select at least 3 contacts to add.</h3>
    <div class="form-group mt35">
      <%= text_field_tag :search, "", class: 'form-control flat-bg', id: "search_input", placeholder: "Search"  %>
    </div>
    <%= form_tag save_contacts_user_path(@user), remote: true, id: "save_contacts" do %>
      <div class="usersContainer">
        <div class="row user-list-header">
          <div class="col-xs-9 left-block">People online</div>
          <div class="col-xs-3">Select</div>
        </div>
        <hr class="light mt15 mb15">
        <div id="usersList">
          <%= render partial: "users/user_search_result", locals: {users: @users} %>
        </div>
        <% if @users && @users.size >= 4  %>
          <div class="text-left text-muted mt15">Scroll to view more</div>
        <% end %>
      </div>
      <div class="mt35">
        <%= submit_tag "Next", class: 'btn solid-gold' %>
      </div>
      <div class="mt15">
        <%= link_to "Skip", "javascript:void(0)", class: 'btn btn-link', onclick: "$('#save_contacts').submit();" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#search_input').off('keyup').on('keyup', function(){
    if (this.value.length > 2 ){
      $.ajax({
        method: "GET",
        url: "/search_users",
        dataType: 'script',
        data: { query : this.value }

      })
    }
  });
</script>