<div class="row pd15">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="text-center">
      <h3>Join and create communities to share articles, videos, and other content.</h3>
      <h3 class="white">Click below to create a new Community.</h3>
      <%= link_to add_community_user_path(@user), class: "btn-create", remote: true do %>
        <i class="fa fa-plus mr10"></i> Create a new community
      <% end %>
    </div>
    <h4 class="mt35">Your contacts</h4>
    <div class="row">
      <% contacts.each do |user| %>
        <div class="col-xs-6 col-md-4 left-block">
          <div class="user-info">
            <%= image_tag user.image.try(:url), class: 'profile-pic-small' %>
            <div><%= user.name %></div>
            <div><%= "#{user.state.name} #{user.country.name}, #{user.base_location.name}" %> </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="mt35 text-center">
      <%= button_tag "Next", class: 'btn solid-gold' %>
    </div>
    <div class="mt15 text-center">
      <%= link_to "Skip", root_path, class: 'btn btn-link' %>
    </div>
  </div>
</div>