<div class="row pd15">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="text-center">
      <h3>Great job. All communities can be accessed through the Toolbar.</h3>
      <h3 class="white">You’re all set! Let’s get started!</h3>
      
    </div>
    
    <h3 class="mt35 text-center"><%= community.name %></h3>
    <div class="community-card" style="border: 3px solid #<%= community.color %>">
      <div class="row">
        <% community.contacts.each do |user| %>
          <div class="col-xs-6 left-block text-center">
              <%= image_tag user.image.try(:url), class: 'profile-pic-small' %>
              <div><%= user.name %></div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="mt35 text-center">
      <%= link_to "Complete", root_path, class: 'btn solid-gold' %>
    </div>
  </div>
</div>