<div id="initialCommunityForm" class="row pd15">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h3>Join and create communities to share articles, videos, and other content.</h3>
        <h3 class="white">Drag and drop users into your new Community.</h3>
    
        <div id="droparea" class="ui-widget-content">
          <div class="mb35 drag-n-drop-text">DRAG AND DROP USERS HERE</div>
        </div>
      </div>
      <h4 class="mt35">Your contacts</h4>
      <div class="row">
        <% contacts.each do |user| %>
          <div id="user_<%= user.id %>" class="col-xs-6 col-md-4 left-block draggable" data-user-id="<%= user.id %>">
            <div class="user-info">
              <%= image_tag user.image.try(:url), class: 'profile-pic-small' %>
              <div><%= user.name %></div>
              <div><%= "#{user.state.name} #{user.country.name}, #{user.base_location.name}" %> </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <div id="contacts_container"></div>
      
      <div class="mt35 text-center">
        <%= button_tag "Next", class: 'btn solid-gold save-community-next' %>
      </div>

  </div>
</div>

<div id="actualCommunityForm" class="row pd15 hide">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <%= form_tag save_community_user_path(@user), id: "saveCommunityForm",remote: true do %>
      <div class="text-center">
        <h3>Join and create communities to share articles, videos, and other content.</h3>
        <h3 class="white">Give your new Community a name and assign it a color.</h3>
      </div>
      
      <div class="community-add-name">
        <div class="form-group">
          <%= text_field_tag :name, "", placeholder: "Name", class: 'form-control community_name', data: {errorkey: 'name'} %>
        </div>
      
        <div class="form-group" id="community-color">
          <ul class="community-pallete form-control community_name">
            <li class="blue-color" data-color="#3cc6f4"></li>
            <li class="green-color" data-color="#3bb54b"></li>
            <li class="yellow-color" data-color="#faa726"></li>
            <li class="purple-color" data-color="#b17fb8"></li>
            <li class="red-color" data-color="#b80000"></li>
            <li class="pink-color" data-color="#ef4c7a"></li>
          </ul>
        </div>
        <div id="droparea_placeholder"></div>
      </div>
      
      <div id="contact_ids"></div>
      <div class="mt35 text-center">
        <%= submit_tag "Save", class: 'btn solid-gold' %>
      </div>
      
    <% end %>
  </div>
</div>


<script>
  $('.draggable').draggable({ revert: true });
  $('#droparea').droppable({
    drop: function( event, ui ){
      var user_id = ui.draggable.data('user-id');
      $(this).append(ui.draggable.html());
      if( !$("#contacts_container").find('input[type="hidden"][value='+user_id+']').length > 0 ){
        $('<input>').attr({
          type: 'hidden',
          name: 'contact_ids[]',
          value: user_id,
        }).appendTo('#contacts_container');
      }
      $('#user_'+user_id).draggable( "destroy" ).addClass('hide');
    }
  });
  
  $('.save-community-next').on('click', function(){
    $("#droparea_placeholder").html($('#droparea').html());
    $('.drag-n-drop-text').hide();
    $("#contact_ids").html($('#contacts_container').html());
    $("#initialCommunityForm").addClass('hide slideUp');
    $('#actualCommunityForm').removeClass('hide');
  });
  
  $('.community-pallete li').click(function(event) {
  	var Col = $(this).attr('data-color');
  	//$('#community-color .form-control').css('border-color', ''+Col+'');
  	$('#droparea_placeholder').css('border-color', ''+Col+'');
  });
</script>
