<% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-9 left-block">
        <div class="user-info">
          <%= image_tag user[:image_url], class: 'profile-pic-small' %>
          <div><%= user[:name] %></div>
          <div><%= "#{user[:state_name]} #{user[:country_name]}, #{user[:base_location]}" %> </div>
        </div>
      </div>
      <div class="col-xs-3">
        <%= check_box_tag "contact_ids[]", user[:id] %>
      </div>
    </div>
<% end %>