<input type="text" id="query" name="query" />

<%= form_tag(save_contacts_user_path(@user), remote: true) do %>
   <% @users.each do |user| %>
     <%= check_box_tag "contacts[]", user.id %>
     <%= user.name %>
   <%end%>
  <div class="div-block">
    <%= button_tag :save %>
  </div>
<%end%>