<%= form_tag(users_save_community_path, :remote => true) do %>
  <div>
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :color %><br>
    <%= text_field_tag :color %>
  </div>
  <div> 
    <% @contacts.each do |contact| %>
      <% user = contact.user %>
      <%= check_box_tag "contacts[]", user.id %>
      <%= user.name %>
    <%end%>
  </div>
  <div class="div-block">
    <%= button_tag :save %>
  </div>
<%end%>