<% if @community.errors.present? %>
  App.ErrorHandler.add_errors("#createCommunity", "<%= j(raw(@community.errors.to_json)) %>");
<% else %>
  $("#completion_container").html("<%= j(render partial: 'users/complete', locals: {community: @community}) %>");
  window.nextStep();
<% end %>