<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=2" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Identify purposes and methods by which you will implement the<br>OPD/NCOPD program.</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
          <th width="30%">Application</th>
          <th width="35%">Purpose</th>
          <th width="35%">Method</th>
          </thead>
          <tbody>
              <tr ng-repeat="application in page.applications">
                <td>{{application.title}}</td>
                <td><textarea ng-model="application.purpose" name="task_purpose" placeholder="Click to type"></textarea></td>
                <td><textarea ng-model="application.method" name="task_method" placeholder="Click to type"></textarea></td>
              </tr>
          </tbody>
        </table>

        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently Purpose and Method for Training and Professional Development template."></span>
      </div>
    </div>
  </div>
</div>
