<div id="lpd-page" style="background: rgba(80, 83, 87, 0.8) none repeat scroll 0 0;">
  <section class="pageStepView introHeader active no-padding">
    <div id="quick_navigation" style="background-image: url('<%= @lpd.background_image %>');">
      <div class="navigation-menu">
        <a href="javascript:history.back()" class="close-btn"></a>
        <button type="button" class="main-btn">click</button>
        <h3 class="heading"><%=@lpd.title %><br/><small><%=@lpd.subtitle %> </small></h3>
        <div id="lpd-sidenav">
          <ul>
          <% @lpd.lpd_concepts.each do |concept|%>
            <li>
              <a href="#"><span><%=concept.name %></span></a>
              <ul>
                <li>
                  <p class="clearfix shortdesc"><%=concept.description.html_safe %>
                  <br>
                  <button type="button" class="btn-light pull-right" data-toggle="modal" data-target="#watchVideo_<%=concept.id%>"> WATCH </button></p>
                </li>
              </ul>
            </li>
            <%end%>
          </ul>
        </div>
        
        
        <div class="timeline-table">
          <div class="info-box">
            <div class="container">
              <div class="col-md-12 clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn-light pull-right" type="button"> WATCH </button>
              </div>
            </div>
          </div>
          <div class="timeline-container">
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-center"><div class="time-info"><a href="#">April 1981<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1982<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1983<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1984<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1985<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1986<br/>Lorem ipsum dolor</a></div></td>
                  <td class="text-center"><div class="time-info"><a href="#">April 1987<br/>Lorem ipsum dolor</a></div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
      
      
      <div class="community-main-content">
        <div class="main-container">



        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<% @lpd.lpd_concepts.each do |concept|%>
<div class="modal fade" id="watchVideo_<%=concept.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-vid-dialog">
    <div class="modal-vid-content">
      <div class="modal-header" style="border-bottom:none;">
        <button type="button" class="close btncls" data-dismiss="modal" aria-label="Close" id="closevid" onclick="closeVid()"><span class="close-btn"></span></button>
      </div>
      <div class="modal-body" >
       <video controls preload='metadata'>
         <source src="<%=concept.video_url%>" type="video/mp4">
         <p>Your browser doesn't support HTML5 video.</p>
       </video>
      </div>
    </div>
  </div>
</div>
<%end%>

<script type="text/javascript">
$('#lpd-sidenav > ul > li > a').click(function(event) {
	event.preventDefault();
  var checkElement = $(this).next();

	if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		$(this).closest('li').removeClass('active');
		checkElement.slideUp('normal');
	}

  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		$('#lpd-sidenav ul div:visible').slideUp('normal');
		checkElement.slideDown('normal');
	}
});

function closeVid() {
  location.reload();
}
$(document).ready(function(){
  $(".pageStepView").css( "background", convertHex('#505357',100));
  //$(".showsignout").css( "color", 'red');

});
function convertHex(hex,opacity){
    hex = hex.replace('#','');
    r = parseInt(hex.substring(0,2), 16);
    g = parseInt(hex.substring(2,4), 16);
    b = parseInt(hex.substring(4,6), 16);

    result = 'rgba('+r+','+g+','+b+','+opacity/100+')';
    return result;
}

$(".timeline-table").hide();
$(".main-btn").click(function(){
  $(this).toggleClass('change-image');
  $(this).parent().toggleClass('full-width');
  $(this).siblings('.timeline-table').toggle();
  $(this).siblings('#lpd-sidenav').toggleClass('hide');
});

</script>