<div id="quick_navigation" style="background-image: url('assets/createbig.jpeg');">
  <div class="navigation-menu">
    <h3 class="heading">Add a Contact <i class="fa fa-mail-reply pull-right"></i></h3>
    <input type="text" class="search" placeholder="Search" />
    
    <div id="menuList">
      <ul>
        <li><a href="#"><span>Country</span></a>
          <ul>
            <li><a href="#">New York</a></li>
            <li><a href="#">Alaska</a></li>
            <li><a href="#">Georgia</a></li>
          </ul>
        </li>
        <li><a href="#"><span>State</span></a>
          <ul>
            <li><a href="#">New York</a></li>
            <li><a href="#">Alaska</a></li>
            <li><a href="#">Georgia</a></li>
          </ul>
        </li>
        <li><a href="#"><span>Base</span></a>
          <ul>
            <li><a href="#">Test 1</a></li>
            <li><a href="#">Test 2</a></li>
          </ul>
        </li>
        <li><a href="#"><span>Rank</span></a>
          <ul>
            <li><a href="#">Test 1</a></li>
            <li><a href="#">Test 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
    
    <ul class="chat-list">
      <li>
        <div class="chat-img"><img src="assets/profile-pic.png" class="no-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon">
          <input type="checkbox" id="check" />
          <label for="check"></label>
        </div>
      </li>
      <li>
        <div class="chat-img"><img src="assets/profile-pic2.png" class="no-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon">
          <input type="checkbox" id="check2" />
          <label for="check2"></label>
        </div>
      </li>
    </ul>
    <label class="status">You have 2 matching results</label>
    <button class="connect"><i class="fa fa-plus"></i>Connect</button>
  </div>
  <div class="community-main-content">
    <div class="main-container">
      <button class="pull-right save">SAVE</button>
      <h2>Your Communities</h2>
      <p class="community_shortdesc">You may only edit Communities you have created. Double click to edit. Drag and drop to expand or create a Community. 
        <br />
        <doctrine onclick="window.open('http://www.happyfuncorp.com/')">Test doctrine tag</doctrine>
      </p>
      <div class="one-third com-box">
        <h4>Lorem ipsum 1</h4>
        <div class="communities-list purple-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
              <i class="fa fa-star"></i>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 1"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color active" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 1"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 2</h4>
        <div class="communities-list green-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
              <i class="fa fa-star"></i>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 2"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color active" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 2"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 3</h4>
        <div class="communities-list blue-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 3"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color active" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 3"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 4</h4>
        <div class="communities-list pink-border">
            <ul class="person-list">
              <li><img src="assets/profile-pic.png">
                <p>Lorem ipsum dolor 1</p>
              </li>
              <li><img src="assets/profile-pic2.png">
                <p>Lorem ipsum dolor 2</p>
              </li>
              <li><img src="assets/profile-pic.png">
                <p>Lorem ipsum dolor 1</p>
              </li>
              <li><img src="assets/profile-pic2.png">
                <p>Lorem ipsum dolor 2</p>
              </li>
            </ul>
            <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
            <form>
              <ul class="inner-form">
                <li>
                  <label>Community Name</label>
                  <input type="text" value="Lorem ipsum 4"/>
                </li>
                <li>
                  <label>Community Color</label>
                  <ul class="color-pallete">
                    <li class="purple-color" data-color="#b17fb8"></li>
                    <li class="blue-color" data-color="#3cc6f4"></li>
                    <li class="green-color" data-color="#3bb54b"></li>
                    <li class="pink-color active" data-color="#ef4c7a"></li>
                  </ul>
                </li>
                <li>
                  <label>Community Leader</label>
                  <input type="text" value="Lorem ipsum 4"/>
                </li>
                <li>
                  <label>Community Status</label>
                  <input type="text" value="Active"/>
                </li>
                <li>
                  <button type="submit">SAVE</button>
                </li>
              </ul>
            </form>
        </div>
      </div>
      <div class="one-third com-box">
        <div class="communities-list">
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
          <button class="clone"><i class="fa fa-plus"></i><br/>Create a new Community</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#menuList > ul > li > a').click(function(event) {
	event.preventDefault();
  var checkElement = $(this).next();
  $('#menuList li').removeClass('active');
	$(this).closest('li').addClass('active');	
  
	if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
		$(this).closest('li').removeClass('active');
		checkElement.slideUp('normal');
	}
  
  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
		$('#menuList ul ul:visible').slideUp('normal');
		checkElement.slideDown('normal');
	}
  
  if (checkElement.is('ul')) {
		return false;
	} else {
		return true;	
	}
});

$('.setting').click(function(event) {	
	$(this).closest('.com-box').find('ul.inner-form').show();
	//$(this).hide();	
});

$('.clone').click(function(event) {
	$(this).closest('.com-box').find('ul.inner-form').show();
	//$(this).hide();
});

$(".navigation-menu .chat-list li input[type=checkbox]").click(function(){
  $(this).closest('li').toggleClass('limeGray');
  var thischeck = $(this).closest('.chat-list').find('input[type=checkbox]:checked').length;
  //alert(thischeck)
  if(thischeck > 0) {
  	$('.connect').addClass('orange')
  }
  else {
    $('.connect').removeClass('orange')
  }
});

$('.color-pallete li').click(function(event) {
	var Col = $(this).attr('data-color');
	$(this).closest('.communities-list').css('border-color', ''+Col+'');
});
</script>