<div id="quick_navigation" style="background-image: url('assets/createbig.jpeg');">
  <div class="navigation-menu">
    <h3 class="heading">Your Contacts</h3>
      <input type="text" class="search" placeholder="Search" />

    <ul class="chat-list">
      <li>
        <div class="chat-img"><img src="assets/profile-pic.png" class="purple-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon"><i></i></div>
      </li>
      <li>
        <div class="chat-img"><img src="assets/profile-pic2.png" class="green-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon"><i></i></div>
      </li>
      <li>
        <div class="chat-img"><img src="assets/profile-pic.png" class="blue-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon"><i></i></div>
      </li>
      <li>
        <div class="chat-img"><img src="assets/profile-pic2.png" class="pink-border"></div>
        <div class="info"><span>1 LT Lorem Dolor</span><span>USA, NC, Fort Bragg</span></div>
        <div class="active-icon"></div>
      </li>
    </ul>
    <button class="connect"><i class="fa fa-plus"></i>Connect</button>
    
  </div>
  <div class="community-main-content">
    <div class="main-container">
      <button class="pull-right save">SAVE</button>
      <h2>Your Communities</h2>
      <p class="community_shortdesc">You may only edit Communities you have created. Double click to edit. Drag and drop to expand or create a Community. </p>
      <div class="one-third com-box">
        <h4>Lorem ipsum 1</h4>
        <div class="communities-list purple-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
              <i class="fa fa-star"></i>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 1"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 1"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 2</h4>
        <div class="communities-list green-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
              <i class="fa fa-star"></i>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 2"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 2"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 3</h4>
        <div class="communities-list blue-border">
          <ul class="person-list">
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
            <li><img src="assets/profile-pic.png">
              <p>Lorem ipsum dolor 1</p>
            </li>
            <li><img src="assets/profile-pic2.png">
              <p>Lorem ipsum dolor 2</p>
            </li>
          </ul>
          <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 3"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 3"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="one-third com-box">
        <h4>Lorem ipsum 4</h4>
        <div class="communities-list pink-border">
            <ul class="person-list">
              <li><img src="assets/profile-pic.png">
                <p>Lorem ipsum dolor 1</p>
              </li>
              <li><img src="assets/profile-pic2.png">
                <p>Lorem ipsum dolor 2</p>
              </li>
              <li><img src="assets/profile-pic.png">
                <p>Lorem ipsum dolor 1</p>
              </li>
              <li><img src="assets/profile-pic2.png">
                <p>Lorem ipsum dolor 2</p>
              </li>
            </ul>
            <button class="setting"> <i class="fa fa-cog"></i> SETTINGS </button>
            <form>
              <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text" value="Lorem ipsum 4"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text" value="Lorem ipsum 4"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text" value="Active"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
              </ul>
            </form>
        </div>
      </div>
      <div class="one-third com-box">
        <div class="communities-list">
          <form>
            <ul class="inner-form">
              <li>
                <label>Community Name</label>
                <input type="text"/>
              </li>
              <li>
                <label>Community Color</label>
                <ul class="color-pallete">
                  <li class="purple-color" data-color="#b17fb8"></li>
                  <li class="blue-color" data-color="#3cc6f4"></li>
                  <li class="green-color" data-color="#3bb54b"></li>
                  <li class="pink-color" data-color="#ef4c7a"></li>
                </ul>
              </li>
              <li>
                <label>Community Leader</label>
                <input type="text"/>
              </li>
              <li>
                <label>Community Status</label>
                <input type="text"/>
              </li>
              <li>
                <button type="submit">SAVE</button>
              </li>
            </ul>
          </form>
          <button class="clone"><i class="fa fa-plus"></i><br/>Create a new Community</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.setting').click(function(event) {	
	$(this).closest('.com-box').find('ul.inner-form').show();
	//$(this).hide();	
});

$('.clone').click(function(event) {
	$(this).closest('.com-box').find('ul.inner-form').show();
	//$(this).hide();
});

$('.color-pallete li').click(function(event) {
	var Col = $(this).attr('data-color');
	$(this).closest('.communities-list').css('border-color', ''+Col+'');
});
</script>