

<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Getting to Know Tool</h2>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> 6 minutes
            </div>
            <div class="col-md-6 text-right tag-list">
              Leads Others, Builds Trust, Positive Environment, Communication, Coach, Empathy
            </div>
          </div>
          <p>Use the Getting To Know tool to write down key information on each subordinate leader. For leaders with a number of blank entries, take action to get to know them better. Use this note card to begin to get to know the subordinate leaders in your command.</p>
          <p>
            Use the blank space to take notes on items as you learn them. The notes will serve as convenient reminders. For items you do not know, consider learning them to better
            get to know this leader.</p>
        </div>

        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()"class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>