<div class="main-container" ng-show="template_data.current_page==2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <p class="marT20 text-right"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=1"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
        <div class="profile-header-empty"></div>
        <div class="container-fluid">
          <h2 class="text-center">Who is this Getting to Know Tool template for?</h2>
        </div>
        <div class="text-date-box">
          <div class="ui-widget">
            <angucomplete-alt id="members"
                              placeholder="Search contacts"
                              pause="400"
                              selected-object="template_data.mentee"
                              remote-url="/users/contacts.json?query="
                              remote-url-data-field="results"
                              title-field="first_name,last_name"
                              search-fields="first_name, last_name"
                              image-field="image"
                              input-class="form-control input-field-transparent "></angucomplete-alt>
          </div>
          <div class="text-container">
            <label>Template Name:</label>
            <input type="text" ng-model="template_data.title" name="template_name" placeholder="Click to type"  class="form-control tempname" />
          </div>
        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>

        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>