<div class="main-container" ng-show="template_data.current_page==4">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0)" ng-click="template_data.current_page=3"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">Please enter the following information about your subordinate leader.</h2>
        </div>
        <div class="text-container">
          <div ng-repeat="question in page.questions">
            <label>{{question.text}}:</label>
            <textarea ng-model="question.answer" name="goals" placeholder="Click to type"></textarea>
          </div>
        </div>
        <p class="text-center"> <a ng-click="save_template()" href="javascript:void(0)" class="btn btn-1">NEXT</a> </p>

        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>