
<div class="main-container" ng-show="template_data.current_page==7">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0)" ng-click="template_data.current_page=6"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">{{page.questions[0].text}}</h2>
        </div>
        <div class="text-container">
          <textarea name="comments" ng-model="page.questions[0].answer" placeholder="Click to type" class="height-400"></textarea>
        </div>
        <p class="text-center"> <a href="javascript:void(0)" ng-click="save_complete()" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>