<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"><a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">EXIT</a><a href="javascript:void(0)" ng-click="template_data.current_page=7" class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">BACK</a>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">You’ve successfully filled out Getting to Know Tool template.<br/>
            Review your responses below</h2>
        </div>
        <div class="text-container">
          <div ng-repeat="page in template_data.pages">
            <div ng-repeat="question in page.questions" >
                <label>{{question.text}}:</label>
                <textarea ng-if="page.number>=3 && page.number<7" ng-model="question.answer" readonly="readonly" name="goals"></textarea>
                <textarea ng-if="page.number==7" ng-model="question.answer"  name="comments" readonly="readonly" class="height-400"></textarea>
            </div>
            </div>
          </div>
        <p class="text-center" ng-hide="is_review_template"> 
          <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
          <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        </div>


        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Getting to Know Tool Template."></span>
      </div>
    </div>
  </div>
</div>