<div class="relative content-area title-wid-text" style="left:<%= block.position %>%; padding-top: <%= block.space_upper.to_i*5 %>px;">
  <div class="trans-border highlightable">
    <div class="block-header mb10 " style='width:<%= block.width %>%; background: <%= rgb2hex("#"+block.bg_color, block.alpha) %>'>
      <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
    </div>
    <div class="block-content bg-level2 on-pic" style='width:<%= block.body_width %>%; opacity: <%=  block.alpha/100.to_f %>'>
      <%= with_new_lines(decrypt_delimeters_and_return_html(block.body_text)) %>
    </div>
  </div>
</div>