<div id="<%= block.lpd_anchor_name %>" class="lpd-section <%= block.design %> content-area">
  <div class="trans-border highlightable">
    <div class="lpd-section-top">
      <%= image_tag block.image.url, class: "img-responsive" %>
      <div class="lpd-data">
        <div class="row">
            <div class="col-md-6"><h3 class="lpd-title"><%= block.subject %></h3></div>
            <div class="col-md-6 text-right lpd-title"><h3 class="lpd-title"><%= block.subtitle %></h3></div>
        </div>

        <div class="row lpd-subtitle">
          <div class="col-xs-6 pl35 lpd-time">
            <i class="fa fa-clock-o icon icon-lg icon-light"></i> <%= block.time %> minutes
          </div>
          <div class="col-xs-6 text-right"><%= content_block.tag_list %></div>
        </div>
      </div>
    </div>
  
  
    <div class="lpd-description">
      <div class="lpd-discription-content"><%= block.description %></div>
      <div class="action-buttons lpd-footer">
        <hr>
        <div class="row">
          <div class="col-xs-6" style="display:none;">
            <a href="#"><i class="fa fa-share ml15"></i></a>
          </div>
          <div class="col-xs-12 text-right">
            <a href="/lpd/<%= block.leader_professional_development_id %>" class="btn btn-link">Learn</a>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>