
<% @content_block_posts.each do |content_block_post| %>
    <% if content_block_post.post.is_a?(PostText) %>
        <%= render partial: "content_block_posts/post_text", locals: {post_text: content_block_post.post, content_block_post: content_block_post} %>
    <% elsif content_block_post.post.is_a?(PostLink) %>
        <%= render partial: "content_block_posts/post_link", locals: {post_link: content_block_post.post, content_block_post: content_block_post} %>
    <% elsif content_block_post.post.is_a?(PostVideo) %>
        <%= render partial: "content_block_posts/post_video", locals: {post_link: content_block_post.post, content_block_post: content_block_post} %>
    <% end %>
<% end %>