<div class="modal fade" id="reportabugModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-dark">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/assets/x_circle_white_sm.png"></button>
        <div class="modal-title text-center">
          Report a Bug
        </div>
      </div>
      <%= form_tag report_bug_users_path, remote: true do %>
        <div class="reporting">
            <div class="row mb15">
              <div class="col-xs-10 col-xs-offset-1">
                <textarea class="form-control only-border " placeholder="Please describe what happened with as much detail as possible, and what you were doing at the time that it happened. Thank you!" name="bug[message]" id="bugreport" required></textarea>
              </div>
            </div>
            <div class="row mb15">
             <div class="col-xs-10 col-xs-offset-1">
               <div class="form-group text-center">
                 <input type="submit" name="save" value="Save" class="btn solid-gold" />
               </div>
             </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
