<div class="post-comment-box">
  <%= form_tag "/content_blocks/#{@content_block.id}/content_block_posts", method: "get", id: "filter-form", remote: true do %>
      <%= hidden_field_tag :filter_present, true %>
      <div class="filter-dropdown">
        <%= image_tag "community_white.png", class: "contacts-img" %>
        <%= select_tag "search[community_ids]",options_for_select(@contacts_and_communities[:communities].collect{ |community| [community.name, community.id ]} ), multiple:true %>
      </div>
  <% end %>
  <a href="javascript:void(0)" class="btn btn-block solid-gold" data-toggle="collapse" data-target=".text-collapse" aria-expanded="true" id="show-post-form">
    <i class="fa fa-plus"></i>
  </a>
  <div class="collapse text-collapse" id="" aria-expanded="true">
    <div class="drawer-header clearfix" id="close-post-form">
      <span class="fa fa-times cross-post-text-area plus-collapse" data-toggle="collapse" data-target=".text-collapse" aria-expanded="true"></span>
    </div>

    <div id="post-forms">
      <%= form_for [@content_block, ContentBlockPost.new], remote: true, html: {id: "new-content-post", class: "new_post"} do |f| %>

          <div class="community-dropdown hidden">
            <%= image_tag "community_white.png", class: "contacts-img" %>
            POST TO: <%= select_tag :community_id, options_from_collection_for_select(@contacts_and_communities[:communities], :id, :name) %>
          </div>
          <%= hidden_field_tag :post_type, ContentBlockPost.post_types[:text] %>
          <div class="post-text-fields">
            <%= text_area_tag :text, "",placeholder: "Type post here...", class: "post-content" %>
          </div>

      <% end %>

      <%= form_for [@content_block, ContentBlockPost.new], remote: true, html: {id: "new-content-link", class: "hidden new_post"} do |f| %>

          <div class="community-dropdown hidden">
            <%= image_tag "community_white.png", class: "contacts-img" %>
            POST TO:  <%= select_tag :community_id, options_from_collection_for_select(@contacts_and_communities[:communities], :id, :name) %>
          </div>
          <%= hidden_field_tag :post_type, ContentBlockPost.post_types[:link] %>
          <div class="post-text-fields">
            <%= text_field_tag :url,"", placeholder: "Type link here...", class: "post-content" %>
            <%= text_area_tag :description,"", placeholder: "Short Description (140 characters)", class: "post-content link-desc" %>
          </div>
      <% end %>

      <%= form_for [@content_block, ContentBlockPost.new], remote: true, html: {id: "new-video-link", class: "hidden new_post"} do |f| %>
          <div class="community-dropdown hidden">
            <%= image_tag "community_white.png", class: "contacts-img" %>
            POST TO: <%= select_tag :community_id, options_from_collection_for_select(@contacts_and_communities[:communities], :id, :name) %>
          </div>
          <%= hidden_field_tag :post_type, ContentBlockPost.post_types[:video] %>
          <div class="new-video-share" style="height: 145px;">
            <%= text_field_tag :title, "", class: "post-content tmp_value_#{@content_block.id}", style: "display: none;" %> <!-- Please do not change the order. 1. text field 2. p tag 3. button-->
            <p id="processing-video_<%= @content_block.id %>" style="margin: 90px 0 0 60px;position: absolute;"></p> <!-- If you are willing to change this order, please refer to the JS function setRecorderoptions and saveVideo on show.html.erb-->
            <button type="button" class="btn vid-button btn-primary" data-toggle="modal" data-target="#myVideoModal" onclick="setRecorderOptions($(this));" >Open Video Recorder</button>
          </div>
      <% end %>

      <div id="email-form-container" class="hidden new_post" >
        <%= render partial: "content_block_posts/email_form" %>
      </div>
      <div class="item-footer">
        <div class="row">
          <div class="col-xs-6 share-buttons">
            <i class="fa fa-quote-left white" id="share-text"></i>
            <i class="fa fa-video-camera" id="share-video"></i>
            <i class="fa fa-link" id="share-link"></i>
            <i class="fa fa-share" id="get-email-form"></i>
          </div>
          <div class="col-xs-6 text-right">
            <a href="javascript:void(0)" id="submit-post">SHARE</a>
          </div>
        </div>

      </div>
    </div>

    <div id="reply-form-holder">

    </div>



  </div>




</div>

<div id="post-container-<%= @content_block.id %>">
    <%= render partial: "tabs/posts" %>
</div>

<script>
  $(function(){
      $(".post-comment-box").keypress(function(e) {
          if(e.which == 13) {
              $(".new_post:visible").submit();
          }
      });
      $("#submit-post").click(function(){$(".new_post:visible").submit();$("#email-form:visible").submit();});

      $("#share-link").click(function(){
          $(".new_post").addClass("hidden");
          $("#new-content-link").removeClass("hidden");
      });
      $("#share-text").click(function(){
          $(".new_post").addClass("hidden");
          $("#new-content-post").removeClass("hidden");
      });
      $("#get-email-form").click(function(){
          $(".new_post").addClass("hidden");
          $("#email-form-container").removeClass("hidden");
      });
      $(".share-buttons i").click(function(){
          $(".share-buttons i").removeClass('white');
          $(this).addClass('white');
      });
      $("#share-video").click(function(){
        $(".new_post").addClass("hidden");
        $("#new-video-link").removeClass("hidden");
      });

      $("select#community_id").multiselect();
      $("select#search_community_ids").multiselect({
          includeSelectAllOption: true,
          onChange: function(option, checked, select) {
              $("#filter-form").submit();
          }
      });

      var initFilters = function(){
          var init = function(){
              rowClick();
              checkAll();
          };

          var markChecked = function(checkMark, row){
              checkMark.removeClass("hidden");
              row.addClass("active");
          };

          var markUnChecked = function(checkMark, row){
              checkMark.addClass("hidden");
              row.removeClass("active");
          };


          var rowClick = function(){

            $(".multiselect-container.dropdown-menu li").click(function(){
                $("#filter-form").submit();
            });

          };

          var checkAll = function(){

              $('.check-all').click(function(){
                  var checkBox = $(this).find(".filter-checkbox");
                  $(".filter-row .filter-checkbox").prop("checked", !checkBox.is(":checked"));

                  if(checkBox.is(":checked")){
                      markChecked($(".fa-check"), $(".filter-row"));
                  }
                  else{
                      markUnChecked($(".fa-check"), $(".filter-row"));
                  }

                  $("#filter-form").submit();
              });



          };

          init();

      };
      initFilters();


      $("#show-post-form").click(function(){
          $("#reply-form-holder").hide();
          $("#post-forms").show();
          $("#comm-filter").collapse("hide");
      });

      $(".text-collapse").on('hide.bs.collapse', function () {
          $("#show-post-form").fadeIn(300);
          $("#close-post-form").hide();
          $(".filter-dropdown").removeClass("hidden");
          $(".community-dropdown").addClass("hidden");
      });
      $(".text-collapse").on('show.bs.collapse', function () {
          $("#show-post-form").fadeOut(200);
          $("#close-post-form").show();
          $(".community-dropdown").removeClass("hidden");
          $(".filter-dropdown").addClass("hidden");
      });
  });

  function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
  }

  function setRecorderOptions(current){
    $("input#video_title").show();
    $("p.processing-video-reply").html("");
    $("p").removeClass('processing-video-reply');
    $(current).prev().addClass('processing-video-reply');
    $(current).prev().prev().addClass('new_post_video_field');
    $.ajax({
      url: "<%= modify_video_params_content_blocks_path %>",
      type: "POST",
      data: "type=post&content_block_post=0&unique_id="+<%= @content_block.id %>
    });
  }
</script>