<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-dark">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="/assets/x_circle_white_sm.png"></button>
        <div class="modal-title text-center">
          Settings
        </div>
      </div>
      <form class="existing_user" id="settings" name="settings" data-remote="true" method="post">
        <div class="settings_personal_data">
          <div class="row mb15">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="user_first_name">First name</label><br />
                <input class="form-control only-border" data-errorkey="first_name" placeholder="Click to type" type="text" name="user_first_name" id="user_first_name" />
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="user_last_name">Last name</label><br />
                <input class="form-control only-border" data-errorkey="last_name" placeholder="Click to type" type="text" name="user_last_name" id="user_last_name" />
              </div>
            </div>
           </div> 
        
        
            <div class="row mb15">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="user_rank">Rank</label><br />
                  <select class="form-control" data-errorkey="rank_id" name="user_rank_id" id="user_rank_id">
                      <option value="">Select</option>
                      <option value="1">CDT</option>
                      <option value="2">2LT</option>
                      <option value="3">1LT</option>
                      <option value="4">CPT</option>
                      <option value="5">LTC</option>
                      <option value="6">COL</option>
                      <option value="7">BG</option>
                      <option value="8">MG</option>
                      <option value="9">LTG</option>
                      <option value="10">GEN</option>
                      <option value="11">W01</option>
                      <option value="12">CW2</option>
                      <option value="13">CW3</option>
                      <option value="14">CW4</option>
                      <option value="15">CW5</option>
                      <option value="16">PV1</option>
                      <option value="17">PV2</option>
                      <option value="18">PFC</option>
                      <option value="19">SPC</option>
                      <option value="20">SGT</option>
                      <option value="21">SSG</option>
                      <option value="22">SFC</option>
                      <option value="23">MSG</option>
                      <option value="24">1SG</option>
                      <option value="25">SGM</option>
                      <option value="26">CSM</option>
                      <option value="27">CDT</option>
                      <option value="28">2LT</option>
                      <option value="29">1LT</option>
                      <option value="30">CPT</option>
                      <option value="31">LTC</option>
                      <option value="32">COL</option>
                      <option value="33">BG</option>
                      <option value="34">MG</option>
                      <option value="35">LTG</option>
                      <option value="36">GEN</option>
                      <option value="37">W01</option>
                      <option value="38">CW2</option>
                      <option value="39">CW3</option>
                      <option value="40">CW4</option>
                      <option value="41">CW5</option>
                      <option value="42">PV1</option>
                      <option value="43">PV2</option>
                      <option value="44">PFC</option>
                      <option value="45">SPC</option>
                      <option value="46">SGT</option>
                      <option value="47">SSG</option>
                      <option value="48">SFC</option>
                      <option value="49">MSG</option>
                      <option value="50">1SG</option>
                      <option value="51">SGM</option>
                      <option value="52">CSM</option>
                      <option value="53">CDT</option>
                      <option value="54">2LT</option>
                      <option value="55">1LT</option>
                      <option value="56">CPT</option>
                      <option value="57">LTC</option>
                      <option value="58">COL</option>
                      <option value="59">BG</option>
                      <option value="60">MG</option>
                      <option value="61">LTG</option>
                      <option value="62">GEN</option>
                      <option value="63">W01</option>
                      <option value="64">CW2</option>
                      <option value="65">CW3</option>
                      <option value="66">CW4</option>
                      <option value="67">CW5</option>
                      <option value="68">PV1</option>
                      <option value="69">PV2</option>
                      <option value="70">PFC</option>
                      <option value="71">SPC</option>
                      <option value="72">SGT</option>
                      <option value="73">SSG</option>
                      <option value="74">SFC</option>
                      <option value="75">MSG</option>
                      <option value="76">1SG</option>
                      <option value="77">SGM</option>
                      <option value="78">CSM</option>
                    </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="user_country">Country</label><br />
                  <select class="form-control" data-errorkey="country_id" name="user_country_id" id="user_country_id">
                    <option value="">Select</option>
                    <option value="1">United States</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div class="row mb15">
              <div class="col-xs-6">
                <div class="form-group">
                   <label for="user_state">State</label>
                   <br />
                   <select class="form-control" data-errorkey="state_id" disabled="disabled" name="user_state_id" id="user_state_id">
                     <option value="">Select</option>
                   </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                   <label for="user_base">Base</label>
                   <br />
                   <select class="form-control" data-errorkey="base_location_id" disabled="disabled" name="user_base_location_id" id="user_base_location_id">
                     <option value="">Select</option>
                   </select>
                </div>
              </div>
            </div>
            <div class="row mb15">
              <div class="col-xs-12">
                <label for="user_email">Primary Email Address*</label><br />
                <input class="form-control only-border" data-errorkey="email" placeholder="Click to type" type="email" value="" name="user_email" id="user_email" />
                <p class="help-block">*This address will be used for login and account notifications.</p>
                
              </div>
            </div>
            
            <div class="row mb15">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="user_password">Change Password</label>
                  <br />
                  <input autocomplete="off" class="form-control only-border" data-errorkey="password" placeholder="Click to type" type="password" name="change_password" id="change_password" />
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="user_password_confirmation">Confirm New Password</label>
                  <br />
                  <input autocomplete="off" class="form-control only-border" placeholder="Click to type" type="password" name="user_new_password_confirmation" id="user_new_password_confirmation" />
                </div>
              </div>
            </div>
          </div>
          <div class="settings_social_data">
            <div class="row mb15 v-min-h">
              <div class="col-xs-12">
                <div class="form-group text-right">
                  <div class="col-xs-12">
                    <div class="row mt35">
                      <div class="col-xs-12">
                        <div class="image-uploader" data-base-width="250" data-base-height="250">
                          <div class="image-sm">
                            <img />
                          </div>
                        </div>
                        
                        <a class="btn flat-drk filled-sm mb25 active-browse-btn" href="javascript:void(0)"><i class="fa fa-desktop mr10"></i>Import from computer</a>
                        <input type="file" class="hide-browse-btn-settings" />
                        <a class="btn flat-drk filled-sm mb25 hide-ui-elements" href="javascript:void(0)">
                          <i class="fa fa-facebook-square mr10"></i>
                          Import from facebook
                        </a>
                        <a class="btn flat-drk filled-sm mb25 hide-ui-elements" href="javascript:void(0)">
                          <i class="fa fa-twitter-square mr10"></i>
                          Import from twitter
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb15">
              <div class="col-xs-12">
                <div class="form-group text-right">
                  <input type="submit" name="save" value="Save" class="btn solid-gold" />
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
