<div class="content-area">
  <div class="row bg-level2 on-pic block-content mr-auto trans-border highlightable" style="width: <%= block.width %>%; <%= 'padding: 35px' if block.text.blank? %>">
  
    <% if block.text.present? %>
      <div class="col-xs-12 col-md-5" style="opacity: <%= block.alpha/100.to_f %>;">
        <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
      </div>
    <% end %>
  
    <div class="<%= 'col-xs-12 col-md-7' if block.text.present? %> text-center">
      <a href="<%=template_url(block.master_template.template_type)%>"><%= image_tag "#{block.image.url}", class: 'img-responsive' %></a>
    </div>
  </div>
</div>