<div class="content-area">
  <div class="bg-level1 mr-auto trans-border on-pic pd25 mr-auto highlightable" style="width: <%= block.width %>%; opacity: <%= block.alpha/100.to_f %>">
    <%= with_new_lines(decrypt_delimeters_and_return_html(block.text))%>
  </div>
</div>