<div class="clearfix content-area">
<%= scroll_reveal content: 'Foo', animation: "enter #{block.animation == 'Slide in from Right' ? 'right' : 'left' } left and move 50px over 1s" do %>
  <div class="<%= block.animation == 'Slide in from Right' ? 'pull-right' : 'pull-left' %> block-header bg-level4" style="width: <%= block.width %>%; text-align: <%= block.justification %>; ">
    <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
  </div>
<% end %>
</div>