<div class="ttp-section content-area">
  <%= audio_tag block.audio.url, id: "ttp_file_#{block.id}", preload: 'metadata' %>
  <div class="trans-border audioplayer highlightable">

    <%= link_to "", "javascript:void(0)", class: "play fa fa-play pButton", id: "pButton_#{block.id}", onclick: "play(#{block.id})" %>

    <div id="timeline_<%= block.id %>" class="timeline">
      <div id="playhead_<%= block.id%>" class="playhead"><span class="audio-title"><%= content_block.quick_navigation_title %></span></div>
    </div>
  </div>
  
  <div id="ttp_<%= block.id %>" class="ttp-description collapse">
    <div class="ttp-discription-content">
      <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
    </div>
    <div class="action-buttons ttp-footer">
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <%= content_block.tag_list %>
        </div>
        <div class="col-xs-6 text-right">
          <a href="javascript:void(0)" class="btn btn-link replay-music">Replay</a>
          <a href="javascript:void(0)" class="btn btn-link closeTTP">Got it</a>
        </div>
      </div>
    </div>
  </div>

</div>



<script type="text/javascript">
//Play and Pause
function play(id) {
  $('#ttp_'+id).collapse('show');
  
  var music = document.getElementById('ttp_file_'+id); // id for audio element
  var duration; // Duration of audio clip
  var pButton = document.getElementById('pButton_'+id); // play button

  var playhead = document.getElementById('playhead_'+id); // playhead

  var timeline = document.getElementById('timeline_'+id); // timeline
  // timeline width adjusted for playhead
  var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;

  // timeupdate event listener
  music.removeEventListener('timeupdate');
  music.addEventListener("timeupdate", timeUpdate, false);
  
  music.removeEventListener("canplaythrough");
  music.addEventListener("canplaythrough", function () {
    duration = music.duration;  
  }, false);

  
  
  //Makes timeline clickable
  timeline.removeEventListener("click");
  timeline.addEventListener("click", function (event) {
    moveplayhead(event);
    music.currentTime = music.duration * clickPercent(event);
  }, false);

  // returns click as decimal (.77) of the total timelineWidth
  function clickPercent(e) {
    return (e.pageX - timeline.offsetLeft) / timelineWidth;
  }

  // Makes playhead draggable 
  playhead.addEventListener('mousedown', mouseDown, false);
  window.addEventListener('mouseup', mouseUp, false);

  // Boolean value so that mouse is moved on mouseUp only when the playhead is released 
  var onplayhead = false;
  // mouseDown EventListener
  function mouseDown() {
    onplayhead = true;
    window.addEventListener('mousemove', moveplayhead, true);
    music.removeEventListener('timeupdate', timeUpdate, false);
  }
  // mouseUp EventListener
  // getting input from all mouse clicks
  function mouseUp(e) {
    if (onplayhead == true) {
      moveplayhead(e);
      window.removeEventListener('mousemove', moveplayhead, true);
      // change current time
      music.currentTime = duration * clickPercent(e);
      music.addEventListener('timeupdate', timeUpdate, false);
    }
    onplayhead = false;
  }
  // mousemove EventListener
  // Moves playhead as user drags
  function moveplayhead(e) {
    var newMargLeft = e.pageX - timeline.offsetLeft;
    if (newMargLeft >= 0 && newMargLeft <= timelineWidth) {
      playhead.style.width = newMargLeft + "px";
    }
    if (newMargLeft < 0) {
      playhead.style.width = "0px";
    }
    if (newMargLeft > timelineWidth) {
      playhead.style.width = timelineWidth + "px";
    }
  }

  // timeUpdate 
  // Synchronizes playhead position with current point in audio 
  function timeUpdate() {
    var playPercent = timelineWidth * (music.currentTime / music.duration);
    playhead.style.width = playPercent + "px";
    if (music.currentTime == music.duration) {
      pButton.className = "";
      pButton.className = "fa fa-play pButton";
    }
  }
  
  
  // start music
  if (music.paused) {
    music.play();
    // remove play, add pause
    pButton.className = "";
    pButton.className = "fa fa-pause pButton";
  } else { // pause music
    music.pause();
    // remove pause, add play
    pButton.className = "";
    pButton.className = "fa fa-play pButton";
  }
  
}

</script>