<div class="row pd35 content-area">
  <div class="row-same-height row-full-height trans-border highlightable">
    <% if !block.hide_text? && block.place_text == "Left" %>
      <div class="col-xs-12 col-sm-height col-full-height" style="width: <%= block.width %>%; opacity: <%= block.alpha %>">
        <div class="bg-level2 on-pic col-xs-12">
          <div class="pd15">
            <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-xs-12 col-sm-height col-full-height" style="width: <%= block.video_width %>%">
      <%= video_tag block.video.exists? ? block.video.url : block.video_url, id: "video-#{block.id}",class: 'bg-level3 on-pic video-js vjs-default-skin', style:'width: 100%', preload: 'metadata', controls: true, "data-setup"=>"{}" %>
    </div>

    <% if !block.hide_text? && block.place_text == "Right" %>
      <div class="col-xs-12 col-sm-height col-full-height" style="width: <%= block.width %>%; opacity: <%= block.alpha %>">
        <div class="bg-level2 on-pic col-xs-12">
          <div class="pd15">
            <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>