<div id="myVideoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body video-recorder-body">
        <!-- begin video recorder code 
        <script type="text/javascript">
          var addpipe_key = "<%= Rails.env.production? ? ENV['ADDPIPE_KEY'] : 'd35ed07aba727ba018546421e20056ef' %>";
          var size = {width:620,height:500};
          var payload_post_data_string = 'user_id=<%= current_user.id %>'; //user_id=9999&type=post&content_block_post=0
          var flashvars = {qualityurl: "avq/240p.xml",accountHash:addpipe_key,showMenu:"true", mrt:90, payload: payload_post_data_string};
          (function() {var pipe = document.createElement('script'); pipe.type = 'text/javascript'; pipe.async = true;pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's1.addpipe.com/1.3/pipe.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pipe, s);})();
        </script>
        <div id="hdfvr-content" ></div>
        end video recorder code -->
        <!-- begin video recorder code -->
        <script type="text/javascript">
        var size = {width:400,height:330};
        var flashvars = {qualityurl: "avq/300p.xml",accountHash:"78e8a3a7f7194d4e357a6de8eee68122", eid:1, showMenu:"true", mrt:120,sis:0,asv:1,mv:0};
        (function() {var pipe = document.createElement('script'); pipe.type = 'text/javascript'; pipe.async = true;pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's1.addpipe.com/1.3/pipe.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pipe, s);})();
        </script>
        <div id="hdfvr-content" ></div>
        <!-- end video recorder code -->

        <%= text_field_tag :video_title, "", placeholder: "Enter Video Title", class: "post-content" %>
        <%= link_to "Save Video", "javascript:void(0);", id: "save-video", onclick: "return saveVideo();" %>
      </div>
    </div>
  </div>
</div>
