<div class="row row-no-padding text-center content-area">
  <% if block.place_text == "Left" && !block.hide_text?  %>
    <div class="col-xs-12 mt25 mb25 clearfix">
      <div class="bg-level2 on-pic pd15 mr-auto text-justify" style="width: <%= block.width %>%; opacity: <%= block.alpha %>">
        <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
      </div>
    </div>
  <% end %>

  <div class="col-xs-12 mt25 mb25 clearfix pull-<%= block.place_text ? block.place_text.downcase : 'right' %>">
      <%= video_tag block.video.exists? ? block.video.url : block.video_url,id: "video-#{block.id}", class: 'bg-level3 on-pic mr-auto highlightable',width: "50%",preload: 'metadata', controls: true  %>
  </div>

  <% if block.place_text == "Right" && !block.hide_text? %>
    <div class="col-xs-12 mt25 mb25 clearfix">
      <div class="bg-level2 on-pic pd15 mr-auto text-justify" style="width: <%= block.width %>%; opacity: <%= block.alpha %>">
        <%= with_new_lines(decrypt_delimeters_and_return_html(block.text)) %>
      </div>
    </div>
  <% end %>

</div>