<div id="mainPage">
  
  <div class="row row-no-padding relative bg-level4 pre-home-section">

    <% @tabs.each do |tab| %>
      <div class="col-xs-6 col-sm-3 gridBlock non-expanded">
        <div class="grid" href="javascript:void(0)" style="background: url(<%= tab.background_image.url%>);">
          <h3 class="tab-title no-margin"><%= tab.title %></h3>
          <div class="gridContent">
            <div class="row row-no-padding tab-description">
              <div class="row-same-height row-full-height">
                <div class="col-xs-12 col-sm-8 col-sm-height col-full-height bg-level1 on-pic no-pd">
                  <div class="tab-info">
                    <h3 class="no-margin"><%= tab.title %></h3>
                    <div class="mb10">
                      <i class="fa fa-clock-o icon icon-lg no-pd"></i> <%= tab.time %> minutes
                    </div>
                    
                    <div class="mt10">
                      <%= tab.description.html_safe %>
                    </div>
                  </div>
                  
                  <div class="action-buttons text-right">
                    <hr>
                    <%= link_to "Enter", tab_path(tab.anchor_name), class: 'btn solid-gold action-btn' %>
                  </div>
                </div>
              
                <div class="col-xs-12 col-sm-4 col-sm-height col-full-height bg-level2 on-pic col-top no-pd">
                  <div class="quick-link-block">
                    <div>Quick Look:</div>
                    <ul class="list-unstyled">
                      <% tab.quick_links.each do |ql| %>
                        <li><%= ql.title %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                
              </div>

            </div>
            <a href="javascript:void(0)" class="btn btn-link return-btn">RETURN</a>
          </div>
          
        </div>
      </div>
    <% end %>
  </div>
  <div class="tab-branding">
    <div class="left">
      Army leader development
    </div>
    <div class="right">
      Rowan
    </div>
  </div>
</div>




<script type="text/javascript">
  $(document).on('click', '.gridBlock.non-expanded', function(e){
    $('.gridBlock').hide();
    $(this).removeClass('non-expanded').fadeIn(1000).addClass('expanded');
  });
  $(document).on('click', '.return-btn', function(e){
    e.preventDefault();
    e.stopPropagation();
    $('.gridBlock').removeClass('expanded').addClass('non-expanded').fadeIn(1000);
  });
</script>