<%= render partial: "video_player" %>

<%= hidden_field_tag :current_page_url, request.url %>
<%= hidden_field_tag :previous_scroll_top %>
<div id="quick_navigation" style="background-image: url('<%= @tab.background_image.url %>')">
  <h1 class="tab-title-main"><%= @tab.title %></h1>
</div>

<div class="relative">
  <div class="backgroundImagesWrapper">
    <% @tab.images.each do |img| %>
      <div class="relative" style="height: <%= img.height %>%;">
        <div class="background-image" style="background-image: url('<%= img.pc_image %>');">    
        </div>
      </div>
    <% end %>
  </div>
  

  <div class="sectionWrapper">  
  <% @tab.sections.each do |section| %>
    <% section.content_blocks.each do |cb| %>
      <div id="<%= cb.anchor_name %>" style="padding-bottom: <%= cb.spacing.to_i*5 %>px" class="content-block" data-id="<%= cb.id %>"><%= render partial: "#{cb.block_type.downcase}.html.erb", locals: {block: cb.block, content_block: cb} %></div>
    <% end %>
  <% end %>
  </div> 
  
  
  <div class="drawer-left-handle open-left-drawer open"><i class="fa fa-briefcase icon"></i></div>
  <div class="drawer-right-handle open-right-drawer"><i class="fa fa-users icon"></i></div>
  
  <div id="drawer-window-right" class="closed">

    <div class="drawer-body" id="right-drawer-body" >

    </div>
  </div>
  
  <div id="drawer-window-left" class="sidemenu-box">
    <div class="drawer-body">
      <div class="drawer-header-box">
        <%= image_tag current_user.image(:thumb), class: "profile-pic" %>
          <p class="name"><span><%= current_user.rank_full_name %></span></p>
      </div>
      <div class="drawer-nav-box">
          <ul>
          <li><a href="">Tools</a>
              <ul>
                <li class="parent-sub-menu">
                  <a href="javascript:void(0);"><i class="fa fa-book"></i>library</a>
                  <ul class="sub-menu" id="tag-list" data-no-turbolink>

                  </ul>

                </li>
                  <li class="parent-sub-menu"><a href="javascript:void(0);"><i class="fa fa-folder-open"></i>Templates</a>
                    <ul class="sub-menu" data-no-turbolink>
                       <% @master_template.each do |mt| %>
                       <li>
                       <a href="<%=template_url(mt.template_type)%>"><%= mt.name %></a>
                         <%if @user_templates[mt.template_type].present? %>
                         <% @user_templates[mt.template_type].each do |ut| %>
                         <div class="sub-section-block template-delete-block" id="ut-<%= ut.id %>">
                           <a href="<%=template_url(mt.template_type)%>/<%=ut.id%>" id="<%= ut.id %>" style="padding-bottom: 10px;" class="sub-content-block sub-content-name"><%= ut.name %></a>
                           <% if ut.user_id == current_user.id %>
                               <div class="delete-link leftside-subnav">

                                 <%= link_to "javascript:void(0)",onclick: "$(this).hide().siblings('.confirm-delete').show();", class: "init-delete" do %>
                                     <i class="fa fa-remove"></i>
                                     <span>Delete</span>
                                 <% end %>
                                 <%= link_to delete_user_template_path(ut), method: "delete", remote: true, class: "confirm-delete", style: "display:none;" do  %>
                                     <span>Click to delete</span>
                                 <% end %>
                               </div>
                           <% end %>
                         </div>
                         <% end %>
                         <%end%>  
                       </li>
                       <% end %>
                    </ul>
                  </li>
                  <li class="parent-sub-menu"><a href=""><i class="fa fa-bar-chart"></i>Assessments</a>
                    
                    <ul class="sub-menu">
                      <% @assessments.each do |assessment| %>
                       <li>
                         <%= link_to assessment do %>
                           <img src="/assets/assessment_outline_white.png" class="icon-pic" /><%= assessment.title%>
                         <% end %>
                      <% end %>
                    </ul>
                    
                  </li>
              </ul>
          </li>
          <li><a href="">Navigation</a>

              <ul>
                  <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                  <li class="parent-sub-menu" id="quick-nav-parent"><a href=""><i class="fa fa-arrow-up"></i>Quick nav</a>
                      
                      <ul class="sub-menu" id="quick-nav-sub">
                       <% @tab.sections.each do |section| %>
                       <li><a href=""><%= section.title %></a>
                         
                         <% section.content_blocks.each do |cb| %>
                         <div class="sub-section-block">
                           <a href="#<%= cb.anchor_name %>" id="link-to-<%= cb.id %>" style="padding-bottom: 10px;" class="sub-content-block" data-id="<%= cb.id %>"><%= cb.quick_navigation_title %></a>
                         </div>
                         <% end %>
                           
                       </li>
                       <% end %>
                       
                      </ul>
                  </li>
              </ul>
          </li>
          <li><a href="">Admin</a>
              <ul>
                  <li data-no-turbolink><a href="/onboarding_community" ><i class="fa fa-group"></i>Community</a></li>
                  <li>
                    <%= link_to edit_user_registration_path, remote: true do  %>
                        <i class="fa fa-gear"></i>Settings
                    <% end %>
                    <!--<a href="" data-toggle="modal" data-target="#settingsModal"></a>-->
                  </li>
                  <li><a href="" data-toggle="modal" data-target="#reportabugModal"><i class="fa fa-bug"></i>Report a Bug</a></li>

                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                       <i class="fa fa-sign-out"></i>Sign Out
                    <% end %>
                  </li>
              </ul>
          </li>
          </ul>
      </div>
      
      
      
    </div>
  </div>
   
</div>

<%=render partial: 'report_a_bug'%>

<script type="text/javascript">
$(document).on('click', '#quick_navigation li a', function(){
  $('html, body').animate({
      scrollTop: $( $.attr(this, 'href') ).offset().top
  }, 500);
  return false;
});

$(function(){

  Tags.init();
  var updateContentPosts = function(){
    var current_ele;
    var init = function(){
        loadOnPageLoad();
        loadOnScroll();
    };
    var selectBlock = function(element){

      $(".content-area").removeClass("active-section");
      $(element).find(".content-area").addClass("active-section");
      $.ajax({
          url: "/content_blocks/"+ $(element).data("id") +"/content_block_posts",
          type: "GET",
          dataType: "script"

      });


    };
    var loadOnScroll = function(){

    var findMiddleElement = (function(docElm){
        var viewportHeight = docElm.clientHeight,
                elements = $('.content-block');

        return function(e){
            var middleElement;
            if( e && e.type == 'resize' )
                viewportHeight = docElm.clientHeight;

            elements.each(function(){
                var pos = this.getBoundingClientRect().top;
                // if an element is more or less in the middle of the viewport
                if( pos > viewportHeight/2.5 && pos < viewportHeight/1.5 ){
                    middleElement = this;
                    return false; // stop iteration
                }
            });
            if(current_ele != middleElement && typeof(middleElement)  != "undefined"){
                selectBlock(middleElement)
                current_ele = middleElement
            }

        }
    })(document.documentElement);

     $(window).on('scroll resize', findMiddleElement);

    };

    var loadOnPageLoad = function(){
        if(window.location.hash != "")
            selectBlock(window.location.hash);
    };

      init();
  };

  updateContentPosts();



    App.DrawerWindow.show_left_drawer();
    $("#quick-nav-sub").fadeIn()


});
        
$('li.parent-sub-menu > a').click(function(event) {
  event.preventDefault();
  $('li.parent-sub-menu > a').removeClass('drawer-a-clr')
  if ($(this).closest('li').find('ul.sub-menu').attr('style') == 'display: block;') {
    $('ul.sub-menu').hide();
    $(this).closest('li').find('ul.sub-menu').hide();
  } 
  else {
    $('ul.sub-menu').hide();
    $(this).closest('li').find('ul.sub-menu').show();
    $(this).addClass('drawer-a-clr')
  }
  $(this).addClass('drawer-a-clr');
  var elt = $(this).siblings('ul.sub-menu');
  $('.drawer-header .close-drawer').click(function(event) {
      elt.hide();
  });
});

$('.drawer-left-handle.open-left-drawer').click(function(event) {
  /* Act on the event */
  $(this).siblings('#drawer-window-left.sidemenu-box').show();
});

$('#quick-nav-parent .sub-menu > li > a, #quick-nav-parent .sub-section-block a').click(function(event) {
  //event.preventDefault();
  var elt=$(this).parents('.sub-menu').hide();
  $('.drawer-header .close-drawer').trigger('click');    
});

function saveVideo(){
  $("p.processing-video-reply").html("Processing video, please wait...");
  $('#myVideoModal').modal('hide');
  $.ajax({
    url: '<%= check_video_upload_status_content_blocks_path %>',
    type: 'GET',
    success: function(data){      
      if(data){
        str = data.split("_", 1);
        if(str === "post"){
          $("div.new-video-share input.new_post_video_field").val( $("input#video_title").val() );
        } else {
          $("div.collapse div.reply-area div.reply-input .new_reply_video_field").val( data );
        }
        $("p.processing-video-reply").html( "Video recorded! Please share to post." );
      } else {
        $("p.processing-video-reply").html( "Unable to record video! Please try again." );
      }
    }, error: function(){
     $("p.processing-video-reply").html( "Unable to record video! Please try again." ); 
    }
  });
}
</script>