<%= form_tag(admin_lpd_concepts_path(lpd_id: params[:lpd_id])) do |f| %>
  <div class="text-field">
    <%= label_tag :name %><br>
    <%= text_field_tag :name, @concept["name"] %>
  </div>
  <div class="text_area">
    <%= label_tag :description %><br>
    <%= text_area_tag :description, @concept["description"], class: 'mceNoEditor'%>
  </div>   
  <div class="div-block">
    <div class="directUpload">
      <h3><b>Video</b></h3>
      <div class="field-row">
        <%= label_tag :video_file %><br>
        <%= file_field_tag :video %><br>
        <%= @concept["video_url"] %>
      </div>
    </div>
  </div>
  <div class="div-block">
    <%= button_tag :save%>
  </div>
<%end%>

<script>
  function file_upload(){
   $('.directUpload').find("input:file").each(function(i, elem) {
      var fileInput    = $(elem);
      var form         = $(fileInput.parents('form:first'));
      var submitButton = form.find('input[type="submit"]');
      var progressBar  = $("<div class='bar'></div>");
      var barContainer = $("<div class='progress'></div>").append(progressBar);
      fileInput.after(barContainer);
      fileInput.fileupload({
        fileInput:       fileInput,
        url:             '<%= @s3_direct_post.url %>',
        type:            'POST',
        autoUpload:       true,
        formData:         <%= @s3_direct_post.fields.to_json.html_safe %>,
        paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
        replaceFileInput: false,
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css('width', progress + '%')
        },
        start: function (e) {
          submitButton.prop('disabled', true);
          progressBar.
            css('background', 'green').
            css('display', 'block').
            css('width', '0%').
            text("Loading...");
        },
        done: function(e, data) {
          submitButton.prop('disabled', false);
          progressBar.text("Uploading done");

          // extract key and generate URL from response
          var key   = $(data.jqXHR.responseXML).find("Key").text();
          var url   = '<%= @s3_direct_post.url %>/' + key;

          // create hidden field
          var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })
          fileInput.val("");
          form.append(input);
        },
        fail: function(e, data) {
          submitButton.prop('disabled', false);

          progressBar.
            css("background", "red").
            text("Failed");
        }
      });
    });
}
file_upload();
</script>