<% @tags.each do |tag| %>
    <li>
      <a href="javascript:void(0)">
        <%= tag.name %>
      </a>
      <% tags = tag.taggings.group_by(&:taggable_type) %>
          <% (tags["ContentBlock"] || []).each do |tagging| %>
              <div class="sub-section-block">
                <a href="#<%= tagging.taggable.anchor_name %>" id="link-to" style="padding-bottom: 10px;" class="sub-content-block"><%= tagging.taggable.title %></a>
              </div>
          <% end %>

          <% (tags["Assessment"] || []).each do |tagging| %>
              <div class="sub-section-block">
                <a href="<%= assessment_path(tagging.taggable) %>" id="link-to" style="padding-bottom: 10px;" class="sub-content-block"><%= tagging.taggable.title %></a>
              </div>
          <% end %>
          <% (tags["TabLink"] || []).each do |tagging| %>
              <div class="sub-section-block">
                <a href="<%= tagging.taggable.url %>" id="link-to" style="padding-bottom: 10px;" class="sub-content-block" target="_blank"><%= tagging.taggable.title %></a>
              </div>
          <% end %>
    </li>
<% end  %>
