<%= form_tag(save_stops_admin_assessment_question_path) do %>
	<div class="field">
	  <%= label_tag :intro_text %><br/><br/>
	  <%= text_field_tag :intro_text, @question.intro_text, :required => true %>
	</div>
	<div class="field" style="padding-bottom: 20px">
	  <%= label_tag :question_text %><br/><br/>
	  <%= text_area_tag :question_text, @question.question_text %>
	</div>
	<div style="clear:both">
	  <table>
      <tr>
      <% stops = @question.stops %>
        <% if stops.count == @question.stops_count %>
          <% @question.stops_count.times do |i|%>
            <td> 
      	      <div class="field_stop">Stop Text </div>
	            <div class="field_stop">
	              <%= text_field_tag "stop_text_#{i}", stops[i].text, :required => true %><br>
	            </div>
	            <div class="field_stop">Score</div>
	            <div class= "field_stop_#{i}">
	              <%= number_field_tag "score_#{i}", stops[i].score, :pattern => "[0-9]", :required => true %>  
              </div>
            </td>
          <%end%>
        <%else%>
          <% @question.stops_count.times do |i|%>
            <td> 
      	      <div class="field_stop">Stop Text </div>
	            <div class="field_stop">
	              <%= text_field_tag "stop_text_#{i}", nil,:required => true %>
	              <br>
	            </div>
	            <div class="field_stop">Score</div>
	            <div class= "field_stop_#{i}">
	              <%= number_field_tag "score_#{i}", nil,:pattern => "[0-9]", :required => true %>  
              </div>
            </td>
          <%end%>
        <%end%>
      </tr>
    </table>
  </div>
  <div class="div-block">
	  <%= button_tag :save %>
  </div>
<%end%>