<%= form_tag do%>
<div class="field">
  <%= label_tag :title %><br>
  <%= text_field_tag :title, @question.title %>
</div>
<div class="field">
  <%= label_tag :position %><br>
  <%= text_field_tag :position, @question.position, :pattern => "[0-9]", :required => true %>
</div>
<div class="field">
  <%= label_tag :stops %><br>
  <%= select_tag :stops_count, options_for_select([3,5,7], @question.stops_count) %>
</div>
<div class="div-block">
  <%= button_tag :save %>
</div>
<%end%>
