<div class="row pd15">
  <div class="col-xs-12">
    <div class="formWrapper">
      <div class="lightBg pd15 mb10">
        <h1 class="no-margin">Army Leader Development</h1>
      </div>
    
      <div class="lightBg pd25">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>
          <% flash.each do |key, value| %>
            <div class="label label-danger"><%= value %></div>
          <% end %>

          <div class="actions text-center mt35">
            <%= f.submit "Log in", class: "btn solid-gold" %>
          </div>
          
          <div class="text-center mt10">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        <% end %>
      </div>
      
      <div class="text-center mt15">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Click to Create a New Account", 'javascript:void(0)', class: 'slideNext' %><br />
        <% end -%>
      </div>
      
    </div>
  </div>
</div>