<div class="onboardingView">
  <section id="loginSection" class="pageStepView active">
    <%= render 'signin_form' %>
  </section>
  <%= render 'devise/registrations/signup_form' %>
  
  
  <section id="add_photo_container" class="pageStepView"></section>
  <section id="add_contacts_container" class="pageStepView"></section>
  <section id="add_community_container" class="pageStepView"></section>
  <section id="create_community_container" class="pageStepView"></section>
  <section id="completion_container" class="pageStepView"></section>
  
  <%#= render 'users/add_photo' %>
  <%#= render 'users/add_contacts' %>
  <%#= render 'users/add_community' %>
</div>
