<div class="main-container" ng-show="template_data.current_page==4">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=3" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Implement and assess the below actions to promote learning while generating innovative solutions.</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
          <th width="35%">Actions</th>
          <th width="65%">Notes/Guidance</th>
          </thead>
          <tbody>
          <tr ng-repeat="question in page.questions">
            <td>{{ question.text }}</td>
            <td><textarea ng-model="question.answer" placeholder="Click to type"></textarea></td>
          </tr>
          </tbody>
        </table>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span>
      </div>
    </div>
  </div>
</div>