<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right" ng-hide="is_review_template"><a href="javascript:void(0);" ng-click="template_data.current_page=6" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Tiger Team Implementation Tool template.
            <br/>
            Review your responses below</h2>
        </div>
        <table class="table table-no-border temp-table">
          <thead>
          <th width="35%">Actions</th>
          <th width="65%">Notes/Guidance</th>
          </thead>
          <tbody>

          <tr ng-repeat="question in template_data.pages[2].questions">
            <td>{{ question.text }}</td>
            <td><textarea ng-model="question.answer" readonly placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr ng-repeat="question in template_data.pages[3].questions">
            <td>{{ question.text }}</td>
            <td><textarea ng-model="question.answer" readonly placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr ng-repeat="question in template_data.pages[4].questions">
            <td>{{ question.text }}</td>
            <td><textarea ng-model="question.answer" readonly placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          <tr ng-repeat="question in template_data.pages[5].questions">
            <td>{{ question.text }}</td>
            <td><textarea ng-model="question.answer" readonly placeholder="Click to type">Lorem ipsum dolor</textarea></td>
          </tr>
          </tbody>
        </table>
        <p class="text-center" ng-hide="is_review_template"> 
           <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
           &nbsp;&nbsp;&nbsp;
           <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Tiger Team Implementation Tool template."></span>
      </div>
    </div>
  </div>
</div>
