<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=2" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">Fill out the below with notes on the responsibilities for leader development in your command.</h2>
        </div>
        <position-and-roles positions="page.positions"></position-and-roles>
        <p class="text-center"> <a href="javascript:void(0)" ng-click="save_complete()" class="btn btn-1">Complete</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Unit Leader Development Roles and Responsibilities template."></span>
      </div>
    </div>
  </div>
</div>

