<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=2" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <mentee-thumb mentee="template_data.mentee"></mentee-thumb>
          <h2 class="text-center">Reflect on the below to give leader's more accurate and action-oriented feedback.</h2>
        </div>
        <div class="text-container no-top-mg">
          <div ng-repeat="feedback in page.feedbacks">
            <label><strong>{{ feedback.title }}</strong>: {{ feedback.text }}</label>
            <textarea ng-model="feedback.answer" name="situation" placeholder="Click to type"></textarea>
          </div>

        </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing SOAR Observation &amp; Assessment Tool template."></span>
      </div>
    </div>
  </div>
</div>
