<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"  ng-hide="is_review_template"><a href="javascript:void(0);" ng-click="template_data.current_page=4"  class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out SOAR Observation &amp; Assessment Tool template.
            <br/>
            Review your responses below</h2>
        </div>

        <div class="text-big-container no-top-mg">
          <div ng-repeat="feedback in template_data.pages[2].feedbacks">
            <label><strong>{{ feedback.title }}</strong>: {{ feedback.text }}</label>
            <textarea readonly ng-model="feedback.answer" name="situation" placeholder="Click to type"></textarea>
          </div>
          <div ng-repeat="feedback in template_data.pages[3].feedbacks">
            <label><strong>{{ feedback.title }}</strong>: {{ feedback.text }}</label>
            <textarea readonly ng-model="feedback.answer" name="situation" placeholder="Click to type"></textarea>
          </div>
        </div>
        <p class="text-center" ng-hide="is_review_template"> 
           <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
           &nbsp;&nbsp;&nbsp;
           <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing SOAR Observation &amp; Assessment Tool template."></span>
      </div>
    </div>
  </div>
</div>

