// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.move_x5F_vertical_x5F_12x32{
    width:35px;
    height:35px;
}

.has_many.property_settings .button {
    display: none !important;
}

textarea.tinymce {
    height: 600px;
}

.image-sample {
    max-height: 320px;
    max-width: 480px;
}

.file-selection {
    width: 250px;
}

.admin_cms a {
    text-decoration: none;
}

.admin_cms tr.odd {
    background-color: #f0f0f0;
}

.admin_cms tr:hover .options {
    visibility: visible;
}

.admin_cms .options {
    padding-left: 5px;
    font-size: 10px;
    visibility: hidden;
}

.admin_cms .level-1 td {
    font-size: 1.1em;
    font-weight: bold;
    border-top: 1px solid #666F74;
}

.admin_cms .options a {
    color: #666;
}

.admin_cms .options a:hover {
    color: #333;
    text-decoration: underline;
}

.admin_pages form textarea {
    font-size: 13px;
}

.admin_pages .datepicker input {
    width: 200px;
}

.admin_pages #page-preview {
    width: 100%;
    height: 600px;
}

.defaultSkin table.mceToolbar, .defaultSkin tr.mceFirst .mceToolbar tr td, .defaultSkin tr.mceLast .mceToolbar tr td {
    width: auto;
}

.defaultSkin .mceListBox .mceText {
    text-decoration: none;
    color: black;
}

.defaultSkin .mceListBoxMenu {
    background-color: white;

    a, .mceText {
        text-decoration: none;
    }
}

.field.numeric
    {
        width:100px;
    }
    
.text
   {
        width:300px;
   }
.text_area
   {
        width:500px;
   }

.common-block{
    float:left;
    width:100%;
}   
.content_block{
    float:left;
    width:100%;
}
.field{
    clear: both;
    float: left;
    padding: 10px 0;
    width: 60%;
}
.field .left{
    float:left;
}
.field .right{
    float:right;
}
.field label{
    float:left;
    font-weight:bold; 
    text-align:right; 
    padding:5px;  
}
.field input{
    float:left;  
}
.field input[type="text"]{
    width:200px;  
}
.field input[type="number"]{
    width:50px;  
}
.div-block{
    float: left;
    padding: 20px 0;
    width: 60%;
}
.div-block .field-row{
    clear: both;
    float: left;
    padding: 10px 0;
    width:100%;
}
.div-block .number{
 float:left;
 width:100px;
 padding-right:20px; 
}

.div-block .text-field{
 float:left;
 width:150px;
 padding-right:20px; 
}

.div-block .file-field{
 float:left;
 padding-right:20px; 
}

.div-block .bigtext{
 float:left;
 width:250px;
 padding-right:20px; 
}

.div-block label{
    font-weight:bold;
}
.field label.url_label{
    font-weight:normal;
}
.text_area_template textarea{
    width:250px;
    height:100px;
}
.float-element{
    float:left;
    width:100%;
}

.error-box{
    border: 1px solid red;
    color: red;
    margin: 10px;
    padding: 10px;
    font-size:12px;
}
.url_row{
    padding:0px 0px 10px 0px;
}
.url_value{
    font-weight:normal;
    width:70%;
}
.col-imagethumb{
 max-width:1000px;   
}

#index_table_images{
 max-width:200px   
}
.field_stop{
   max-width:200px   
}