// Place all the styles related to the assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#assessment-page, #lpd-page{
  color: #e5e4e5;
  textarea{
    background: transparent;
    width: 100%;
    resize: none;
    padding: 10px 15px;
    margin-top: 25px;
    height: 100px;
    &:focus{
      outline: none;
    };
  }
  .tag-list{
    padding-right: 50px;
  }
}

.pageStepView{
  background: #505357;
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  height: 0;
}
.pageStepView.slideUp{
  top: -100%;
  -webkit-transition: all 0.8s linear;
  -moz-transition: all 0.8s linear;
  -ms-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.pageStepView.active{
  -webkit-transition: top 0.4s linear;
  -moz-transition: top 0.4s linear;
  -ms-transition: top 0.4s linear;
  -o-transition: top 0.4s linear;
  transition: top 0.4s linear;
  height: auto;
  min-height: 100%;
  opacity: 1;
  top:0;
  padding-top: 120px;
  padding-bottom: 120px;
  visibility: visible;
}
.pageStepView.active.no-padding{
  padding-top:20px !important;
  padding-bottom:0px !important;
}
@media(max-width: 767px){
  .pageStepView.active{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.pageStepView.introHeader{  
  background: #34383c;
}

.nstSlider{
  height: 3px;
  width: 100%;
  background: #ccc;
  border-radius: 0px;
  position: relative;
  z-index:2;
}
.nstSlider .bar{
  background: #FAA628;
  top: 0px;
  height: 4px;
}
.nstSlider .rightGrip, .nstSlider .leftGrip{
  width: 13px;
  height: 13px;
  top: -6px;
  background: #FAA628;
  &:hover{
    &:before{
      content: " ";
      padding: 10px;
      background: transparent;
      display: inline-block;
      border: 1px solid #bbb;
      border-radius: 50%;
      left: -5px;
      position: relative;
      top: -5px; 
    }
    &:after{
      content: " ";
      padding: 14px;
      background: transparent;
      display: inline-block;
      border: 1px solid #bbb;
      border-radius: 50%;
      left: -9px;
      position: absolute;
      top: -9px; 
    }
  }
}
.sliderLabel{
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
  &:before{
    content: " ";
    padding: 13px 0px;
    background: #ccc;
    display: inline-block;
    border: 1px solid #bbb;
    left: 50%;
    position: absolute;
    top: -35px;
    height: 10px;
    width: 1px;
    z-index: 0; 
  }
}




.assessment-section{
  max-width: 260px;
  float: left;
  margin: 0 15px;
  font-weight: 300;
  border-radius: 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow-blend-mode: multiply;
  transition: all .2s ease-in-out;
  .assessment-section-top{
    position: relative;
    .assessment-data{
      position: absolute;
      bottom: 0px;
      width:100%;
      padding: 18px 17px;
      .assessment-title{
        color: white;
        font-weight: 400;
        font-size: 24px;
      }
      .assessment-subtitle{
        color: white;
        opacity: 0.9;
        letter-spacing: 1px;
      }
    }
  }
  .assessment-description{
    background: #E5E4E5;
    .assessment-discription-content{
      color: #505357;
      padding: 15px 17px;
      .sub-title{
        font-weight: 400;
      }
      .main-text{
        display: none;
      }
    }
    .assessment-footer{
      height: 48px;
      line-height: 48px;
      padding: 0px 12px;
      a{
        color: #505357;
      }
      .btn{
        background: rgb(242, 242, 240);
      }
      .expandScoreCard{
        display: inline-block;
      }
      .collapseScoreCard{
        display: none;
      }
    }
  }
}

.btn-1 {
  background: rgba(229, 228, 229, 0.15) none repeat scroll 0 0;
  border: medium none;
  color: #e5e4e5;
  display: inline-block;
  height: 36px;
  line-height: 26px;
  min-width: 64px;
  &:hover{
    color: #e5e4e5;
  }
}

.assessment-section.expanded{
  width: 100%;
  max-width: 840px;
  .assessment-section-top{
    min-height: 175px;
    overflow: hidden;
    .assessment-title{
      display: none;
    }
  }
  .assessment-description{
    .assessment-discription-content{
      .main-text{
        display: block;
      }
    }
    .assessment-footer{
      .expandScoreCard{
        display: none;
      }
      .collapseScoreCard{
        display: inline-block;
      }
    }
  }
}