.white{
  color: white;
}

.mr-auto{
  margin: 0 auto;
}
.inline-block{display:inline-block;}
.block{display:block;}


.m10{margin:10px;}
.m15{margin:15px;}
.m25{margin:25px;}
.m35{margin:35px;}

.pd10{padding:10px;}
.pd15{padding:15px;}
.pd25{padding:25px;}
.pd35{padding:35px;}


.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mt35{margin-top:35px;}

.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb25{margin-bottom:25px;}
.mb35{margin-bottom:35px;}


.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml25{margin-left:25px;}
.ml35{margin-left:35px;}

.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr25{margin-right:25px;}
.mr35{margin-right:35px;}

.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt25{padding-top:25px;}
.pt35{padding-top:35px;}

.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb25{padding-bottom:25px;}
.pb35{padding-bottom:35px;}

.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl25{padding-left:25px;}
.pl35{padding-left:35px;}

.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr25{padding-right:25px;}
.pr35{padding-right:35px;}
