.pull-right{
  float: right !important;
}
#quick_navigation {
  //min-height: 634px;
  &::before {
    background: rgba(80, 83, 87, 0.8);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  &.no-overlay::before {
    display: none;
  }
}
.sub-section-block {
  background: #3a3e3f none repeat scroll 0 0;
  border-bottom: 1px solid rgba(80, 83, 87, 0.7);
  padding-left: 20px;
}
.accordian-ul-scroll {
  max-height:250px; 
  overflow:auto;
}
.navigation-menu {
  width: 25% !important;
  padding: 0 !important;
  background: rgba(80, 83, 87, 0.7) !important;
  color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  border-right: 1px solid rgba(204, 204, 204, 0.3);
  .heading {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 35px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
    img {
      padding-top: 5px;
    }
  }
  .close-btn {
    margin-bottom: 40px;
    margin-left: 0;
    margin-top: 10px;
  }
  .search {
    width: 100%;
    background: none;
    border-left: none;
    border-right: none;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 35px;
    border-bottom: 1px solid #7B7474;
    border-top: 1px solid #7B7474;
  }
  .chat-list {
    .purpleBorder {
      border: 2px solid #b17fb8;
    }
    padding: 30px 0px;
    list-style: none;
    li {
      margin-bottom: 23px;
      color: #fff;
      padding: 5px 35px;
    }
    li.limeGray{background: rgba(204,204,204,0.4);}
    .chat-img {
      display: inline-block;
      img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        width: 50px;
        height: 50px;
        border-style: solid;
        border-width: 2px;
      }
    }
    .info {
      display: inline-block;
      vertical-align: middle;
      padding-left: 5px;
      span {
        display: block;
        line-height: 20px;
      }
    }
    .active-icon {
      position: relative;
      display: inline-block;
      width: 41px;
      i {
        width: 9px;
        height: 9px;
        background: #159c49;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -10px;
      }
      input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
      }
      label {
        width: 100%;
        display: inline-block;
        background: image-url('check-box.png') no-repeat right center;
        vertical-align: middle;
        height: 40px;
      }
      input[type="checkbox"]:checked + label {
        background: image-url('right-icon.png') no-repeat right center;
      }
    }
  }
  .add-contact {
    border: medium none;
    bottom: 0;
    padding: 5px 35px;
    position: absolute;
    width: 100%;
    background: #faa726;
    color: #fff;
    i {
      font-size: 22px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
  .status{
    border: none;
    bottom: 30px;
    color: rgba(204, 204, 204, 0.3);
    font-weight: 400;
    padding: 5px 35px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .connect {
    border: medium none;
    bottom: 0;
    padding: 5px 35px;
    position: absolute;
    width: 100%;
    background: rgba(204, 204, 204, 0.3);
    color: #fff;
    i {
      font-size: 22px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}

/*LPD Timeline*/
.main-btn {
  display: block;
  margin-left: 5px;
  background: image-url('lpd_switch_viewer.png') no-repeat left center;
  border: none;
  outline:none;
  width: 40px;
  height: 0;
  padding-top: 24px;
  overflow: hidden;
  &.change-image {
    background-position: right center;
  }
}

#quick_navigation .navigation-menu.full-width {
  width: 100% !important;
  .hide {
    display: none;
  }
}

.timeline-table {
  position: relative;
  height: 100%;
  .info-box {
    margin-top:40px;
    margin-bottom: 18px;
    .col-md-12 {
        background: rgba(0, 0, 0, 0.3);
        padding: 20px 50px;
      }
  }
  &:after {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 30px;
    content: '';
    position: absolute;
    left: 0px;
    bottom: 38%;
  }
  .timeline-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 100px;
  }
  .table {
    margin-bottom: 0;
    td {
      padding-bottom: 0;
    }
    tr td {
      border: none;
      .time-info {
        min-height: 350px;
        position: relative;
        &:after {
          background: rgba(255, 255, 255, 0.5);
          bottom: 0;
          content: "";
          display: block;
          height: 100%;
          left: 50%;
          position: absolute;
          width: 1px;
        }
        &:hover:after {
          background: #fff;
        }
        a {
          color: rgba(255, 255, 255, 0.7);
          display: inline-block;
          width: 100%;
          background: #4F5256;
          position: relative;
          z-index: 10;
        }
        &:hover a {
          color: #fff;
        }
      }
    }
  }
}
/*End of LPD timeline*/
.community-main-content {
  width: 100%;
  .main-container {
    padding-left: 30%;
    padding-top: 2%;
    position: relative;
    z-index: 10;
    padding-right: 3%;
    p, h2 {
      color: rgba(204, 204, 204, 1);
    }
    .community_shortdesc{
      font-style: italic;
      color: rgba(204, 204, 204, 1);
      margin-left:10%;
    }
    .save {
      background: rgba(153, 153, 153, 0.3);
      border: medium none;
      border-radius: 3px;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      padding: 10px 20px;
    }
  }
}

.one-third {
  width: 30%;
}
.communities-list {
  border: 2px solid #ccc;
}
.one-third.com-box:not(.ng-scope) {
  margin-top:48px !important;
}
.com-box {
  display: inline-block;
  margin: 1%;
  position: relative;
  vertical-align: top !important;
  h4 {
    color: #fff;
    text-align: center;
  }
  .communities-list {
    border-radius: 4px;
    border-top-width: 5px;
    overflow: auto;
    height: 320px;
    position: relative;
    .setting {
      width: 100%;
      border: none;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      position: absolute;
      min-height: 35px;
      bottom: 2px;
      visibility: hidden;
      display: none;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
  }
  &:hover .communities-list .setting {
    visibility: visible;
    display: block;
  }
  .communities-list {
    .person-list {
      list-style: none;
      padding: 0;
      margin-bottom: 0px;
      li {
        width: 39%;
        display: inline-block;
        margin: 5%;
        text-align: center;
        padding: 10px 0;
        position: relative;
        vertical-align:top;
        .fa-star {
          color: #FFD700;
          position: absolute;
          right: 29px;
          top: 9px;
        }
        .fa-close {
          color: #FF0000;
          position: absolute;
          right: 66px;
          top: 7px;
          visibility: hidden;
          opacity: 0;
        }
        &:hover .fa-close {
          visibility: visible;
          opacity:1;
          cursor:pointer;
        } 
        img {
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          width: 50px;
          height: 50px;
        }
        p {
          line-height: 20px;
          color: #fff;
        }
      }
    }
    .inner-form {
      list-style: outside none none;
      padding: 0;
      margin: 0px;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: 100;
    }

  }
}

.communities-list .inner-form {
  input[type="text"] {
    background: rgba(255, 255, 255, 0.5);
    border: medium none;
    height: 30px;
    padding: 0 15px;
    width: 100%;
    color: #000;
  }
  
  
  .community-delete{
    width: 100%;
    display:block;
    text-align:center;
    cursor:pointer;
    border: none;
    color: #ffffff;
    background: #ff0000 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform:capitalize;
    margin-top:-35px;
    span{
      font-weight:500;
      font-size: 13px;
    }
    .community-confirm-delete {
      :hover {
        color: #EF9551 !important;
      }
      color: #ffff00 !important;
      span {
        border-bottom: solid 1px;
        font-weight:500;
        padding-bottom: 2px;
      }
    }
  }
  
  
  /*.community-delete {
    width: 100%;
    font-weight:500;
    color: #ffffff !important;
    display:block;
    text-align:center;
    cursor:pointer;
    border: none;
    background: #ff0000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform:capitalize;
    margin-top:31px;
  }
  .community-confirm-delete {
    width: 100%;
    color: #E1D800 !important;
    font-weight:500;
    display:block;
    text-align:center;
    cursor:pointer;
    background: #ff0000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform:capitalize;
    margin-top:31px;
    :hover{
      color: #EF9551;
    }
    span{
      border-bottom: solid 1px;
      padding-bottom: 2px;
    }

  }*/
  
  button[type="submit"] {
    width: 100%;
    color: #fff;
    border: none;
    background: #faa726;
  }
}
.com-box .communities-list {
  .inner-form {
    > li:last-child {
      width: 100%;
      position: absolute;
      bottom: 0px;
    }
  }
}
.com-box .communities-list {
  height: 380px;
  .inner-form {
    height: 100%;
    label {
      color: #fff;
      font-weight: 400;
      line-height: 20px;
    }
    li {
      line-height: 30px !important;
      margin-bottom: 9.5px;
      padding: 0 14px;
      outline: none;
      &:last-child {
        margin-bottom: 0;
        padding: 0;
      }
    }
  }
  .clone {
    background: none;
    border: none;
    color: #fff;
    display: block;
    font-size: 15px;
    padding-bottom: 45%;
    padding-top: 50%;
    position: absolute;
    text-align: center;
    width: 100%;
    i {
      font-size: 22px;
    }
  }

}

.purple-border {
  border-color: #b17fb8;
}
.yellow-border {
  border-color: #faa726;
}
.red-border {
  border-color: #b80000;
}
.blue-border {
  border-color: #3cc6f4;
}

.green-border {
  border-color: #3bb54b;
}
.no-border {
  border-color: transparent;
}
.pink-border {
  border-color: #ef4c7a;
}
.purple-color {
  background: #b17fb8 !important;
}
.blue-color {
  background: #3cc6f4 !important;
}
.green-color {
  background: #3bb54b !important;
}
.pink-color {
  background: #ef4c7a !important;
}
.red-color {
  background: #b80000 !important;
}
.yellow-color {
  background: #faa726 !important;
}
.orange {
  background: #faa726 !important;
}
.color-pallete {
  list-style: none;
  padding: 0;
  background: rgba(204, 204, 204, 0.6) none repeat scroll 0 0;
  padding: 1px 10px;
  .active {
    border: solid 1px rgba(80,83,87,0.8);
  }
  li {
    width: 30px;
    height: 15px;
    display: inline-block;
    margin: -2px 3px !important;
    cursor: pointer;
    
  }
}

.community-pallete {
  list-style: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  padding: 7px 10px;
  .active {
    border: solid 1px rgba(80,83,87,0.8);
  }
  li {
    width: 30px;
    height: 15px;
    display: inline-block;
    margin: -2px 3px !important;
    cursor: pointer;
    &:hover {
      background: rgba(80,83,87,0.4);
    }
  }
}

#menuList {
  ul {
    list-style: none;
    padding-left: 0px;
    ul {
      display: none;
      li {
        padding: 0;
        border-top: none;
        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }
      a {
        padding: 5px 10px 5px 65px;
        border-top: 1px solid #555555;
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        &:focus {
          outline: none;
        }
      }
    }
  }
  > ul > li {
    background: rgba(170, 170, 170, 0.2);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    &:focus {
      outline: none;
    }
    > a {
      font-size: 15px;
      display: block;
      color: #ffffff;
      border: none;
      &:focus {
        outline: none;
      }
      > span {
        display: block;
        padding: 12px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      border-bottom: none;
      > a span {
        background: image-url('icon_minus.png') 96% center no-repeat;
        
      }
    }
    > a span {
      background: image-url('icon_plus.png') 96% center no-repeat;
      padding-left:36px;
    }
  }
}

/* Sub menu */

doctrine {
  cursor:pointer;
  display:inline-block;
  border-bottom: 1px solid #34383c;
}

/*Add picture to profile*/
.image-uploader {
  position: relative;
  &:not(.filled) {
    cursor: pointer;
    float: right;
    margin-top: -15px;
    &:hover {
      opacity: 1;
      .image {
        border: 3px dashed #bbb !important;
      }
    }
  }
  &.filled {
    cursor: move;
    float: right;
    margin-top: -10px;
  }
  .image {
    overflow: hidden;
    border: 10px solid #aaa;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
  }
  .image-sm {
    overflow: hidden;
    border: 4px solid #aaa;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
  }
  &.filled label {
    display: none;
  }
  label {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 44%;
    width: 100%;
  }
  img {
    border: none;
  }
  #uploader {
    display: none;
  }
  .zoom {
    position: absolute;
    top: 0;
    left: -35px;
    display: none;
  }
}
.v-min-h {
  //min-height:430px;
   min-height:476px;
}
.droppable .image {
  border: 2px dashed #ccc !important;
}
/*End of Add picture to profile*/

.btn-light{
    background: rgba(204, 204, 204, 0.3);
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 16px;
    outline:none;
}

.close-btn{
    background: image-url('x_circle_white_sm.png') no-repeat;
    width: 42px;
    height: 42px;
    display: inline-block;
}

#lpd-sidena ul {
  list-style: none;
  padding-left: 0px;
}

#lpd-sidenav p {
  padding: 0 20px 15px 38px;
  margin-bottom: 0;
}

#lpd-sidenav {
  ul {
    background: rgba(80, 83, 87, 0.55);
    list-style: none;
    padding-left: 0px;
    ul {
      display: none;
      background: none;
      li {
        padding: 0;
        border-top: none;
        background: transparent !important;
        p.shortdesc {
          line-height: 24px;
          margin-bottom: 0;
          padding: 0 20px 20px 38px !important;
          
        }
        p.watchvid {
          margin-bottom:40px;
          button{
            padding:10px;
            background: rgba(204, 204, 204, 0.2) none repeat scroll 0 0;
          }
        }
      }
     
      a {
        padding: 5px 10px 5px 65px;
        border-top: 1px solid #555555;
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        &:focus {
          outline: none;
        }
      }
    }
  }
  
  > ul > li {
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    &:focus {
      outline: none;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    > a {
      font-size: 15px;
      display: block;
      color: #ffffff;
      border: none;
      &:focus {
        outline: none;
      }
      > span {
        display: block;
        padding: 12px 10px 12px 37px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      border-bottom: none;
    }
  }

}
.modal-vid-dialog{
  .modal-vid-content{
    .modal-header {
      min-height:55px;
    }
    .modal-body{
      padding:20px;
      text-align:center;
    }
    background: rgba(80, 83, 87, 1);
    video{
      width: 85%;
    }
    .btncls{
      float:left !important;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      /* IE 5-7 */
      filter: alpha(opacity=100);
      /* Netscape */
      -moz-opacity: 1;
      /* Safari 1.x */
      -khtml-opacity:1;
      /* Good browsers */
      opacity: 1;
    }
  }
  
}



#drawer-window-left.sidemenu-box {
  z-index: 10000;
  background: #4a4e4f;
  .drawer-header {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  .drawer-body .drawer-header-box .profile-pic {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .drawer-header-box {
    text-align: center;
    border-bottom: 2px solid #5f6267;
    padding-top: 35px;
    p.name span {
      background: #515558;
      display: inline-block;
      line-height: 20px !important;
      margin: 15px 0 25px;
      padding: 2px 11px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
    }
  }
  .drawer-nav-box {
    margin-bottom: 50px;
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        text-transform: capitalize;
        font-size: 12px;
        color: #8a8e8f;
        display: block;
        a {
          text-transform: capitalize;
          font-size: 12px;
          color: #8a8e8f;
          display: block;
        }
        .fa {
          margin-right: 15px;
        }
      }
      > li > a {
        padding-left: 15px;
      }
      ul {
        li a {
          color: #a9a9ae;
          display: block;
          padding-left: 25px;
          &:hover, &.drawer-a-clr {
            background: #3a3e3f;
            color: #fff;
            outline: none;
          }
          &:focus {
            outline: none;
          }
        }
        
        .sub-menu {
          position: absolute;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          position: absolute;
          top: 0;
          //right: -260px;
          height:200px;
          overflow: auto;
          min-height: 100%;
          right: -315px;
          background: #4a4e4f;
          //min-height: 200px;
          width: 315px;
          display: none;
          li {
            border-bottom: 2px solid #5f6267;
            line-height:25px;
            .icon-pic {
              width:20px;
              height:20px;
              margin-right: 12px;
            }
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .drawer-body {
    overflow-x: visible;
    position: static;
  }
}
.template-delete-block {
  width: 100%;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  .sub-content-name {
    width: 62%;
  }
  .leftside-subnav{
    width:38%;
    .confirm-delete {
      color: #FAA628 !important;
      :hover{
        color: #EF9551;
      }
      span{
        border-bottom: solid 1px;
        padding-bottom: 2px;
      }

    }
  }
}
.modal-open .modal {
  position: absolute;
  z-index: 99999999;
}
.modal {
  position: fixed!important;
  z-index: 10500!important;
}
.modal-dialog {
  background: #515457;
  border:1px solid #fff; 
  min-height: 550px;
  min-width:650px;
  position:fixed;
  left:32%;
}
.modal-content {
  box-shadow: none;
  background: #515457;
  border:none;
  label {
    color: #ffffff;
    font-weight:400;
  }
  .settings_personal_data {
    width: 70%;
    padding: 10px;
    float:left;
  }
  .settings_social_data {
    width: 30%;
    padding:10px;
    float:left;
  }
  .reporting {
    width: 100%;
    padding: 20px;
    background: #515457;
    textarea {
      padding: 5px 10px;
      height:400px;
    }
  }
}
.modal-header-dark {
    min-height: 16.4286px;
    background: #515457;
    padding: 10px;
    .modal-title{
      color: #ffffff;
      font-size: 20px;
    }
}
button.close {
  float: left;
  
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=80);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.8;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.8;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
  opacity: 0.8;
  img {
    width: 35px;
  }
}

.btn-gold {
 background: #FAA628; 
 color: #ffffff;
 &:active {
   background: #F37B20;
   color: #ffffff;
 }
 &:hover {
   background: #FF9A3D;
   color: #ffffff;
 }
}
.hide-ui-elements {
  display:none !important;
}
.active-browse-btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.hide-browse-btn {
  height: 39px;
  margin-left: -12px;
  margin-top: -9px;
  opacity: 0;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.hide-browse-btn-settings {
  margin-left: -18px;
  margin-top: -36px;
  opacity: 0;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-height:1000px) {
  #drawer-window-left.sidemenu-box {
   display: none;
  }
}
@media screen and (max-width: 1244px) {
  .color-code li {
    width: 15px !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .one-third {
    width: 48%;
  }
}

@media screen and (max-width: 480px) {
  .one-third {
    width: 100%;
  }
}

/*MAC Laptops/Desktop screens media-queries*/
@media screen and ( max-height: 1800px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:1800px;
  }
}

@media screen and ( max-height: 1600px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:1600px;
  }
}
@media screen and ( max-height: 1440px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:1440px;
  }
}
@media screen and ( max-height: 1200px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:1200px;
  }
}
@media screen and ( max-height: 1080px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:1080px;
  }
}
@media screen and ( max-height: 900px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:900px;
  }
}
@media screen and ( max-height: 800px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:800px;
  }
}

@media screen and ( max-height: 768px ) {
  #quick_navigation, #mainPage .pre-home-section {
    min-height:768px;
  }
}
