// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#mainPage{
  //max-width: 1024px;
  max-width:100%;
  margin: 0 auto;
  .grid{
    //height: 768px;
    height:100vh;
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
  }
  .gridBlock{
    opacity: 1;
    position: relative;
    height:100vh;
  }
  .gridBlock.expanded{
    -webkit-transition: width 1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    transition: width 1s linear;
    width: 100%;
    z-index: 1;
    left: 0;
    overflow: hidden;
    .tab-title{
      display: none;
    }
    .gridContent{
      min-height: 420px;
      margin: 0 auto;
      margin-top: 20%;
      .tab-description{
        .tab-info{
          padding: 25px 35px;
        }
        .action-buttons{
          height: 48px;
          line-height: 48px;
          margin: 0 10px;
          .action-btn{
            margin-right: 6px;
          }
        }
        .quick-link-block{
          padding: 25px 35px;
          opacity: 0.5;
          ul{
            margin-top: 5px;
            padding-left:25px;
            margin: 0;
            li{
              line-height: 24px;
              a{
                color: #000000;
              }
            }
          }
        }
        display: block;
      }
    }
    .return-btn{
      position: absolute;
      bottom: 25px;
      right: 25px;
      z-index:2;
      display: inline-block;
      color: white;
      cursor: pointer;
    }
    
  }
  
  .non-expanded{
    cursor: pointer;
    -webkit-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -o-transition: width .3s linear;
    transition: width .3s linear;
    position: relative;
    height: 100vh;
    .tab-title{
      -webkit-transition: top 3s linear;
      -moz-transition: all 3s linear;
      -o-transition: all 3s linear;
      transition: top 3s linear;
      position: absolute;
      top:50%;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
      font-weight: 300;
    }
    .tab-description{
      display: none;
    }
    .return-btn{
      display: none;
    }
  }
}

@media(max-width: 767px){
  #mainPage{
    .gridBlock{
      &:nth-child(n+3){
        width: 100%;
      };
    }
    .gridBlock.non-expanded{
      .grid{
        height: 320px;
      }
    }
    .gridBlock.expanded{
      .gridContent{
        padding: 15px;
      }
    }
  }
}


@media(min-width: 768px){
  #mainPage .gridBlock.expanded .gridContent{
    max-width: 680px;
  }
}


.block-header{
  padding:25px 35px;
  font-size: 24px;
  color: white;
  text-align: center;
}
.block-content{
  padding:25px 35px;
}
.assessment-link{
  background: image-url('assessment_solid_black.png');
  width: 24px;
  //height: 24px;
  height:16px;
  display: inline-block;
  background-size: 24px;
  background-position: center center;
  //position: absolute;
  position: relative;
  background-repeat: no-repeat;
}



// ===============
// = LPD Section =
// ===============
.lpd-section{
  max-width: 680px;
  margin: 0 auto;
  font-weight: 300;
  border-radius: 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow-blend-mode: multiply;
  transition: all .2s ease-in-out;
  .lpd-section-top{
    position: relative;
    .lpd-data{
      position: absolute;
      bottom: 0px;
      width:100%;
      padding: 18px 35px;
      .lpd-title{
        color: white;
        font-weight: 300;
        font-size: 24px;
      }
      .lpd-subtitle{
        color: white;
        opacity: 0.9;
        letter-spacing: 1px;
        .lpd-time{
          padding-left: 40px;
        }
        .fa{
          position: absolute;
          left: 9px;
          top: -9px;
        }
      }
    }
  }
  .lpd-description{
    background: #34383C;
    color: #ffffff;
    a{
      color: white;
    }
    .lpd-discription-content{
      padding: 15px 35px;
      color: white;
    }
    .lpd-footer{
      height: 48px;
      line-height: 48px;
      padding: 0px 12px;
      hr{
        background-color: #fff;
      }
    }
  }
  &:hover{
    transform: scale(1.08);
  }
}
.lpd-section.Light{
  .lpd-description{
    background: #E5E4E5;
    color: #000000;
    a{
      color: #000000;
    }
    .lpd-discription-content{
      color: #000000;
    }
    .lpd-footer{
      hr{
        background-color: #000;
      }
    }
  }
}


// ====================
// = TTP Audio player =
// ====================


.ttp-section{
  max-width: 680px;
  margin: 0 auto;
  font-weight: 300;
  border-radius: 2px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow-blend-mode: multiply;
  transition: all .2s ease-in-out;
  .audio-title{
    position: absolute;
    color: white;
    margin-top: 26px;
    font-size: 24px;
    margin-left: 10px;
  }
  .audioplayer{
  	//width: 680px;
    width: 690px;
  	height: 72px;
  	background: #34383C;
  }

  .pButton{
    font-size: 24px ;
    padding: 20px 13px 20px 35px;
    width: 80px;
    display: inline-block;
    float: left;
    background: #F9A825;
    color: white;
  }

  .timeline{
  	width: 600px;
  	height: 72px;
  	float: left;  
  }
  .playhead{
  	width: 1px;
  	height: 64px;
  	background: #F9A825;
  }
  
  .ttp-description{
    background: #E5E4E5;
    color: #000000;
    a{
      color: #000000;
    }
    .ttp-discription-content{
      padding: 15px 35px;
      color: #000000;
    }
    .ttp-footer{
      height: 48px;
      line-height: 48px;
      padding: 0px 12px;
      hr{
        background-color: #000000;
      }
    }
  }
}


#quick_navigation{
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .navigation-menu{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    min-height:680px;
    background:#505357;
    padding: 35px;
  }
  .tab-title-main{
    position: absolute;
    bottom: 150px;
    right: 150px;
    color: white;
    font-size: 50px;
  }
  li{
    line-height: 40px;
    color: #BDBDBD;
    a{
      color: #BDBDBD;
    }
  }
  .children-menu{
    padding-left: 30px;
  }
}
.trans-border {
  border: 4px solid transparent;
}
.reply-input:hover, .reply-input:focus{
  outline: none;
}
.title-wid-text {
  width:40%;
  .block-header{
    width:100% !important;
  }
  .block-content{
    width:100% !important;
  }
}
.active-section .highlightable{
  border: 4px solid #FAA628 !important;
  -webkit-transition: all 0.4s ease 0.4s;
  -moz-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  -ms-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

.comment-box{
  span.shared-by{
    padding-left: 16px;
  }
}
.text-justify{
  text-align: justify;
}
