/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require animate
 *= require jquery.Jcrop
 *= require bootstrap-multiselect
 *= require bootstrap-select
 *= require_self
 *= require jquery-ui
 *= require jquery-ui-timepicker-addon
 *= require angular-ui-select
 *
 */

@import "mixins";
@import "jquery.nstSlider";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "assessments";
@import "styleguide";
@import "tabs";
@import "users";
@import "helper_classes";
@import "pages";
@import "templates";
@import "angucomplete-alt";


input.form-control.only-border{
  background: transparent;
  border: 1px solid #888;
  border-radius: 2px;
  color: #ccc;
}
input.form-control.flat-bg{
  background: rgba(189,189,189, 0.4);
  border: none;
  border-radius: 2px;
  color: #ccc;
}
.btn:focus {
  outline: none !important;
}
input.form-control, input.form-control:hover, input.form-control:focus{
  outline: 0;
  box-shadow: none;
}
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
a, a:hover, a:focus{
  text-decoration: none !important;
}
.relative{
  position: relative;
}
.no-margin{
  margin: 0px !important;
}
.no-pd{
  padding: 0px !important;
}
.container-fluid{
  padding: 0px;
}
#pageWrapper{
  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -ms-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  overflow-y: hidden !important;
}
.btn{
  text-transform: uppercase;
  border-radius: 2px;
}
hr{
  margin: 0;
  padding:0;
  border: 0;
  height:1px;
  opacity: 0.12;
  background-color: #000;
}
hr.light{
  background-color: #ffffff;
  opacity: .12;
}

.bg-level1{background: rgba(229,228,229, 0.9);}
.bg-level2{background: rgba(189,189,189, 0.9);}
.bg-level3{background: rgb(80,83,87);}
.bg-level4{background: rgb(52,56,60);}
.bg-level5{background: rgba(0,0,0, 0.9);}


.bg-level1.on-pic{background: rgba(229,228,229, 0.85);}
.bg-level2.on-pic{background: rgba(189,189,189, 0.85);}
.bg-level3.on-pic{background: rgba(80,83,87, 0.9);}
.bg-level4.on-pic{background: rgba(52,56,60, 0.9);}



/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}


/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

a.btn.flat-lt{color:#34383C;}
a.btn.flat-lt:hover{color:#34383C;}
.btn.flat-lt{
  border: none;
  background: transparent;
  min-width: 64px;
  height: 36px;
  line-height: 26px;
  color: #000;
  display: inline-block;
}
.btn.flat-lt:hover{
  background: rgba(52,56,60, .10);
}
.btn.flat-lt:focus{
  background: rgba(250,166,40, 0.9);
}
.btn.flat-lt.disabled{
  color: rgba(0,0,0, 0.26);
}

.btn.flat-drk{color:#E5E4E5;}
.btn.flat-drk:hover{color:#E5E4E5;}
.btn.flat-drk{
  border: none;
  background: transparent;
  min-width: 64px;
  height: 36px;
  line-height: 26px;
  color: #E5E4E5;
  display: inline-block;
}
.btn.flat-drk:hover{
  background: rgba(229,228,229, .15);
}
.btn.flat-drk:focus{
  background: rgba(250,166,40, 0.95);
}
.btn.flat-drk.disabled{
  color: rgba(255, 255, 255, 0.3);
}


.btn.flat-drk.filled{color:#E5E4E5;}
.btn.flat-drk.filled:hover{color:#E5E4E5;}
.btn.flat-drk.filled{
  border: none;
  background: rgba(229,228,229, .15);
  min-width: 64px;
  height: 36px;
  line-height: 26px;
  color: #E5E4E5;
  display: inline-block;
}
.btn.flat-drk.filled-sm{color:#E5E4E5;}
.btn.flat-drk.filled-sm:hover{color:#E5E4E5;}
.btn.flat-drk.filled-sm{
  border: none;
  background: rgba(229,228,229, .15);
  font-size: 11px;
  height: 30px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: -17px !important;
  color: #E5E4E5;
  display: inline-block;
  padding-left:5px;
}

.btn.solid-gray{color: #34383C;}
.btn.solid-gray:hover{color:#34383C;}
.btn.solid-gray{
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow-blend-mode: multiply;
  border: none;
  background: transparent;
  min-width: 175px;
  height: 36px;
  line-height: 26px;
  color: #E5E4E5;
  display: inline-block;
}
.btn.solid-gray:hover{
  background: rgba(229,228,229, .15);
}
.btn.solid-gray:focus{
  background: rgba(250,166,40, 0.95);
}
.btn.solid-gray.disabled{
  background: rgba(255, 255, 255, 0.3);
  color: red;
}

.btn.solid-gold{ color:#E5E4E5; }
.btn.solid-gold:hover{ color:#E5E4E5; }
.btn.solid-gold{
  border: none;
  background: #FAA628;
  min-width: 175px;
  height: 36px;
  line-height: 26px;
  color: #E5E4E5;
  display: inline-block;
}
.btn.solid-gold:hover{
  background: #EF9551;
}
.btn.solid-gold:focus{
  background: #F37B20;
}
.btn.solid-gold.disabled{
  background: rgba(229,228,229, 0.2);
  color: #ccc;
}








// ==============
// = TYPOGRAPHY =
// ==============

body{
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 140%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.doNotScroll{
  overflow: hidden;
}
.heading{
  font-size: 24px;
}
.heading-sm{
  font-size: 21px;
  opacity: 0.9;
}


.icon{
  color: #000000;
  opacity: 0.5;
}
.icon-light{
  color: #ffffff;
  opacity: 0.75;
}
.icon-lg{
  font-size: 22px;
  padding: 6px;
  margin-left: -6px;
}
.icon-md{
  font-size: 18px;
  padding: 4px;
}
.icon-sm{
  font-size: 14px;
  padding: 4px;
}


.backgroundImagesWrapper{
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.sectionWrapper{
  position: relative;
  z-index: 9999;
}

.background-image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center; 
}










#drawer-window-right, #drawer-window-left{
  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -ms-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  position:fixed;
  opacity:1;
  background: rgb(51,56,60);
  width:80%;
  width:250px;
  height:100%;
  z-index:10000;
  top: 0;
}
#drawer-window-left{
  left:0;
}
#drawer-window-right{
  right:0;
  width:330px;
}


#drawer-window-right.closed{
  right:-330px;
  opacity:0;
}
#drawer-window-left.closed{
  left:-250px;
  opacity: 0;
}
.drawer-header{
  position:relative;
  padding:0 42px 0 15px;
  height:30px;
}
.drawer-header .close-drawer{
  position:absolute;
  right:0;
  top:28px;
  z-index: 99;
  padding:10px;
  color:white;
  float:right;
  cursor:pointer;
  font-size: 18px;
}


.drawer-body::-webkit-scrollbar
{
  width: 0px;
}
.drawer-body{
  position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
  
  height:100%;
  color: #ccc;
  a{
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    &:hover{
      color: white;
    }
  }
  a.post-link{
    text-transform: none;
    border-bottom: solid 1px;
    display: inline;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .share-buttons i{
    cursor: pointer;
  }
  textarea, input[type='text']{

    width: 100%;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
    padding: 5px 15px;
  }
  input[type='text'].reply-input{
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    background: transparent;
    width: 77%;
    height: 40px;
    padding: 10px;
    outline: none;
  }
  input[type='text']{
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  }
  textarea{
    height: 150px;
  }
  textarea.link-desc{
    height: 120px;
  }
  .item-footer{
    padding: 5px 15px;
    border-top: 1px solid rgba(255,255,255,0.12);
    border-bottom: 1px solid rgba(255,255,255,0.12);
    .fa{
      padding:5px;
    }
  }
  
  
  .comment-box{
    border-top: 1px solid rgba(255,255,255,0.12);
    background: rgb(73,78,78);
    .comment-content-wrapper{
      padding: 10px;
      padding-left: 35px;
      position: relative;
    }
    .comment-footer{
      padding: 0 15px;
      border-bottom: 1px solid rgba(255,255,255,0.12);
    }
    .comment-reply{
      background: #393D3E;
      padding: 15px;
      //border-left: 10px solid rgb(52,56,60);
      border-left: 10px solid rgb(48,52,53);
      border-bottom: 1px solid rgba(255,255,255,0.12);
      .comment-content{
        padding: 5px 15px;
      }
    }
    .reply-count{
      width: 25.333333%;
    }

    .delete-link{
      line-height: 14px;
      text-align: center;
      span{
        text-transform: none;
        font-size: 13px;
      }
      .confirm-delete {
        :hover{
          color: #EF9551;
        }
        color: #FAA628;
        span{
          border-bottom: solid 1px;
          padding-bottom: 2px;
        }

      }
    }
  }
  .filter-row{
    cursor: pointer;
    height: 28px;

  }
  .filter-row.active{
    background: rgba(255, 255, 255, 0.2);
  }

  .post-reply{
    margin-left: 10px;
  }

}

.drawer-right-handle{
  position: fixed;
  z-index: 10001;
  width: 30px;
  height: 100%;
  background: transparent;
  top: 0;
  cursor: pointer;
  .icon{
    opacity: .15;
      color: white;
      padding: 0 5px;
      background: #505357;
      height: 150px;
      line-height: 150px;
      top: 40%;
      position: relative;
  }&:hover{
    .icon{
      opacity: 1;
    }
  }
}
.drawer-left-handle{
  position: fixed;
  width: 30px;
  height: 100%;
  background: transparent;
  top: 0;
  cursor: pointer;
  .icon{
    opacity: .15;
      color: white;
      padding: 0 5px;
      background: #505357;
      height: 150px;
      line-height: 150px;
      top: 40%;
      position: relative;
  }&:hover{
    .icon{
      opacity: 1;
    }
  }
}
.drawer-left-handle{
  left: 0;
  padding-right: 120px;
  .icon{
    border-radius: 0 50px 50px 0;
  }
}
.drawer-right-handle{
  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -ms-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  right: 0px;
  padding-left: 120px;
  .icon{
    left: -20px;
    border-radius: 50px 0 0 50px;
  }
}
#pageWrapper.left-drawer-opened{
  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -ms-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  padding-left: 250px;
  .drawer-left-handle{
    display: none;
  }
}
#pageWrapper.right-drawer-opened{
  -webkit-transition: all 0.30s linear;
  -moz-transition: all 0.30s linear;
  -ms-transition: all 0.30s linear;
  -o-transition: all 0.30s linear;
  padding-right: 330px;
  .drawer-right-handle{
    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -ms-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    right: 335px;
    .icon{
      opacity: 1;
    }
  }
}
#droparea {
  border: 1px solid #bbb;
  width: 50%;
  margin: 35px auto;
  padding: 30px 30px;
}
.draggable{
  cursor: pointer;
}
.community_name, .community_color{
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.3);
}
.community_color{
  background: rgba(229,228,229, 0.9);
}
.community-add-name{
  width: 320px;
  margin: 20px auto;
}
#droparea_placeholder{
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #ccc;
}
.user-image-round{
  height: 237px;
  width: 237px;
  border-radius: 50%;
}
.hidden{
  display: none;
}