// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/*typography*/

body {
  font-family: 'Roboto', sans-serif;
  background: #2D3437;
  color: #c4c4c6;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #c4c4c6;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

/*common css classes*/

.marL10 {
  margin-left: 10px;
}

.marT20 {
  margin-top: 20px;
}

.ui-autocomplete {
  padding-left: 0px;
}

.btn-1 {
  color: #fff;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  min-width: 120px;
  &:hover {
    background: #fba72a;
  }
}

.btn-2 {
  color: #fff;
  display: inline-block;
  background: #fba72a;
  font-weight: 500;
  min-width: 140px;
  margin: 15px 0;
}

.input-field-transparent {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #c4c4c6;
}
.add-btn {
  background: none;color:#c4c4c6;
  border:none;
}
.add-btn .glyphicon {
  margin-right: 10px;
}
.add-btn,.add-timing-btn, .add-res-btn, .add-questionaire-btn, .add-position-btn {
  background: none;
  color:#c4c4c6;
  border:none;
}
.add-btn .glyphicon,.add-timing-btn .glyphicon,.add-res-btn .glyphicon,.add-questionaire-btn .glyphicon{
  margin-right: 10px;
}
.form-control:focus {
  border-color: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

.load-bar {
  height: 5px;
  span {
    background: #fba72a;
    display: block;
    height: 5px;
  }
  &.load-bar-5 span {
    width: 5%;
  }
  &.load-bar-25 span {
    width: 25%;
  }
  &.load-bar-50 span {
    width: 50%;
  }
  &.load-bar-75 span {
    width: 75%;
  }
  &.load-bar-100 span {
    width: 100%;
  }
}

.table {
  &.table-no-border-no-border {
    border: none;
    th, td {
      border: none;
    }
  }
  td {
    padding-left:0px !important;
    vertical-align: top !important;
  }
  thead,.thead {
    color: rgba(255, 255, 255, 0.4);
    th,.th{
      padding:10px 0 !important;
    }
  }
  &.table-no-border > {
    tbody > tr > {
      td, th {
        border: none;
        vertical-align: middle;
        font-weight: 400;
      }
    }
    tfoot > tr > {
      td, th {
        border: none;
        vertical-align: middle;
        font-weight: 400;
        
      }
    }
    thead,.thead > tr > {
      td, th, .th {
        border: none;
        vertical-align: middle;
        font-weight: 400;
      }
    }
    tbody > tr > td, tr.thead > td {
      textarea, input[type="text"] {
        background: none;
        border: 1px solid #c4c4c6;
        padding: 5px 10px;
        outline: none;
      }
    }
    

  }
}

/*template 1*/

.assessment-box {
  margin-top: 45px;
  h2, h5 {
    margin-bottom: 30px;
  }
  p, .ptag {
    margin: 25px 0;
  }
  .savedver {
    font-style:italic;
    margin: 4px 0 !important;
    color: #777;
  }
}

.txtregion {
      background: none;
      border: 1px solid #c4c4c6;
      padding: 10px;
}
.text-date-box {
  #datepicker {
    float: right;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    height: 34px;
    padding: 0px 15px;
  }
  #readonly-datepicker {
    float: right;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    height: 34px;
    padding: 0px 5px;
  }
  span {
    display: block;
    overflow: hidden;
  }
  .text-field {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
  }
}
.btn-mg-loose {
  margin-left:20px;
}
.profile-header {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  display: inline-block;
  min-width: 200px;
  margin-bottom:60px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    overflow: hidden;
  }
}
.profile-header-empty {
  min-height: 130px;
}
.green-font {
  color: green;
}
.red-font {
  color: red;
  &:hover {
    background: none !important;
  }
}
.table tbody tr:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
tr.summary-head {
  border-top: none !important;
  td {
    padding: 0;
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}
.table tr.thead {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-top: none !important;
}
.table tr .no-brd-top {
  border-top: none !important;
}
.table tbody tr:first-child td {
  padding-top:10px;
}

.v-hr-loose {
  padding: 20px;
}
.green-font:hover {
  background: none !important;
}

.table-btn {
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
.preview{
  .table-btn {
    cursor: default;
    &:hover {
      background: none;
    }
  }
}
span[data-toggle="tooltip"] {
	margin: 30px 0;
  font-size: 20px;
	display: inline-block;
	cursor: pointer;
}
.style-radio {
  visibility: hidden;
  position: absolute;
  &:checked + label.radio-label {
    width: 16px;
    height: 16px;
    background: image-url('radio.png') no-repeat left top;
    display: block;
  }
  + label.radio-label {
    width: 16px;
    height: 16px;
    background: image-url('radio.png') no-repeat left bottom;
    display: block;
  }
  &:checked + .radio-circle {
    border: 1px solid #fff;
  }
}

.radio-circle {
  border: 1px solid transparent;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}

.style-radio:checked + .radio-circle {
  border: 1px solid #fff;
}

.radio-circle {
  &.green-circle {
    background: green;
  }
  &.orange-circle {
    background: orange;
  }
  &.red-circle {
    background: red;
  }
}

.timing-table {
  th {
    text-align: center;
  }
  td {
    margin-top: 5px;
    
    textarea {
      height: 33px;
    }
  }
  
}
.questionaire-table, .temp-table {
  th {
    text-align: center;
  }
  td {
    &:first-child{
      width:30% !important;
    }
    margin-top: 5px;
    margin-right:0 !important;
    padding-left:0 !important;
    textarea {
      height: 70px;
      width:100%;
    }
  }
  .input-field-transparent {
    background: rgba(255, 255, 255, 0.2) !important;
    border: none !important;
    color: #c4c4c6 !important;
    text-transform: capitalize !important;
    line-height: 20px !important;
  }
}

#members_dropdown {
  width: 100%;
  .angucomplete-row {
    padding: 12px;
  }
}

.angucomplete-selected-row {
  background: #bbbbbe;
  &:hover {
    background: #bbbbbe;
  }
}

#members_dropdown .angucomplete-row img {
  vertical-align: middle;
}

.searchBox {
  background: #d1d2d5 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  color: #515457;
}
.loose-top-mg {
  margin-top:50px !important;
}
.narrow-top-mg {
  margin-top:10px !important;
}
.no-top-mg {
  margin-top:0px !important;
}
.text-container-tool {
  label {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
  }
  textarea {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
    border: 1px solid #c4c4c6;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 41px;
    padding:10px;
    outline:none;
  }
}
.text-container {
  margin-top:40px;
  label {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
  }
  textarea {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
    border: 1px solid #c4c4c6;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 70px;
    padding:10px;
    outline:none;
  }
  .height-400 {
    height: 250px;
  }
  
  .text-container-left {
    width:35%;
    display:block;
    float:left;
    padding-right:5%;
  }
  .text-container-right {
    width:60%;
    display:block;
    float:left;
  }
  .mg-bottom-30 {
    margin-bottom:30px;
  }
  .txtbox_trans {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #c4c4c6;
    outline: medium none;
    padding: 5px 10px;
  }
}

.text-big-container {
  margin-top:40px;
  label {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
  }
  textarea {
    display: block;
    width: 100%;
    background: no-repeat;
    font-weight: 400;
    color: #fff;
    border: 1px solid #c4c4c6;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 170px;
    padding:10px;
    outline:none;
  }
}
.md-content {
  display: block;
  width: 100%;
  background: no-repeat;
  font-weight: 400;
  color: #fff;
  border: 1px solid #c4c4c6;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 90px;
  padding:10px;
  outline:none;
}
input[readonly="true"] {
  background: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
  color: #c4c4c6 !important;
  pointer-events: none;
}
.tempname {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #c4c4c6;
  padding: 5px;
  color: #c4c4c6;
  margin-bottom:30px;
}
img {
  &.purple-border {
    border-color: #b17fb8;
  }
  &.blue-border {
    border-color: #3cc6f4;
  }
  &.green-border {
    border-color: #3bb54b;
  }
  &.pink-border {
    border-color: #ef4c7a;
  }
}

.res-table td input[type="text"] {
  margin-top: 0px !important;
  color: #97979b;
}

.bootstrap-select .dropdown-toggle {
  background: none;
  color: #97979b;
  .caret {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px dashed;
    display: inline-block;
    color: #97979b;
  }
}

.res-table select {
  width: 100%;
  background: none;
  color: #97979b;
  border: 1px solid #c4c4c6;
}

select.form-control:focus {
  color: #97979b;
  border: 1px solid #c4c4c6;
}
.template_selectbox {
  background: image-url('select-icon.png') no-repeat 90% center;
  select {
    display: block; background:none;
    border: 1px solid #c4c4c6;
    padding: 5px 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #97979b;
    display: block;
    font-size: 14px;
    height: 34px;
    width: 100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none; 
  }
}
.h3tag {
  font-size: 20px;
  color: #fff;
  font-weight:400;
}
.h3tag-summmary {
  font-size: 20px;
  color: #fff;
  font-weight:400;
  margin-top:20px;
}
.label-check {
  input[type="checkbox"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  margin: 15px 0;
  label {
    padding-left: 30px;
    color: #fff;
    font-weight: 400;
    background: image-url('uncheck-box-icon.png') no-repeat left center;
  }
  input[type="checkbox"]:checked ~ label {
    background: image-url('check-box-icon.png') no-repeat left center;
  }
}
.ui-select-search{
  width:600px !important;
}