// Place all the styles related to the user_communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searched-users-box{
	max-height: 250px;
    overflow-y: auto;
}
.searched-users-box li{
	padding:5px 15px !important;
}
.searched-users-box li .info{
  width : 60%;
}
.contacts-box{
	max-height: 560px;
    overflow-y: auto;
}
.selected-li{
	background: rgba(0, 0, 0, 0.2);
}

.color-code li {
    margin: -2px 0 !important;
    width: 30px;
}
