
#destinationFields{
  width: 50%;
  height:500px;
  background: red;
}
.user-info{
  position: relative;
  padding-left: 60px;
  min-height: 60px;
  text-align: left;
  .profile-pic-small{
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    position: absolute;
    left: 0;
  }
}

.onboardingView{
  .btn.btn-link{
    color: #ccc;
    text-decoration: none;
    &:hover{
      color: #ccc;
    }
  }
  .pageStepView{
    &:before{
      content: " ";
      background: rgba(40, 40, 40, 0.7);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top:0;
    };
    background: image-url("createbig.jpeg");
    background-position: center center;
    background-size: cover;
  }
  
  .section-title{
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  #loginSection.pageStepView{
    &:before{
      z-index: -1;
    };
    color: #e5e5e4;
    a{
      font-weight: 700;
      color: #e5e5e4;
    }
    .formWrapper{
      max-width: 480px;
      margin: 0 auto;
    }
    .lightBg{
      background: rgba(229,228,229, 0.4);
    }
    input.form-control{
      background: rgba(229,228,229, 0.8);
      border: none;
      border-radius: 0px;
    }
  }
  
  
  #registrationForm{
    label{
      color: white;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .help-block{
      color: #ccc;
    }    
  }
  
  #addImageForm{
    #profilePicContainer{
      padding-top: 10px;
      .drag-n-drop{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 5px solid #ccc;
        background: rgba(150, 150, 150, 0.5);
        float: right;
      }
    }
    .importButtonsContainer{
      padding-top: 30px;
    }
    .skipBtn{
      text-decoration: none;
      color: #ccc;
      margin-top: 15px;
    }
  }
}


#add_contacts_container{
  color: #ccc;
  #search_input{
    width: 50%;
    margin: 0 auto;
  }
  .left-block{
    text-align: left;
    padding:5px 40px;
  }
  .usersContainer{
    input[type="checkbox"]{
      margin-top: 15px;
    }
    width:60%;
    margin: 0 auto;
    margin-top: 40px;
  }
  #usersList{
    max-height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    .user-info{
      position: relative;
      padding-left: 60px;
      min-height: 60px;
      .profile-pic-small{
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        position: absolute;
        left: 0;
      }
    }
  }
}
@media(max-width:767px){
  #add_contacts_container{
    .usersContainer{
      width:100%;
    }
    #search_input{
      width: 100%;
      margin: 0 auto;
    }
  }
}


#create_community_container, #add_community_container{
  color: #ccc;
  .btn-create{
    margin-top: 20px;
    background: transparent;
    color: #ccc;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 30px;
    color: #ccc;
    text-decoration: none;
  }
  .left-block{
    margin-bottom: 15px;
  }
}
#completion_container{
  color: #ccc;
  .community-card{
    padding: 20px;
    @include border-radius(3px);
    width: 320px;
    margin: 0 auto;
    .profile-pic-small{
      width: 40px;
      height: 40px;
      @include border-radius(50%);
    }
    
  }
}

#email-form-container, .new_post, #reply-form-holder{
  .btn, a{
    text-transform: capitalize !important;
  }

  .vid-button{
    margin: 50px 0 50px 80px;
  }

  .reply-vid-button{
    bottom: 97px;
    left: 93px;
  }


  .community-dropdown{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  img.contacts-img{
    width: 33px
  }
  .btn-group{
    width: 61%;
    button.multiselect{
      background: transparent;
      border: none;
      border-radius: 0px;
      width: 100%;
      text-align: left;
      color: #ccc;
      box-shadow: none;
      .caret{
        float: right;
        top: 7px;
        position: relative;
        right: 3px;
      }
    }
  }
  .multiselect-container{
    border-radius: 0px;
    width: 100%;
    margin-top: -5px;
    border: none;
    background-color: #494C51;
    padding: 15px 0px;
    li{
      text-transform: capitalize;
    }
  }
  .multiselect-container.dropdown-menu > li > a{
    padding: 10px 20px;
    color: #ccc;
  }
  .multiselect-container.dropdown-menu > li > a:hover, .multiselect-container.dropdown-menu > li > a:focus{
    background-color: rgba(255,255,255,0.1);
  }
  .multiselect-container.dropdown-menu > .active > a, .multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > .active > a:focus{
    background: rgba(255,255,255,0.2);
  }


}
.filter-dropdown{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  .btn, a{
    text-transform: capitalize !important;
  }

  img.contacts-img{
    width: 33px
  }
  .btn-group{
    width: 88%;
    button.multiselect{
      .multiselect-selected-text{
        display: none;
      }
      background: transparent;
      border: none;
      border-radius: 0px;
      width: 100%;
      text-align: left;
      color: #ccc;
      margin-bottom: 5px;
      box-shadow: none;
      .caret{
        position: relative;
        right: 12px
      }
    }
  }
  .multiselect-container{
    border-radius: 0px;
    width: 100%;
    margin-top: -5px;
    border: none;
    background-color: #494C51;
    padding: 15px 0px;
  }
  .multiselect-container.dropdown-menu > li > a{
    padding: 10px 20px;
    color: #ccc;
  }
  .multiselect-container.dropdown-menu > li > a:hover, .multiselect-container.dropdown-menu > li > a:focus{
    background-color: rgba(255,255,255,0.1);
  }
  .multiselect-container.dropdown-menu > .active > a, .multiselect-container.dropdown-menu > .active > a:hover, .multiselect-container.dropdown-menu > .active > a:focus{
    background: rgba(255,255,255,0.2);
  }


}


#email-form-container{
  .community-dropdown.email-community {
    .btn-group{
      width: 82%;}
  }
}

