<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Leadership Selection Guidance</h2>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> 6 minutes
            </div>
            <div class="col-md-6 text-right tag-list">
              Develops Others, Competence, Stewards The Profession, Coach
            </div>
          </div>
          <p>Use the Leadership Selection Guidance tool to identify the key qualifications for selecting leaders for key positions within your command.</p>
        </div>

        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Create New</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>