<div class="main-container" ng-show="template_data.current_page==4">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=3" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>

          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input type="checkbox" id="leader_requirement"  ng-model="page.questions[0].status" />

          <label for="leader_requirement" class="h3tag">Leader Requirements (write in guidance as to what is important for this leadership position)</label>
        </div>
        <label class="h3tag">Requirements Model Attributes (refer to FM 6-22)</label>
        <div class="text-container">
          <label>Leader of Character:</label>
          <textarea ng-model="page.questions[1].answer" name="character" placeholder="Click to type"></textarea>

          <label>Leader of Presence:</label>
          <textarea ng-model="page.questions[2].answer"  name="presence" placeholder="Click to type"></textarea>

          <label>Leader with Intellectual Capacity:</label>
          <textarea ng-model="page.questions[3].answer"  name="intellectual_capacity" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center mg-top-30"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>