<div class="main-container" ng-show="template_data.current_page==5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=4" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>

          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input type="checkbox" id="leads-achieves-develops" ng-model="page.questions[0].status" />
          <label for="leads-achieves-develops" class="h3tag">Leader Requirements (write in guidance as to what is important for this leadership position)</label>
        </div>
        <label class="h3tag">Leadership Requiements Model Core Competencies</label>
        <div class="text-container">
          <label>Leads:</label>
          <textarea ng-model="page.questions[1].answer" name="leads" placeholder="Click to type"></textarea>

          <label>Develops:</label>
          <textarea ng-model="page.questions[2].answer" name="develops" placeholder="Click to type"></textarea>

          <label>Achieves:</label>
          <textarea ng-model="page.questions[3].answer" name="achieves" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center mg-top-30"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>