<div class="main-container" ng-show="template_data.current_page==7">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=6" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>

          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input ng-model="page.questions[0].status" type="checkbox" id="performance_assessment" />
          <label for="performance_assessment" class="h3tag">Performance Assessment &amp; Reference Check</label>
        </div>
        <div class="text-container">
          <label>Previous OER/NCOER performance needed for success in this position
            :</label>
          <textarea ng-model="page.questions[1].answer" name="previous_performance" placeholder="Click to type"></textarea>

          <label>Previous Supervisor Recommendation:</label>
          <textarea ng-model="page.questions[2].answer" name="previous_recommendation" placeholder="Click to type"></textarea>

          <label>Previous Senior Rater Recommendation:</label>
          <textarea ng-model="page.questions[3].answer" name="rater_recommendation" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center mg-top-30"> <a href="javascript:void(0);" class="btn btn-1" ng-click="save_template()"  class="btn btn-1">NEXT</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>