<div class="main-container" ng-show="template_data.current_page==8">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=7" class="btn btn-1 ">BACK</a><a ng-href="{{redirectBackTo}}" class="btn btn-1 btn-mg-loose">EXIT</a></p>

          <h2 class="text-center">Check the box for selection processes to use in the evaluation of candidates for this position. Then identify key requirements.</h2>
        </div>
        <div class="label-check">
          <input ng-model="page.questions[0].status"  type="checkbox" id="sample_jobs" />
          <label for="sample_jobs" class="h3tag">Sample Job Capabilities</label>
        </div>
        <div class="text-container">
          <label>Task to Assess:</label>
          <textarea ng-model="page.questions[1].answer" name="task" placeholder="Click to type"></textarea>

          <label>Proficiency level needed:</label>
          <textarea ng-model="page.questions[2].answer" name="proficiency" placeholder="Click to type"></textarea>

        </div>
        <p class="text-center mg-top-30"> <a href="javascript:void(0)" ng-click="save_complete()" class="btn btn-1">Complete</a>  </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>