<div class="main-container" ng-show="template_data.current_page=='preview'" >
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=8" class="btn btn-1 " ng-hide="is_review_template">BACK</a><a ng-href="{{redirectBackTo}}"  class="btn btn-1 btn-mg-loose" ng-hide="is_review_template">EXIT</a></p>

          <h2 class="text-center">You’ve successfully filled out Leadership Selection Guidance template.
            <br/>
            Review your responses below</h2>
        </div>

        <div class="text-date-box">
          <div class="text-container">
            <label>Position to be filled:</label>
            <input ng-model="template_data.pages[2].questions[0].answer" type="text" name="position_name" placeholder="Click to type"  class="form-control tempname" value="2LT"/>
            <div class="text-container-left mg-bottom-30">
              <label>Fill by (Date):</label>
              <input ng-model="template_data.pages[2].questions[1].answer" type="text" name="fillby" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" value="11/26/2013"/>
            </div>
            <div class="text-container-right mg-bottom-30">
              <label>Stays in the job through (Date):</label>
              <input ng-model="template_data.pages[2].questions[2].answer" type="text" name="staysinjob" placeholder="MM/DD/YYYY" class="datepicker txtbox_trans" value="11/26/2013"/>
            </div>
          </div>
        </div>

        <div class="label-check">
          <input type="checkbox" id="leader_requirement" checked="checked" ng-model="template_data.pages[3].questions[0].status" />
          <label for="leader_requirement" class="h3tag">Leader Requirements (write in guidance as to what is important for this leadership position)</label>
        </div>
        <label class="h3tag">Requirements Model Attributes (refer to FM 6-22)</label>
        <div class="text-container narrow-top-mg">
          <label>Leader of Character:</label>
          <textarea ng-model="template_data.pages[3].questions[1].answer"  name="character" placeholder="Click to type"></textarea>

          <label>Leader of Presence:</label>
          <textarea ng-model="template_data.pages[3].questions[2].answer"  name="presence" placeholder="Click to type"></textarea>

          <label>Leader with Intellectual Capacity:</label>
          <textarea ng-model="template_data.pages[3].questions[3].answer"  name="intellectual_capacity" placeholder="Click to type"></textarea>
        </div>

        <div class="label-check">
          <input type="checkbox" id="leader_requirement" ng-model="template_data.pages[4].questions[0].status" />
          <label for="leader_requirement" class="h3tag">Leader Requirements (write in guidance as to what is important for this leadership position)</label>
        </div>
        <label class="h3tag-summmary">Leadership Requiements Model Core Competencies</label>
        <div class="text-container narrow-top-mg">
          <label>Leads:</label>
          <textarea ng-model="template_data.pages[4].questions[1].answer" name="leads" placeholder="Click to type"></textarea>

          <label>Develops:</label>
          <textarea ng-model="template_data.pages[4].questions[2].answer" name="develops" placeholder="Click to type"></textarea>

          <label>Achieves:</label>
          <textarea ng-model="template_data.pages[4].questions[3].answer" name="achieves" placeholder="Click to type"></textarea>
        </div>

        <div class="label-check loose-top-mg">
          <input type="checkbox" id="previous_leadership" ng-model="template_data.pages[5].questions[0].status" />
          <label for="previous_leadership" class="h3tag">Previous Leadership Experience/Training/Education (from Officer Record Brief ORB/DA Form 2-1)</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Work Experience:</label>
          <textarea ng-model="template_data.pages[5].questions[1].answer" name="experience" placeholder="Click to type"></textarea>

          <label>Training/Certifications:</label>
          <textarea ng-model="template_data.pages[5].questions[2].answer" name="training" placeholder="Click to type"></textarea>

          <label>Education:</label>
          <textarea ng-model="template_data.pages[5].questions[3].answer" name="education" placeholder="Click to type"></textarea>
        </div>

        <div class="label-check loose-top-mg">
          <input type="checkbox" id="performance_assessment" ng-model="template_data.pages[6].questions[0].status" checked="checked" />
          <label for="performance_assessment" class="h3tag">Performance Assessment &amp; Reference Check</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Previous OER/NCOER performance needed for success in this position:</label>
          <textarea ng-model="template_data.pages[6].questions[1].answer" name="previous_performance" placeholder="Click to type"></textarea>

          <label>Previous Supervisor Recommendation:</label>
          <textarea ng-model="template_data.pages[6].questions[2].answer" name="previous_recommendation" placeholder="Click to type"></textarea>

          <label>Previous Senior Rater Recommendation:</label>
          <textarea ng-model="template_data.pages[6].questions[3].answer" name="rater_recommendation" placeholder="Click to type"></textarea>
        </div>

        <div class="label-check loose-top-mg">
          <input ng-model="template_data.pages[7].questions[0].status" type="checkbox" id="sample_jobs" checked="checked" />
          <label for="sample_jobs" class="h3tag">Sample Job Capabilities</label>
        </div>
        <div class="text-container narrow-top-mg">
          <label>Task to Assess:</label>
          <textarea ng-model="template_data.pages[7].questions[1].answer" name="task" placeholder="Click to type"></textarea>
          <label>Proficiency level needed:</label>
          <textarea ng-model="template_data.pages[7].questions[2].answer" name="proficiency" placeholder="Click to type"></textarea>
        </div>
        <p class="text-center" ng-hide="is_review_template"> 
          <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
          <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
        </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Leadership Selection Guidance template."></span>
      </div>
    </div>
  </div>
</div>