<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box">
        <div class="container-fluid">
          <p class="marT20 text-right"><a href="javascript:void(0);" ng-click="template_data.current_page=8" class="btn btn-1 " ng-hide="is_review_template">BACK</a><a ng-href="{{redirectBackTo}}"  class="btn btn-1 btn-mg-loose" ng-hide="is_review_template">EXIT</a></p>
          <h2 class="text-center">You’ve successfully filled out Assessing Current Learning Interventions template.
            <br/>
            Review your responses below</h2>
          <h2 class="text-center">Assess current unit leader learning interventions in the subject area of</h2>
        </div>
        <table class="table table-no-border">
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Stimulate Intellect</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Stimulate Intellect</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr ng-repeat="question in template_data.pages[2].questions">
            <td>{{question.text}}</td>
            <td><textarea ng-model="question.answer"  class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Shape Motivation</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Shape Motivation</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr ng-repeat="question in template_data.pages[3].questions">
            <td>{{question.text}}</td>
            <td><textarea ng-model="question.answer"  class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr ng-repeat="question in template_data.pages[4].questions">
            <td>{{question.text}}</td>
            <td><textarea ng-model="question.answer"  class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr class="summary-head">
            <td colspan="2" class="no-brd-top">
              <h2>Provide Experience</h2>
            </td>
          </tr>
          <tr class="thead">
            <td class="th" width="35%">Provide Experience</th>
            <th>Assessment/How to improve learning</th>
          </tr>
          <tr ng-repeat="question in template_data.pages[5].questions">
            <td>{{question.text}}</td>
            <td><textarea ng-model="question.answer"  class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
          <tr ng-repeat="question in template_data.pages[6].questions">
            <td>{{question.text}}</td>
            <td><textarea ng-model="question.answer"  class="md-content" placeholder="Click to type"></textarea></td>
          </tr>
        </table>

        <p class="text-center" ng-hide="is_review_template">
             <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
             &nbsp;&nbsp;&nbsp;
             <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
         </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing Assessing Current Learning Interventions template."></span>
      </div>
    </div>
  </div>
</div>
