<li>
	<div class="chat-img"><img ng-src="{{contactData.image_url}}" class="purple-border"></div>
	<div class="info"><span>{{contactData.rank_name}} {{contactData.first_name}} {{contactData.last_name}}</span><span>USA, {{contactData.state_name}}, {{contactData.base_location}}</span></div>
</li>