  <div class="communities-list purple-border" ng-style="{'border-color': community.color}">
    <ul class="person-list" >
      <li ng-repeat="contact in community.contacts">
        <img ng-src="{{contact.image_url}}">
        <p>{{contact.first_name}} {{contact.last_name}}</p>
       <i class="fa fa-star" ng-if="contact.id==community.owner.id"></i>
       <a ng-if="community.is_owner" ng-click="deleteCommunityContact(community,contact,$index)"><i class="fa fa-close" ng-if="contact.id!=community.owner.id"></i></a>
      </li>
    </ul>
    <button class="setting" ng-if="community.is_owner" ng-click="community.show_box=true"> <i class="fa fa-cog"></i> SETTINGS </button>
    <form>
      <ul class="block inner-form" ng-show="community.show_box">
        <li>
          <label>Community Name</label>
          <input type="text" ng-model="community.name" />
        </li>
        <li>
          <label>Community Color</label>
          <ul class="color-pallete color-code">
            <li class="blue-color" ng-click="community.color='#3cc6f4'"></li>
            <li class="green-color" ng-click="community.color='#3bb54b'"></li>
            <li class="yellow-color" ng-click="community.color='#faa726'"></li>
            <li class="purple-color" ng-click="community.color='#b17fb8'"></li>
            <li class="red-color" ng-click="community.color='#b80000'"></li>
            <li class="pink-color" ng-click="community.color='#ef4c7a'"></li>
          </ul>
        </li>

        <li>
          <label>Community Leader</label>        
          <angucomplete-alt id="members"
                            placeholder="Search Contacts"
                            pause="400"
                            selected-object="community.owner"
                            remote-url="/search_all_users.json?query="
                            title-field="first_name,last_name"
                            search-fields="first_name, last_name"
                            input-class="form-control input-field-transparent">
          </angucomplete-alt>
        </li>
        <li style="visibility:hidden">
          <label>Community Status</label>
          <input type="text"/>
        </li>
        <li>
          <div class="community-delete">
            <a class="community-init-delete" onclick="$(this).hide().siblings(&#39;.community-confirm-delete&#39;).show();" href="javascript:void(0)">
              <span>Delete this community</span>
            </a>
            <a class="community-confirm-delete" style="display:none;"  rel="nofollow"  href="javascript:void(0);" ng-click="deleteCommunity(community.id,$index)">
              <span>Click again to delete</span>
            </a>
          </div>
        </li>
        <li>
          <button type="submit" ng-click="save_community(community)">SAVE</button>
        </li>
      </ul>
    </form>
  </div>