<div>
    <table class="table table-no-border questionaire-table">
        <thead>
        <th width="30%">Name</th>
        <th width="35%">Ways to Leverage RM</th>
        <th width="35%">Support to Provide RM</th>
        </thead>
        <tbody>
        <tr ng-repeat="example in examples">
            <!--<td><input id="template-tags_1" name="template-tags" class="form-control input-field-transparent " type="text" placeholder="Search contacts" /></td>-->
            <td>
                <angucomplete-alt id="members"
                                  placeholder="Search Contacts"
                                  pause="400"
                                  selected-object="example.mentee"
                                  remote-url="/users/contacts.json?query="
                                  remote-url-data-field="results"
                                  title-field="first_name,last_name"
                                  search-fields="first_name, last_name"

                                  image-field="image"
                                  input-class="form-control input-field-transparent"></angucomplete-alt>
            </td>
            <td><textarea ng-model="example.to_Leverage" name="leverage_rm_1" placeholder="Click to type"></textarea></td>
            <td><textarea ng-model="example.to_provide" name="provide_rm_1" placeholder="Click to type"></textarea></td>
        </tr>

        </tbody>
    </table>

    <button type="button" ng-click="newExample()" class="add-questionaire-btn"><span class="glyphicon glyphicon-plus"></span>Add Additional Assignment Demands</button>
</div>