<div class="modal-header">
    <button type="button" class="close" data-ng-click="modalOptions.close()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">  {{modalOptions.headerText}}</h3>
</div>
<div class="modal-body"> 

<div>


</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>