<div>
    <table class="table table-no-border temp-table">
        <thead>
        <th width="35%">Position</th>
        <th width="65%">Roles &amp; Responsibilities</th>
        </thead>
        <tbody>
        <tr ng-repeat="position in positions">
            <td><textarea ng-model="position.title" placeholder="Click to type"></textarea></td>
            <td><textarea ng-model="position.roles_responsibilities"  placeholder="Click to type"></textarea></td>
        </tr>

        </tbody>
    </table>

    <button type="button" ng-click="newPosition()" class="add-position-btn"><span class="glyphicon glyphicon-plus"></span>Add a Position</button>
</div>