<div>
  <table class="table table-no-border timing-table" id="timing-table">
    <thead>
    <th>Date</th>
    <th>Observation Window</th>
    <th>Name of Leader</th>
    <th>Situation to Observe</th>
    </thead>
    <tbody>
    <tr ng-repeat="productive_time in productiveTimes">
      <td><input type="text" ng-model="productive_time.date" placeholder="MM/DD/YYYY" class="datepicker" /></td>
      <td><input type="text" ng-model="productive_time.observation_window" placeholder="HH:MM" class="timepicker" /></td>
      <!--<td><input type="text" ng-model="productive_time.leader"  placeholder="Search Contacts" class="searchBox" /></td>-->
      <td>

        <angucomplete-alt placeholder="Search members"
                          pause="400"
                          selected-object="productive_time.leader"
                          remote-url="/users/contacts.json?query="
                          remote-url-data-field="results"
                          title-field="first_name,last_name"
                          search-fields="first_name, last_name"
                          image-field="image"
                          input-class="searchBox"></angucomplete-alt>

      </td>
      <td><textarea ng-keyup="resize($event)" data-autoresize placeholder="Click to type" ng-model="productive_time.situation_to_observe" ></textarea></td>
    </tr>


    </tbody>
  </table>
  <button type="button" ng-click="newProductiveTime()" class="add-timing-btn"><span class="glyphicon glyphicon-plus"></span>Add Additional Observation Windows</button>
</div>
