<div>
  <table class="table table-no-border res-table">
    <thead>
    <th width=85%>Responsibilities of this level/position</th>
    <th>Readiness</th>
    </thead>
    <tbody>
    <tr ng-repeat="responsibility in responsibilities">
      <td width=85%><input ng-model="responsibility.text" type="text" placeholder="Click to type" class="form-control" /></td>
      <td><div class="template_selectbox"><select ng-model="responsibility.readiness"><option value="1">1</option><option value="2">2</option></select></div></td>
    </tr>
    </tbody>
  </table>
  <button type="button" class="add-res-btn" ng-click="newResponsibility()"><span class="glyphicon glyphicon-plus"></span>Add Additional Responsibility</button>
</div>
