<table class="table table-no-border yesNotable">
  <thead>
  <tr>
    <th width=58%>Indicators of the Health of Unit Leader Development</th>
    <th>Status</th>
    <th>Action Needed</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="question in questionsData">
    <td>{{question.text}}</td>
    <td>
      <input type="radio" ng-value="1" ng-model="question.status" class="style-radio" name="challenge_status-{{pageNumber}}-{{$index}}" id="challenge_green-{{pageNumber}}-{{$index}}" /><label  class="radio-circle green-circle" for="challenge_green-{{pageNumber}}-{{$index}}"></label>
      <input type="radio" ng-value="2" ng-model="question.status" class="style-radio" name="challenge_status-{{pageNumber}}-{{$index}}" id="challenge_orange-{{pageNumber}}-{{$index}}" /><label class="radio-circle orange-circle" for="challenge_orange-{{pageNumber}}-{{$index}}"></label>
      <input type="radio" ng-value="3" ng-model="question.status" class="style-radio" name="challenge_status-{{pageNumber}}-{{$index}}" id="challenge_red-{{pageNumber}}-{{$index}}" /><label class="radio-circle red-circle" for="challenge_red-{{pageNumber}}-{{$index}}"></label>
    </td>
    <td><textarea name="leader_challenge" placeholder="Click to type" ng-model="question.answer"></textarea></td>
  </tr>
  </tbody>
</table>


