 <div>
 <table class="table table-no-border yesNotable">
  <thead>
    <tr>
      <th>Assignment Demands</th>
      <th>Part of this Job</th>
      <th>Is Leader Ready for this Demand</th>
      <th>Support Leader Needs to Succeed</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="question in questionsData" >
      <td ng-hide="question.custom_question"><strong>{{question.title}}</strong> {{question.text}}</td>
      <td ng-show="question.custom_question"><strong>{{question.title}}</strong><br><input type="text" name="additional_assignment" placeholder="Click to add your own" ng-model="question.text"></td>
      <td><input type="checkbox" class="style-radio" id="{{pageNumber}}_turnaround_{{$index}}" ng-model="question.is_part_of_job"/><label class="radio-label" ng-model="question.is_part_of_job" for="{{pageNumber}}_turnaround_{{$index}}"></label> </td>
      <td>
         <yes-no-switch status="question.status"></yes-no-switch>
      </td>
      <td><textarea name="turn_around" ng-model="question.answer" placeholder="Click to type"></textarea></td>
    </tr>
  </tbody>
</table>
<button type="button" class="add-btn" ng-show="addQuestion" ng-click="newQuestion()"><span class="glyphicon glyphicon-plus"></span>Add Additional Assignment Demands</button>
</div>