<table class="table table-no-border yesNotable">
  <thead>
    <tr>
      <th>Key Roles and Responsibilities</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="question in questionsData">
      <td>{{question.text}}</td>
      <td>
          <yes-no-switch status="question.status"></yes-no-switch>
      </td>
    </tr>
  </tbody>
</table>