<div class="main-container" ng-show="template_data.current_page==1">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 assessment-box"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right">EXIT</a>
        <div class="container-fluid">
          <h2>Template: Assignment Demands Assessment</h2>
          <div class="mt10 mb35 row">
            <div class="col-md-6">
              <i class="fa fa-clock-o icon icon-lg icon-light"></i> 6 minutes
            </div>
            <div class="col-md-6 text-right tag-list">
              Develops Others, Stewards The Profession, Coach
            </div>
          </div>
          <p>Use the Assignment Demands Assessment tool to assess the readiness of a leader for key
            job demands. Use this tool to add job demands for purposes of leader development. If the
            leader has no experience in the demand, identify the support s/he will need to maintain unit
            performance.</p>
        </div>
        <div class="text-date-box" style="display:none">
          <input type="text" id="datepicker" class="input-field-transparent" placeholder="Choose Date">
          <span>
          <input type="text" name="template_name" placeholder="Type" class="form-control input-field-transparent text-field">
          </span> </div>
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()" class="btn btn-2">Create New</a> </p>
      </div>
    </div>
  </div>
</div>