<div class="main-container" ng-show="template_data.current_page==3">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=2"  class="btn btn-1 pull-right marL10 marT20">BACK</a>
          <div class="profile-header"><img src="{{template_data.mentee.image}}" ><span>{{template_data.mentee.title}}</span> </div>
          <h2 class="text-center">Please fill out the below in accordance to the readiness of the leader for this
            assignment's key demands.</h2>
        </div>
        <!--table-->
        <three-step-questions questions-data="page.questions" page-number="$index" add-question="false"></three-step-questions>
        <!--/table-->
        
        <p class="text-center"> <a href="javascript:void(0);" ng-click="save_template()"class="btn btn-1">Next</a> </p>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>