<!--main container-->
<div class="main-container" ng-show="template_data.current_page=='preview'">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">
        <div class="container-fluid"> <a ng-href="{{redirectBackTo}}" class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">EXIT</a><a href="javascript:void(0);" ng-click="template_data.current_page=5"   class="btn btn-1 pull-right marL10 marT20" ng-hide="is_review_template">BACK</a>
          <div class="profile-header"> <img src="{{template_data.mentee.image}}" ><span>{{template_data.mentee.title}}</span></div>
          <h2 class="text-center">You’ve successfully filled out the Assignment Demands Assessment template.<br/>
            Review your responses below</h2>
        </div>
        <!--table-->
        <table class="table table-no-border yesNotable">
          <thead>
            <tr>
              <th>Assignment Demands</th>
              <th>Part of this Job</th>
              <th>Is Leader Ready for this Demand</th>
              <th>Support Leader Needs to Succeed</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="question in collectQuestions(template_data.pages, 3)">
              <td>{{question.title}} {{question.text}}</td>
              <td><input type="checkbox" disabled = 'disabled' ng-model="question.is_part_of_job" class="style-radio" id="preview_turnaround_{{$index}}" /><label class="radio-label" for="preview_turnaround_{{$index}}"></label> </td>
              <td>
                <span ng-show="question.status==1" class="table-btn green-font" data-type="yes">Yes</span>
                <span ng-show="question.status==2" class="table-btn red-font" data-type="no">No</span>
              </td>
              <td>{{question.answer}}</td>
            </tr>

          <tr ng-hide="is_review_template">
              <td colspan="4" align="center">
                   <button type="button" class="btn btn-1" data-toggle="modal" data-target="#sendTemplateModal">Send</button>
                   &nbsp;&nbsp;&nbsp;
                   <a ng-href="{{redirectBackTo}}" class="btn btn-1">Save and Exit</a>
              </td>
          </tr>
          </tbody>
        </table>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="You are currently viewing the Assignment Demands Assessment Template."></span>
      </div>
    </div>
  </div>
</div>
<!--/main container-->