<!DOCTYPE html>
<html>
<head>
  <title>RowantechLeadership</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="pageWrapper" class="container-fluid">
  <%= yield %>
  <div class="modal fade" id="modal-container"></div>
  <div class="modal fade" id="image-modal"></div>
</div>

</body>
</html>
