<!DOCTYPE html>
<html>
<head>
  <title>RowantechLeadership</title>
  <%= stylesheet_link_tag    'template_application', media: 'all' %>
  <%= javascript_include_tag 'template_application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<script type="text/javascript">
  <%= render "template_data_service.js.erb" %>
</script>

<div id="pageWrapper" class="container-fluid" ng-app="resourceTemplate" >
  <%= yield %>

  <div class="modal fade" id="modal-container"></div>
</div>

</body>
</html>
